[2015-09-16 21:24] pokeball99 opened #1 "what does this do?"
i can't tell based on the src. plus there is no compiled version for me to see.
like is it client side? server side? what does this even do?

[2015-09-16 22:56] immortaleeb commented on #1
Haha, first of all let me say that I find it quite funny that someone is actually interested in a mod that hasn't even had its first alpha release yet. I'm actually interested in knowing how you came across this repo and why you seem so interested in this mod.

As for your questions: I'm not 100% qualified to answer your questions (I didn't work on this mod), but I'll try my best to tell you what

[2015-09-17 06:29] rubensworks commented on #1
Exactly, see this mod as an integrated mix between bundled redstone, BC gates and AE-style networks.
The API of this mod has been designed in such a way that it is very easy to add new readers/writers for other mods. It would for example be possible (once these mods update), to take some input from Railcraft signals, process in through the network, and changes the mode of a TD itemduct.

And as @i

[2016-02-01 13:13] rubensworks opened #2 "Issues before 0.2.0 release"
- [x] Check all item transformations when held in hand
- [x] Entity value type not printing in display part when read from a world reader in SMP
- [x] Building on travis possibly fails LP gui opening, just like https://github.com/CyclopsMC/IntegratedDynamics/commit/9e16484d6f4990022351649975afa9f049ed8132
- [x] Crash when setting to peaceful while reading entity: http://hastebin.com/wucijesoqa.avr

[2016-02-01 14:01] immortaleeb opened #3 "Proxy (x,z) dependence bug"
1. Place a proxy on (x1, y1, z1) in a network
2. Bind a proxy card and put it in a screen in the same network: it will correctly output any variables in the top proxy slot.
3. Break the proxy with a wrench (shift+rightclick)

If you place that proxy on a position (x2, y2, z2) in the network where (x1, z1) == (x2, z2) then any values in the top proxy slot will correctly be shown on the screen.

If

[2016-02-01 16:09] immortaleeb opened #4 "Redstone cable connecting crash"
I had a redstone writer output to a piece of redstone that goes straight into a noteblock.
When I placed a second noteblock to the right of the redstone cable (and under an ID cable) and the server crashed
http://hastebin.com/givotuteku.avrasm

[2016-02-02 19:36] rubensworks commented on #3
Apparently it was independent of the (x,z) coordinates after all.
The problem was that the cable connections were saved into the item and not reset after placement.

[2016-02-02 20:35] #4 closed, assigned to nobody

[2016-02-02 20:35] #3 closed, assigned to nobody

[2016-02-05 12:58] #2 closed, assigned to nobody

[2016-03-17 19:20] rubensworks commented on #1
I guess this is as good a time as any to close this issue...
More information can be found on [Curseforge](http://minecraft.curseforge.com/projects/integrated-dynamics).

[2016-03-17 19:20] #1 closed, assigned to nobody

[2016-03-17 19:47] ghost opened #5 "Crash when in the same pack as (Greg)TechReborn, apparently"
---- Minecraft Crash Report ----

WARNING: coremods are present:
  ThaumcraftLoader (Thaumcraft-1.8.9-5.2.4.jar)
  EnderCorePlugin (EnderCore-1.8.9-0.3.0.1-beta.jar)
  CoreXU2 (extrautils2-1.8.9-alpha--0.0.0.jar)
  CoreMod (Aroma1997Core-1.8.9-1.0.4.1.jar)
Contact their authors BEFORE contacting forge

// But it works on my machine.

Time: 3/17/16 9:35 PM
Description: Initializing game

java.lang.

[2016-03-17 19:47] rubensworks opened #6 "Crystalized Menril has no breaking tool"
It can't be broken by hand or pickaxe.

[2016-03-17 19:48] immortaleeb opened #7 "You always have to right click with an empty hand on a drying basin to get the output item"
This makes it so you can only get one item at a time from the drying basin and if you have a block in your hand while rightclicking, you actually place it on top of the basin.
Very annoying.

[2016-03-17 19:49] rubensworks opened #8 "Crash with basemetals mod"
http://pastebin.com/wxVe2N79

Source: http://minecraft.curseforge.com/projects/integrated-dynamics?comment=15

[2016-03-17 19:55] immortaleeb opened #9 "Some item models don't look good when in your hand"
http://cl.ly/14393T2s072R
http://cl.ly/1Q210C3h3V1B

[2016-03-17 20:28] rubensworks opened #10 "Redstone readers/writers might be too expensive"
I might want to reduce it to one redstone block instead of two.

[2016-03-17 20:33] SunnyTD opened #11 "[Crash] w/ buildcraft"
Minecraft Log: https://gist.github.com/SunnyTD/f710362a5001919bfe95
Mod Loader Log: https://gist.github.com/SunnyTD/ae786f9975571f3f3916

[2016-03-17 20:35] rubensworks commented on #11
Thanks, probably related to #5

[2016-03-17 21:30] immortaleeb opened #12 "Item frame rotation in entity reader always 0"
Can not get the entity reader to display something different from 0

[2016-03-17 21:36] #5 closed, assigned to nobody

[2016-03-17 21:36] #11 closed, assigned to nobody

[2016-03-17 21:36] #8 closed, assigned to nobody

[2016-03-17 21:43] rubensworks opened #13 "Random client crash"
Something with models...

[code]

Also:

[code]

[2016-03-17 22:09] immortaleeb opened #14 "Can not search by symbol in logic programmer"
It's a lot easier to search for '*' instead of 'multiplication'

[2016-03-17 22:21] rubensworks opened #15 "Choice operator should check conditional type"
For example "bool ? number : integer" won't work.

[2016-03-17 22:21] rubensworks opened #16 "Breaking part with hand may corrupt block"
And even the complete network

[2016-03-17 22:22] rubensworks opened #17 "Crash when going to next page in effect writer aspect properties"
Occurs in SMP

[2016-03-17 22:57] rubensworks opened #18 "Divide by zero crash"
Can occur when changing redstone clock pulse and interval.

[code]

[2016-03-18 17:28] Sailren opened #19 "server crash when breaking parts to fast"
redeem here: http://paste.ubuntu.com/15416205/

[2016-03-18 17:29] rubensworks commented on #19
Thanks for reporting this.
Were you breaking the parts with the wrench or not? If not, this is probably related to #16.

[2016-03-18 17:40] Sailren commented on #19
creative mode, just testing stuff

it was like, creative block -> cable ->reader -> chest

[2016-03-18 21:03] rubensworks opened #20 "Menril Trees may spawn too frequently"
Maybe look into reducing their spawn rate.

[2016-03-19 11:33] rubensworks opened #21 "Crash when breaking part after MCMP conversion"
When an MCMP conversion has occured, breaking a part with the hand results in a crash when fetching part state.

[2016-03-19 12:39] rubensworks commented on #12
Can't reproduce.

[2016-03-19 12:39] #12 closed, assigned to nobody

[2016-03-19 13:58] #6 closed, assigned to nobody

[2016-03-19 13:58] #7 closed, assigned to nobody

[2016-03-19 13:58] #14 closed, assigned to nobody

[2016-03-19 13:58] #15 closed, assigned to nobody

[2016-03-19 13:58] #16 closed, assigned to nobody

[2016-03-19 17:11] #17 closed, assigned to nobody

[2016-03-19 17:11] #18 closed, assigned to nobody

[2016-03-19 17:11] #20 closed, assigned to nobody

[2016-03-19 17:11] #21 closed, assigned to nobody

[2016-03-19 17:27] #10 closed, assigned to nobody

[2016-03-19 17:44] rubensworks commented on #13
Latest release (0.3.3) should've fixed this. I'll leave this open for a while, just in case it isn't fixed.

[2016-03-19 17:44] rubensworks commented on #19
Latest release (0.3.3) should've fixed this. I'll leave this open for a while, just in case it isn't fixed.

[2016-03-28 19:52] dahjin opened #22 "Squeezer wont squeeze logs into liquid."
Squeezer wont squeeze logs into liquid.

[2016-03-28 19:53] rubensworks commented on #22
Last time I checked it worked just fine.
Are you jumping on it?
Are you certain that you are using the logs and not the planks?

[2016-03-28 19:57] dahjin commented on #22
Yes. I jump on it. It goes all the way down. Nothing happens.
It also seems that there is another recipe getting registered that makes logs do nothing when squeezed.
http://i.imgur.com/XwFws6I.jpg

[2016-03-28 19:59] rubensworks commented on #22
That might be the problem indeed. Could you send me your mod list? I'll look into it.

[2016-03-28 20:05] dahjin commented on #22
http://i.imgur.com/9Em4XSO.png

[2016-04-03 19:55] rubensworks opened #23 "Menril Trees lighting issues"
Disable lighting?
MC does some odd things when trees are worldgen'ed, as can be seen in this picture: http://i.imgur.com/llsTfcm.jpg

[2016-04-03 20:49] BBoldt opened #24 "Meneglin biome too common?"
I seem to get it at extreme amounts:

http://i.imgur.com/8LeXtMJ.png

[2016-04-04 08:07] rubensworks commented on #24
It's possible that this can occur by pure chance, due to the way biomes are grouped.

If you go out a few thousand blocks, does it still spawn that frequently? If so, which biome-tweaking mods are you using?

[2016-04-04 08:18] BBoldt commented on #24
I've been seeing it in every single test world i've generated. I'll do some further testing later this week. I was using BiomesOPlenty worldtype there. RWG is also installed, but not active on that world.

[2016-04-04 08:20] rubensworks commented on #24
I haven't tested it with BOP yet, maybe I should do some additional tweaking to make it work decently there as well. I'll look into it as soon as I find some time :)

[2016-04-04 08:20] #19 closed, assigned to nobody

[2016-04-04 08:20] #13 closed, assigned to nobody

[2016-04-05 17:06] #22 closed, assigned to nobody

[2016-04-05 17:07] rubensworks commented on #22
@dahjin Could you the following dev build?: https://bintray.com/cyclopsmc/dev/IntegratedDynamics/1.8.9-0.3.3-190/view
This might be a fix for your issue, if not, please let me know and I'll have another look at it.

[2016-04-13 10:37] dahjin opened #25 "Network corruption due to chunk unloading"
http://pastebin.com/gAp3Uhf5

[2016-04-13 10:51] codewarrior0 commented on #25
I caused this crash by doing the following, roughly:

Placed a variable store and a block reader facing a Stone block.  Loaded the reader's Block aspect into a variable card. Used the programmer to create a `breaksound` card from it. Placed a sound writer and put the card into it. The sound played constantly until I removed the card.

Some minutes later (after leaving to harvest logs and returning

[2016-04-13 11:10] rubensworks commented on #25
Thanks for reporting this, I'll look into it.

[2016-04-19 18:59] rubensworks commented on #25
@codewarrior0 It looks like this issue was caused by a network that got corrupted.
Do you by any chance remember if you did anything else to the network except for unloading it?

[2016-04-20 02:53] codewarrior0 commented on #25
Don't think I did anything else. I set it up as described, then left to go harvest menril logs. When I came back, my buddy was in the base so I said "hey come look at this" and put the card back into the sound writer, crashing the server.

[2016-04-20 06:11] rubensworks commented on #25
In that case this will probably be part of a larger issue, which I have to debug some further.

Do you remember what your network looked like? (Which readers/writers were part of it and how they were connected through variable cards)

In the meantime, you should be able to reset your network(s) by simply placing/removing one cable from the network, this should make everything work again.
The sound

[2016-04-23 15:25] MUHAKLorTheDorfTrottel4Github opened #26 "Place cable against cable crashes"
in creative when i click on a cable with an cable in right hand> game crush
clicking on emty block near cable, cable is placed correctly

Mc 1.9 forge 65, CyclopsCore-1.9-0.5.6.jar;IntegratedDynamics-1.9-0.3.4.jar

[2016-04-23 15:26] rubensworks commented on #26
@MUHAKLorTheDorfTrottel4Github Thanks for the issue, but could you also provide a link to the crashlog?

[2016-04-26 12:15] rubensworks commented on #26
@MUHAKLorTheDorfTrottel4Github I'm not able to reproduce your crash, please provide a detailed description on how to reproduce this crash and most importantly: a crash log.

[2016-04-26 15:04] rubensworks opened #27 "Crash with RF API"
See CyclopsMC/CyclopsCore#16

[2016-04-26 15:05] rubensworks commented on #27
Fixed in a38b943cdda9db8a74a8aa05d5b23e9f1bd7e71a

[2016-04-26 15:05] #27 closed, assigned to nobody

[2016-04-26 17:19] novasolarius opened #28 "Drying basin only works once"
Trying to make menril blocks. Sadly, the drying basin seems bugged. It made the first menril block just fine, but subsequent attempts have only resulted in the basin filling, keeping the resin inside for a bit, then emptying all of a sudden. Breaking and replacing doesn't help. Making a new basin does, but only for one block.

I'm not sure how relevant this is, but a used basin has eleven NBT tags

[2016-04-26 17:20] rubensworks commented on #28
1.9 or 1.8.9?
Which mod version are you using?

[2016-04-26 17:20] novasolarius commented on #28
1.9. I'm running ID 0.3.6, of course.

[2016-04-27 15:37] #28 closed, assigned to nobody

[2016-05-03 08:28] rubensworks opened #29 "Conflicting squeezer recipe"
"
I tried to play with "Integrated Dynamics" and wanted to get "Menril Resin" so i build a Squeezer, placed a Menril Log inside and started jumping on it.
Instead of the Resin i got a piece of "Mithril Blend" from Base Metals.
"

[2016-05-04 02:54] Insufficient-Charge opened #30 "(1.8.9) Menril logs in squeezer = Mithril powder (Base metals)"
As the title says, I've been putting my menril logs into the squeezer, jumping on the squeezer to squeeze it, and, with my drying basins next to it, out pops Mithril Powder from the Base Metals mod. No idea why, menril is not mithril, and they are not ore dictionaried with each-other. I also looked up the recipe in JEI. The recipe for Mithril Dust in a squeezer litterly says nothing = mithril dust

[2016-05-04 02:55] Insufficient-Charge commented on #30
Sorry, forgot to label as bug D:

[2016-05-04 02:57] Insufficient-Charge commented on #30
DANGIT IM TO LATE :P someone already reported

[2016-05-04 02:57] #30 closed, assigned to nobody

[2016-05-04 02:59] Insufficient-Charge commented on #29
Just accidentally made a dupe of this issue, please ignore it D: Also in JEI the recipe for the mithril blend inside a squeezer is "nothing" ... so yea.
![2016-05-03_21 52 37](https://cloud.githubusercontent.com/assets/13188566/15004257/59a23d12-117a-11e6-898d-86da06e58285.png)

[2016-05-04 03:06] Insufficient-Charge opened #31 "Menril trees not spawning in already existing worlds"
As #23 shows that there usually is lots of Menril trees around...this made me wonder, because I could not find a single menril tree in my singleplayer world. Even in newly generated chunks.

However, in my modpack I added many mods to my modpack AFTER I generated my world, which is normally a bad idea... but yea, just saying.

[2016-05-04 03:07] Insufficient-Charge commented on #31
I also live in a forest, and also searched a forest that was generated with Integrated Dynamics installed.

[2016-05-04 05:27] DanWehr opened #32 "[1.9-0.3.7] Issues copying variables in crafting interfaces"
In the latest version I am unable to copy variables properly with some crafting interfaces. Using the personal 2x2 crafting area, or the vanilla workbench 3x3, I can place a stored variable and a blank, and it'll correctly show me a copy would be produced. When I pick up the copy though, it shows a red zero on it. Placing it in my inventory, it immediately disappears and the original variable gets

[2016-05-04 06:15] rubensworks commented on #31
Last time I tested this, this worked just fine.
What mod and MC version are you using?

[2016-05-04 12:19] Insufficient-Charge commented on #31
What is it with your issues section that aalways makes me go back on my word ;/ second time in 10 hours... Just found a menril tree... sorry for wasting your time D:

[2016-05-04 12:19] #31 closed, assigned to nobody

[2016-05-06 20:28] rubensworks commented on #29
(Probably) fixed in CyclopsMC/CyclopsCore@d02db80d6d55757c0cd35268ceacda4465f31372
Currently preparing a new release.

[2016-05-06 20:28] #29 closed, assigned to nobody

[2016-05-06 21:27] #32 closed, assigned to nobody

[2016-05-07 06:49] Amperthorpe opened #33 "Huge FPS drop when using variables."
I go from a solid 60 FPS to around 20 when I put my variable card in a display screen. I got 3 RF stored cards, used sub on 2, then used sum on that variable card with my other rf storage card. I put the result variable card in a display screen and the rest of the modules in storage, and it get a huge FPS drop for as long as the variable card is in the screen.

[2016-05-07 07:02] Amperthorpe opened #34 "Crash when placing C&B bit in a cable block."
http://pastebin.com/UuwER4dj

[2016-05-07 07:24] rubensworks commented on #33
Do you experience the same FPS drops when inserting other variables in the displays?

[2016-05-07 07:25] rubensworks commented on #34
Please provide more information as to what caused this crash.
This looks like a C&B crash, so it might be best to post it on their issue tracker as well.

[2016-05-07 07:33] Amperthorpe commented on #34
Sure, I'll put it over there. I just had a grass bit, I right clicked the ground in the block of a cable and it crashed.

[2016-05-07 07:45] Amperthorpe commented on #33
Nope, I summed the slots of 2 chests and it works fine.

[2016-05-07 07:54] Amperthorpe commented on #33
I also just did another multi level deep comparison and it's fine with that too.

[2016-05-07 08:02] Amperthorpe commented on #33
Oh, I found another case for the lag. It's a very simple Ent reader giving the ent name right into a screen. It works, but as long as the card is in the screen I get 20 FPS.

[2016-05-07 08:16] Amperthorpe opened #35 "Facade rendering issue"
http://i.imgur.com/nn1rZPs.png
Texture has wrong rotation, and clouds render through it.

[2016-05-07 09:03] rubensworks commented on #33
You can try lowering the tick rate of the display, this will reduce the frequency at which the variable will be evaluated. You can change this rate by clicking on the icon on the top right on the display gui.
This _should_ increase tick rate.

In the next version, I will try to do some optimization to try reducing lag.

[2016-05-07 09:05] rubensworks commented on #35
How did you achieve this? Is there something special about this (facaded) block? Or are you somehow standing inside that block?

[2016-05-07 16:03] Amperthorpe commented on #35
Nothing special, just a stone facade. I just right clicked the cables, I'm standing in front of the blocks.

[2016-05-07 20:46] b0bst3r opened #36 "[1.9] Mod conflict with Modular Systems"
Added in Integrated Dynamics 1.9-0.3.8 and it causes the following crash: http://pastebin.com/UGsqiQDN

Remove Modular Systems and no crash occurs
Remove Integrated Dynamics and no crash occurs
Put them together and BOOM!!

Don't know who's problem this is @Dyonovan

[2016-05-07 20:48] rubensworks commented on #36
Huh, that seems like a tile entity name scoping issue. I though those were handled automatically by Forge. I guess I'll have to look into it.

[2016-05-07 21:02] b0bst3r commented on #36
Yeah I found the issue on Modular Systems github https://github.com/TeamCoS/Modular-Systems/issues/123

[2016-05-07 21:51] Dyonovan commented on #36
Ive never seen this before either. Forge is supposed to take care of this when you register the tileentity

[2016-05-07 21:57] Dyonovan commented on #36
Where are you registering your tile entities? I don't see any calls to GameRegistry.registerTileEntity?

[2016-05-08 01:39] b0bst3r opened #37 "[1.9] Crash placing Inventory Writer against an Advanced Generators Item Input port"
http://pastebin.com/BcLTJ6Yr

Quite why it's throwing up a malisis's error I dunno.

[2016-05-08 10:18] rubensworks commented on #36
@Dyonovan The tile registration is abstracted in CyclopsCore here: https://github.com/CyclopsMC/CyclopsCore/blob/master-1.9/src/main/java/org/cyclops/cyclopscore/config/configurabletypeaction/BlockAction.java#L94

But it looks like `GameRegistry#registerTileEntity` does _not_ take into account mod scoping. It's strange that I never had such an issue before...
It looks like we will have to rename a

[2016-05-09 18:58] squirrelkiller opened #38 "Crash when Energy Battery is ticking"
[code]

Placed coal in generator beside battery block, RF was not enabled, it was for demo reasons.

[2016-05-09 19:12] squirrelkiller commented on #38
Additional information: A minor issue, I can't break the blocks even in creative they stay there now.

[2016-05-11 01:14] squirrelkiller opened #39 "Crash when breaking cabling in creative"
[code]

[2016-05-11 02:43] squirrelkiller opened #40 "Light Panel light stays after removal"
The light produced by the panels does not dissipate after the panel is removed. The area remains permanently lit.

[2016-05-11 02:49] squirrelkiller opened #41 "Possible Bug With Machine Reader"
It does not seem to view a furnace as a machine at all. Is this intended or a bug?

[2016-05-11 02:51] squirrelkiller opened #42 "Write Button occasionally not working"
After an extended period of playtime all instances of the write button fail to perform any form function. Reloading Minecraft completely appears to fix this.

[2016-05-11 06:11] rubensworks commented on #39
@squirrelkiller Could you explain in detail the steps that are required in order to reproduce this crash?

[2016-05-11 06:16] rubensworks commented on #41
It's not a bug, it's part of an addon mod that isn't released in public just yet.
If you want, you can download test it here: https://dl.bintray.com/cyclopsmc/dev/org/cyclops/commoncapabilities/CommonCapabilities/1.8.9-1.0.0-6/:CommonCapabilities-1.8.9-1.0.0-6.jar
It basically just adds better integration between various machines vanilla and non-vanilla.
But since I plan on doing a lot more with t

[2016-05-11 06:16] #41 closed, assigned to nobody

[2016-05-11 06:17] rubensworks commented on #42
Do you see any errors in the console when this happens?

[2016-05-11 06:40] squirrelkiller commented on #41
Purely out of curiosity, why is this being treated as an add-on? It just seems odd that it is not just part of the mod by default, normally that is not the kind of thing I expect to see as an addon, or at least not expect the vanilla portion to be an add on. But just my opinion.

[2016-05-11 06:42] squirrelkiller commented on #42
I do not see any errors in the console. No.

[2016-05-11 06:46] rubensworks commented on #41
The idea behind CommonCapabilities is that it can be reused across several mods. BuildCraft for example has gates, which also could benefit from this machine information. The way this mod does this is a bit more flexible than how BC currently does this.

It's kinda like why Azanor split up Baubles and Thaumcraft into separate mods.

If it turns out no other mod developers are interested in such a

[2016-05-11 06:52] squirrelkiller commented on #39
Step 1, build quite massive network (about 30+ devices I think by that point).
Step 2, have them all moving information around between each other.
Step 3, Smash several blocks drawing information from other parts of the network, starting with the cable each time. I believe I specifically hit the cable connecting to an audio writer which was reading from inventory reader about a chunk and a half aw

[2016-05-11 07:00] squirrelkiller commented on #41
Makes sense, well my only suggestion is then to do what Baubles and Chicken Lib do when you use TC or CodeChickenCore, and just auto download CommonCapabilities once it is public. Integrated Dynamics is quite powerful (I would know I have been staring at it all day wondering why I decided I wanted to do a tutorial series on something so deep) and I still feel as much as I know about it, which is e

[2016-05-11 07:05] rubensworks commented on #41
The bug reports are a good thing :)

I'm not too sure about auto-downloading CommonCapabilities. I'm not very fond of mods installing themselves. Systems like Curse should however handle this pretty well when this mod is used in modpacks.
But I'll have to think about it.

[2016-05-11 07:20] squirrelkiller opened #43 "Suggestion Easy of use for Network Management"
Can we get a block that allows remote access and interaction with any other block on the network?

I find myself running around a lot between Materializer, Logic Programmer, and Variable Store. These 3 especially are quite annoying because they are required for any form of advanced operations, often finding half way through setting up some logic that I need to go materialize a variable value, or d

[2016-05-11 07:23] rubensworks commented on #43
That's a good idea!
I'll try to take this into account for one of the next feature updates.

[2016-05-11 07:42] squirrelkiller opened #44 "Squeezer Tweaks"
As things stand the squeezer allows items to be pumped in and out, but I can see no way to automate the jumping on it. I would like to propose a new block that is placed beside an existing squeezer and allows its automation, simulating 1 jump per redstone pulse. You could instead use a coal or RF design, but those sound boring. I feel like an attachment block which automates the system based on re

[2016-05-11 07:47] rubensworks commented on #44
1. You can automate it. I have already seen 4 different designs. Remember: Other entities may also jump/fall on it :-)
2. There are sticks in the model there, so it makes sense to have a bounding box there. Once you're centered on the block, you should be able to continue jumping just fine.
3. I already planned on doing this, I have to admit that it is not very clear how the squeezer has to be use

[2016-05-11 17:09] rubensworks commented on #37
This has been fixed at malisis' side: Ordinastie/MalisisCore@a5892d21fa950c5ce472dde7ae7feeb651c4535d

[2016-05-11 17:09] #37 closed, assigned to nobody

[2016-05-11 17:43] #38 closed, assigned to nobody

[2016-05-11 18:02] rubensworks commented on #36
Fixed in CyclopsMC/CyclopsCore@6a81ba413d752202074bffc3a9a49ab1d8492cfc

[2016-05-11 18:02] #36 closed, assigned to nobody

[2016-05-11 18:19] rubensworks opened #45 "Display panel sometimes too dark"
Depending on the players position, the display panel sometimes renders things too dark/transparent.

[2016-05-11 18:33] rubensworks opened #46 "Displays not always updating"
Specifically when the update frequency is too high. For example with the audio reader.

[2016-05-11 18:36] rubensworks opened #47 "Block Reader: metadata or blockstate aspect"
Add an aspect to read block metadata or blockstate.

[2016-05-11 19:04] b0bst3r commented on #36
Nope this still occurs.

CyclopsCore-1.9-0.5.9.jar
forge-1.9-12.16.1.1900-universal.jar

http://pastebin.com/E19pK2yS

[2016-05-11 19:10] rubensworks commented on #36
@b0bst3r Try updating Modular systems once they fix the bug, I assume they will also have to make the change to solve the conflict.

[2016-05-11 19:15] rubensworks opened #48 "World Reader: Player list unlocalized"
Localized the aspect name

[2016-05-11 19:18] b0bst3r commented on #36
Yeah that's not likely to happen anytime soon unfortunately, but still need malisis fix anyway for Int Dyn, so at that point we will have to remove Mod Systems and probably Neotech since it's covered in bugs.

[2016-05-11 19:36] rubensworks opened #49 "Invalidated proxy remembers last value"
A proxy variable should not remember its last value. This can for example be observed when placing a proxy variable inside a redstone reader. The reader will output its last value when the variable got invalidated.

[2016-05-11 21:09] AlgorithmX2 commented on #34
This is a C&B issue, you can close this issue.

[2016-05-12 06:21] rubensworks commented on #34
@AlgorithmX2 Thanks!

[2016-05-12 06:21] #34 closed, assigned to nobody

[2016-05-16 12:52] JonaBrackenwood opened #50 "Crash CableModel "Tesselating block model""
http://pastebin.com/tM5gdB2j

[2016-05-16 13:26] JonaBrackenwood commented on #50
2nd other crash (tesselating block in world):
http://pastebin.com/NK6RYRTN

[2016-05-22 18:28] archonsd opened #51 "Crash in 1.9.4 with only this mod"
- Minecraft 1.9.4 w/ Forge forge-1.9.4-12.17.0.1910-1.9.4-universal.jar
- CyclopsCore-1.9.4-0.6.1.jar
- IntegratedDynamics-1.9.4-0.3.10.jar
- mcjtylib-1.9.4-1.8.6.jar
  No other mods present.

Run forge with " java -jar forge-1.9.4-12.17.0.1910-1.9.4-universal.jar nogui"

Output:  http://pastebin.com/cM7FNk9f

[2016-05-22 18:30] rubensworks commented on #51
I knew I forgot something, I didn't test this newest release on a server yet.
I'll look into it tomorrow.

[2016-05-22 18:31] archonsd commented on #51
Thanks a lot.  It works great Single player.  It only does this in server mode.

[2016-05-23 15:45] rubensworks commented on #51
Fixed in CyclopsMC/CyclopsCore@890d99b5e2c89b13677aca841fea8a080bfbe62f
New release of CyclopsCore coming later today.

[2016-05-23 15:45] #51 closed, assigned to nobody

[2016-05-23 19:55] #44 closed, assigned to nobody

[2016-05-23 19:55] #45 closed, assigned to nobody

[2016-05-23 19:55] #47 closed, assigned to nobody

[2016-05-23 19:55] #48 closed, assigned to nobody

[2016-05-23 19:55] #49 closed, assigned to nobody

[2016-05-23 19:55] #50 closed, assigned to nobody

[2016-06-14 22:31] TinkerWorX opened #52 "Power API synergy"
I've been trying to use IntegratedDynamics with Forestry and Actually Additions, but it seems IntegratedDynamics uses a different RF API. Is there any way to remedy this?

[2016-06-15 06:31] rubensworks commented on #52
It _should_ be using the same API, I'll look into it.

[2016-06-15 07:01] TinkerWorX commented on #52
Thank you. For the record I'm using the following versions.
- Actually Additions r44
- Forestry 5.0.13.158
- Integrated Dynamics 0.3.10

[2016-06-15 07:08] TinkerWorX commented on #52
And here's a picture showing the problem.
![Example](http://i.imgur.com/jKoVPnO.png)

[2016-06-15 07:15] rubensworks commented on #52
Ah ok, I see the problem. This is not a bug actually, it's just not a feature ;-)
The ID cables only transfer _logic_, not power. You should be able to use machine readers to read RF information about those machines.

It is however perfectly possible to implement power transfer to other mod machines over those cables, I _might_ look into that in the future. But that's not certain yet.

[2016-06-15 07:22] TinkerWorX commented on #52
Ah, I must've misunderstood because the Energy Battery works with the cables. I appreciate the quick response.

[2016-06-17 20:07] rubensworks commented on #24
Reports have come in that it still spawns too much.

[2016-06-30 15:59] #25 closed, assigned to nobody

[2016-07-01 19:28] rubensworks commented on #42
I'm unable to reproduce this in MC 1.9.4. It's very likely that it may have been related to an MC bug which is fixed by now.

[2016-07-01 19:28] #42 closed, assigned to nobody

[2016-07-01 21:00] rubensworks commented on #35
Can't reproduce in latest dev version, assume fixed with the latest rendering changes.

[2016-07-01 21:00] #35 closed, assigned to nobody

[2016-07-01 21:03] rubensworks commented on #33
Fixed with the latest performance improvements.

[2016-07-01 21:03] #33 closed, assigned to nobody

[2016-07-01 21:10] rubensworks commented on #26
Closing this issue, since it is outdated and no new reports on this came in.

[2016-07-01 21:10] #26 closed, assigned to nobody

[2016-07-01 21:14] #40 closed, assigned to nobody

[2016-07-01 21:14] #46 closed, assigned to nobody

[2016-07-02 12:48] rubensworks commented on #23
Not an issue.

[2016-07-02 12:48] #23 closed, assigned to nobody

[2016-07-02 13:39] #9 closed, assigned to nobody

[2016-07-02 13:39] #24 closed, assigned to nobody

[2016-07-02 13:40] rubensworks commented on #39
I'm unable to reproduce this in the latest ID version (not yet released). I assume this is fixed for now.

[2016-07-02 13:40] #39 closed, assigned to nobody

[2016-07-03 12:01] rubensworks opened #53 "LP gui stays open after breaking it"

[2016-07-03 12:07] rubensworks opened #54 "LP allow clicking on operators in dropdown"

[2016-07-03 12:31] JonaBrackenwood opened #55 "Generator: show fuel progress"
Fuel progress is showing incorrectly before any fuel is used.

[2016-07-03 12:40] JonaBrackenwood opened #56 "Accessibility: give booleans other color than blue"
Give booleans another color than dark blue, so it is easier to read against the black background.
Maybe a lighter tint of blue?

[2016-07-03 12:49] rubensworks opened #57 "Other mod wrenches can't be used"

[2016-07-03 12:50] rubensworks opened #58 "Rotating display parts isn't synced with server"

[2016-07-03 15:17] rubensworks commented on #57
Some mod wrenches don't work because they stop further logic delegation to blocks.

[2016-07-03 15:17] #57 closed, assigned to nobody

[2016-07-03 15:43] #53 closed, assigned to nobody

[2016-07-03 15:43] #54 closed, assigned to nobody

[2016-07-03 15:43] #55 closed, assigned to nobody

[2016-07-03 15:43] #58 closed, assigned to nobody

[2016-07-04 16:21] Dragnier commented on #52
This is a seriously misleading part of the mod... You should change both the cable texture and names to avoid this confusion unless you plan to actually add RF support to the cables. Perhaps make them fiber optic looking and call them logic net cables or something. I downloaded this mod simply because I was trying to find cables for RF without using one of the "big" RF mods like Ender IO and such

[2016-07-13 05:54] ghost opened #60 "Squeezer recipe tweaking"
I think that the squeezer could serve as an interesting piece in an alternate progression modpack. Unfortunately, as best as I can tell there is no way to tweak the recipes for the squeezer without repackaging the jar. If it's not too difficult it would be lovely to have a recipe xml file in the configs folder (like Ender IO does), or perhaps minetweaker/API support.

[2016-07-13 08:11] rubensworks commented on #60
The recipes can in fact be changed/added using a similar XML recipe system.
I forgot to document this before, but I just created a wiki page here: https://github.com/CyclopsMC/IntegratedDynamics/wiki/Recipe-XML

If you need any further information, just let me know.

[2016-07-13 08:11] #60 closed, assigned to nobody

[2016-07-13 17:32] ghost commented on #60
Awesome. Is there any support for overriding or removing recipes? Just for the sake of testing I tried to change the coal ore recipe to 8 coal instead of 4, but the original recipe had priority when I tested it out.

![untitled](https://cloud.githubusercontent.com/assets/16395640/16813099/c1d8328a-48f5-11e6-9555-0fb96f3ad41f.png)

[2016-07-13 17:56] rubensworks commented on #60
Yes, you definitely can! Apparently, I did not document this feature anywhere.
I just updated the wiki with an explanation on how to _change_ existing recipes.
This should allow you to do exactly what you want.

[2016-07-13 19:55] ghost commented on #60
I don't think the behavior is working quite as intended. When I posted the above screenshot I had already done exactly as the wiki says now that you have updated it. In the file config/integrateddynamics/squeezer_ores.xml I had the following

[squeezer_ores.txt](https://github.com/CyclopsMC/IntegratedDynamics/files/362342/squeezer_ores.txt)
Attached as a txt file so that it can be uploaded to gith

[2016-07-13 20:24] rubensworks commented on #60
I'll try it out myself tomorrow, maybe I broke something during one of the updates.

[2016-07-14 09:01] rubensworks commented on #60
I fixed the problem in CyclopsCore. I'll release a new version soon, in the meantime you can download the latest dev version (build 372) here: https://bintray.com/cyclopsmc/dev/CyclopsCore
Note that you now have to place your override xml files in an `_override` folder inside the `integrateddynamics` folder.

[2016-07-28 21:29] mezz opened #61 "NPE Crash from CableModel"
https://gist.github.com/mezz/d2c1c3aedac83fb0473ddd5fe62d3f7b

Crashed on the BTM server when I logged in.

[2016-07-29 00:20] HenryLoenwind opened #62 "Crash on BTM"
https://gist.github.com/HenryLoenwind/6dd20a3e47876a56e2101310a2ecedf2

full log available if needed

[2016-07-29 07:36] rubensworks commented on #61
Related to #62

[2016-07-29 07:36] rubensworks commented on #62
Related to #61

[2016-07-29 07:37] #61 closed, assigned to nobody

[2016-07-29 07:37] #62 closed, assigned to nobody

[2016-08-23 07:48] LotuxPunk opened #63 "Crash on destroy block"
Hello, can you help me please ? :)

http://pastebin.com/3CChxKqC

[2016-08-23 07:50] rubensworks commented on #63
Fixed in CyclopsMC/IntegratedDynamics@731fa2dedc1fc14694023d4fc393421f07670a81
A new patch containing this fix will be released later this week.

[2016-08-23 07:50] #63 closed, assigned to nobody

[2016-08-25 19:51] rubensworks opened #64 "Settings gui sometimes not opening"
Some people seem to have trouble on some servers with opening the part settings guis. Clicking the button does nothing.

[2016-08-30 06:39] Rongmario commented on #36
FOR REFERENCE: Disable the proxy block in IntDyn's config and the game should be able to run.

[2016-08-30 20:31] Winrylive opened #65 "Menril Tree Logs are all Sideways in Existing Terrain After Update"
I know you know about this issue from Reddit, but I live in a Meneglin and I'd really, really like it if my trees didn't look messed up. I've already replaced the texture back to the lovely teal logs, but seriously... please correct backward compatibility of your texture change. Thanks.

[2016-08-30 20:51] rubensworks commented on #65
Yes, problem is that either existing trees will be messed up, or I change it and the currently generated (0.5.0) will be messed up.
I guess the latter might be better, since it will affect less people.

I hope to get around to "fixing" this tomorrow.

Note to self: Add a separate block for the filled variant. And add temporary hack that checks the version of the config file, if 0.5.0 then simulate

[2016-08-31 18:11] #65 closed, assigned to nobody

[2016-09-08 01:43] white-matter opened #67 "Suggestion: Add way to get difference in a variable over an amount of ticks."
For measuring the rate at which you get items or generate power, if this is already a feature then I apologize.

[2016-09-08 06:13] rubensworks commented on #67
I've been tinkering with an idea that would enable things like this. This will probably be for next release! :-)

[2016-09-10 01:00] 0Navis0 opened #68 "missing ores support for the Squeezer"
It seems that the Squeezer doesn't support all the ores. It would be nice if it added a support for Substratum, TechReborn, Mekanism ores like Zinc, Aluminium, Chromium, Osmium, Tungsten, Titanium, Bauxite, Galena... and BiomeOPlenty gems like Ruby, Sapphire, Peridot...

[2016-09-10 15:31] rubensworks commented on #68
True, I should update the list of supported ores, many new mods have been updated to 1.8+ since I first created that list.

[2016-09-24 01:44] fullforceofpower commented on #68
I can't squeeze sandstone for some reason.

[2016-09-24 08:11] rubensworks commented on #68
@fullforceofpower Do you see the recipe in JEI?

[2016-09-26 10:04] Morpheus1101 opened #69 "Drying Basin Dosent dry blood from Evil Craft as per JEI"
Since the blood drying thing shows in JEI as a valid option to use blood to dry to make solid blood blocks, i thought it would work, unfortunately it dosent, however being that this relates to EvilCraft i'll also shove it over on there github since i cant be sure as if its ID or EC fault to why it isnt working as JEI sais its meant to.

https://github.com/CyclopsMC/EvilCraft/issues/483

[2016-09-26 10:07] rubensworks commented on #69
That's strange, since I tried this myself very recently.

Are you sure you are inserting exactly 1000 mB of blood, and there is no other item inside the basin?
Are you seeing any particles on the drying basin after inserting the blood?
Are any other recipes broken as well?

[2016-09-26 10:11] Morpheus1101 commented on #69
I've been waiting for hrs on the MMD-Dev server with a few completely full of Blood and i see no particles.  At this stage i havent used ID for anything else.

![mmd](https://cloud.githubusercontent.com/assets/10524952/18830730/5176dda0-8425-11e6-9268-cc6d03f71bfa.png)

[2016-09-26 11:20] rubensworks commented on #69
Ah, I see. I assume the blood in those basins are TCon's blood?
EC's blood is not the same fluid as TCon's blood (for historical reasons...), so EC recipes won't work with that.
You can however pipe TCon's blood through a Blood Infuser and it will automatically convert it to EC's blood.

Note that the MMD dev server should have Fluid Converters installed, so you could use a blood converter as well

[2016-09-26 11:23] Morpheus1101 commented on #69
Ahhh, well that explains things quite a lot, as i have the blood form there pumped into an infuser etc ... i'll have to use a converter then an see how i go, this explains everything, so its just a derp on my side lol.

Now if only the converter had a recipe shown in JEI ... time to hitup its github

[2016-09-26 11:23] #69 closed, assigned to nobody

[2016-09-27 16:14] Aedda commented on #19
I just had a crash on 1.10.2 using version 1.9.4-0.5.1 and I was doing the same thing, the error looks similar but I cannot tell if it is the same problem https://paste.ubuntu.com/23242978/

[2016-09-27 16:19] rubensworks commented on #19
@Aedda I assume everything works again as intented when restarting the game?
(You'll have to reset the network (=adding cable to network and breaking it again) because after a network crash it auto-disables itself)

I won't look into this any further, since next update contains a big refactoring of network handling, which should fix all problems related to this one.

[2016-09-28 05:03] nzhook opened #70 "Facade rendering in F5 mode shows cables"
When a facade is placed over a cable it disappears as it should. However in F5 mode some cables are still rendered as shown on the below image.

![7weqyro](https://cloud.githubusercontent.com/assets/4828036/18901149/0b7da032-85a5-11e6-95ba-6ab5aaa19dbd.png)

Version: IntegratedDynamics-1.9.4-0.5.1.jar
Forge version: 12.18.1.2088
Minecraft Version: 1.10.2
Modpack: Avant 3

[2016-09-28 05:30] nzhook opened #71 "Logic Programmer Variable Labelling"
Couple of issues with using the Logic Programmer to name variables:
- The 'E' is used to set a card's name, however this only enables the textbox. Pressing it again does not save the entered name to the card (instead it acts as Cancel ignoring anything that was entered which is unexpected)
- After entering a name for the label of a card, pulling the card out does not always set the variable cards

[2016-09-28 16:51] rubensworks commented on #70
Thanks for reporting this, I already knew about this issue, but having this here again will put some more pressure on me to finally fix it :-)

[2016-09-28 16:53] rubensworks commented on #71
"It would also be nice to be able to use the labeller to rename an existing card."
This should be possible already. Are you able to insert the existing card into the labeller? Or what happens exactly when you try it?

[2016-10-01 03:55] Aedda opened #72 "[1.10.2][0.5.1] Crash involving RFTools Endergenic Generator and Integrated Dynamics"
Steps to reproduce:
1) Connect an Integrated Dynamics (ID) Machine Reader to an RFTools Energenic Generator
2) Connect ID Logic Cable, followed by ID Display Panel
3) Right click ID Machine Reader to open GUI. Click scroll bar or attempt to scroll.

Game should crash at this point.

I successfully connected ID to other RFTools machines including the Crafter Tier 1 and Matter Beamer. Versions of mo

[2016-10-02 14:05] rubensworks commented on #72
I encountered the same crash recently, this has been fixed here: a9e7b3ec43c71eb1d485e617c15bdb55c29cf68f
Thanks for reporting anyways! :-)
This fix will be included in next update.

[2016-10-02 14:05] #72 closed, assigned to nobody

[2016-10-03 17:58] Aedda opened #73 "[1.10.2][0.5.1] Redstone Writer does not consistantly output signal"
I've been using ID in my test world for a while to turn off rain. It has worked very well for a few days but recently I've been having some problems.

I set up a second Redstone Writer the same way as the first with the proper variables and operator for detecting if the DayTime exceeded 13000. I placed a command block next to the writer to adjust the time.

It however did not work, despite the GUI

[2016-10-03 18:48] rubensworks commented on #73
I'm not able to reproduce this in the latest dev version.

I did however refactor a lot of stuff related to this, so the problem may have fixed itself already.
I suggest that you try it out again once ID 0.6.0 is released, and let me know how it goes.

I'll leave this issue open for now.

[2016-10-03 18:48] #70 closed, assigned to nobody

[2016-10-03 18:48] #71 closed, assigned to nobody

[2016-10-09 12:02] Tylian commented on #64
Assuming you mean the little + buttons, the pack I play on currently has this bug.

I'm going to do some fooling around to see if I can figure out what's causing it. If you need me to try anything to help you fix it, let me know.

[2016-10-09 12:29] rubensworks commented on #64
@Tylian Yes, those are the buttons I mean. The part settings button (icon on the top right) will also not work, since they call the same type of code.
I think somehow another mod is blocking opening of these gui's, since this works just fine in both SSP and SMP for this mod by itself.

If you see any client- or server-side console errors while clicking those buttons, be sure to post them here.

[2016-10-09 12:39] Tylian commented on #64
Ah, yeah. Those buttons don't work either. Was wondering what they did haha.

And yeah, no errors on both the client and the server. Hm.

_Edit:_ The GUI opens fine in SSP with this pack, too. It's only on SMP that it fails to work. Not sure if you knew that.

[2016-10-09 12:48] rubensworks commented on #64
Do the buttons work when you try in singleplayer?

Can you link me the pack you are using? I can try removing mods then until I discover the one that breaks it, when I have some free time.

[2016-10-09 12:55] Tylian commented on #64
I edited my comment above mentioning that it does indeed work in single player, so I'd guess it's something networking/proxy related.

The pack I'm using is a custom build one, on 1.10.2, using MultiMC. I can upload the entire mods folder, or just toss a list of mods at you, your choice. Which ever would be easier for you.

[2016-10-09 12:59] rubensworks commented on #64
An upload of the entire mods and config folder would be great! Also make sure to indicate the Forge version. I should be able to have a look at it tomorrow.

[2016-10-11 10:28] DoomSquirter opened #75 "menril trees - how do you automate or chop these down more efficiently?"
Silent gems lumber axe, mekanism atomic disassembler in vein mode, eio farming station, none of these grab the tree as a whole, or more than one block at a time.  Using latest in 1.10.2.

My google-fu failed me and couldn't see any others with same problem so thus I'm probably missing something obvious?

[2016-10-11 11:07] rubensworks commented on #75
I probably forgot to add an oredict entry for the second block type that exists within a Menril Tree, which makes some mod think parts of the tree are a different log type.

[2016-10-17 15:59] StoneLegion opened #76 "Menril Leaves have no Block Texture if Silked?"
I assume that is the issue but was quarring them with Silk touch and this is what happen:

https://imgur.com/ib9KShh

[2016-10-19 00:33] demethan opened #77 "Fluid ratio < 95% = false"
How would I go about doing that.

I got a Double variable with A(Tank Fluid ratio) and  B(Double with 0.95)

I  try to A <= B and  I get and error

"the operator has receive an input type Double at position 1 while the type interger is accepted"

so I tried to conver the TankFluid ratio to an interger but it won't multiply by 100

"The current variable cannot be use in this aspect"  Although, for

[2016-10-19 01:04] rubensworks commented on #77
This seems to be a bug, I just checked, and apparently comparator operators only support integers. I'll look into supporting any number type.

For now, multiplying by 100 and casting to int should work.

[2016-10-19 02:16] demethan commented on #77
I tried that.. multiplying by 100 gives an error. "The current variable cannot be use in this aspect"

I don't think I can cast the ratio to int. That would void the data as I need the decimal information. right?

[2016-10-19 02:17] rubensworks commented on #77
You still have to cast to an int, since it will be a double in your case.

[2016-10-20 00:00] LaVidaYokel opened #78 "Breaking a Logic Cable duplicates it"
Breaking one Logic Cable drops two.

IntDyn 1.10.2-0.6.1
IntTun 1.10.2-1.0.0
Forge 12.18.2.2107

[2016-10-20 01:32] rubensworks commented on #78
How are you breaking it, pickaxe, hand or wrench?
Does the cable have any other multiparts on it?

[2016-10-20 16:17] demethan commented on #77
I am confused by your statement. Casting the fuel ratio to int would loose the decimals, right?

What is the point of casting the Double to Int.  Is there something I don't get?

[2016-10-20 16:28] demethan commented on #77
I think I will try to work around and make my own ratio calculation.

cast int(tank current) /cast int( tank total) * int (100)

[2016-10-21 00:46] demethan commented on #77
My friend figured it out for me.. I was multiplying by 100 INT, where I should have multiplied by 100 DOUBLE.

[2016-10-22 01:52] #77 closed, assigned to nobody

[2016-10-22 03:57] LaVidaYokel commented on #78
I tried breaking with several different tools, items and an empty hand.  I tried breaking just the logic cable as well as logic cables attached combined with importers, interfaces and exporters from Tunnels.

[2016-10-22 11:26] nzhook opened #79 "Crash on unexpected item piped/inserted in"
Inserting an unexpected item into an ID Display panel or the Data Store will cause a server crash.

eg.
I inserted a Redstone writer into a Display panel, and the server crashed.
In single player I connected an Item Conduit to a Variable Store and when changed to insert mode (moving to Disabled) it then inserted wool into the store and the client and server crashed (The Item Conduit also attempts

[2016-10-23 00:35] #78 closed, assigned to nobody

[2016-10-23 00:35] #79 closed, assigned to nobody

[2016-10-26 18:26] utoc opened #80 "Outdated API for RefinedStorage Betas"
Hello!

The new Refined Storage beta versions have made some changes in the API and caused a crash when I right clicked on an ID inventory reader.

Crash here: http://pastebin.com/RjXd2Auv

Running  IntegratedDynamics-1.10.2-0.6.1, CommonCapabilities-1.9.4-1.2.0, CyclopsCore-1.9.4-0.8.0, FML 2109 and refinedstorage-1.2-beta3

[2016-10-30 05:54] rubensworks commented on #80
@raoulvdberge, @way2muchnoise, what is the status on the RS autocrafting rework?
Is it already stable enough to update the ID compatibility?

[2016-10-30 06:46] raoulvdberge commented on #80
@rubensworks yes! No major API changes will occur, most likely.

[2016-11-01 10:21] #76 closed, assigned to nobody

[2016-11-01 10:21] #80 closed, assigned to nobody

[2016-11-05 02:12] demethan opened #81 "RS reader or writer: server crash"
When you have a module that give out a 'corrupted netowork' output, if you break it, il will crash the server.

http://pastebin.com/LHYaH6cW

ver 1.10.2 -0.6.1
forge 2107

[2016-11-05 10:04] rubensworks commented on #81
Can you give some more details on how to reproduce this?

[2016-11-06 21:21] belathus opened #82 "[Request] Disable Menril Spawn"
I did see that we can adjust the frequency of menril spawning, but I'd like to totally disable it. I don't see the capability to do this already.

Thanks!

[2016-11-07 06:21] rubensworks commented on #82
I thought this was already possible by setting the frequency to 0, but apparently this does not work.
I'll add this for next update.

[2016-11-07 16:36] belathus commented on #82
Yeah, I tried -1 and 0, but both caused crashes when trying to generate a world.

[2016-11-07 16:37] rubensworks commented on #82
Usually I always properly implement support for things like these, apparently I forgot it here :/

[2016-11-12 09:23] ZigTheHedge opened #83 "Display doesn't get updated with block reader"
Hello, guys!

When you assign variable to Block Reader's "Block" slot and place it in Display, it works fine until you switch the block placed in front of reader. Afterwards variable updates successfully, but Display doesn't until you remove variable card and place it back again.

Minecraft: 1.10.2, ID: v 0.6.2, Forge 2117.

[2016-11-12 13:12] #83 closed, assigned to nobody

[2016-11-12 13:12] rubensworks commented on #83
It appears this bug must've existed for a long time already, thanks for reporting!

[2016-11-12 13:16] #82 closed, assigned to nobody

[2016-11-14 16:31] demethan commented on #81
Seems fixed in 0.6.2  Can't reproduce.

[2016-11-18 20:46] Tylian commented on #64
Ah crap I just realized I never actually uploaded the file. I'm a complete idiot haha.
Since I still have the issue I've done what I said I'd do... a month and a half ago.

Here: http://woof.tylian.net/test.zip
Forge: 12.18.2.2121
Minecraft: 1.10.2 (if that's needed lol)

The mods RFTrash and Phi are made by me and can probably be removed first while testing, I included them just incase though.

S

[2016-11-22 01:33] Belgabor opened #84 "[1.10.2][0.6.3] Opening Logic Programmer GUI crashes Minecraft"
Opening the Logic Programmer GUI crashes the game.

[code]

[2016-11-22 07:00] rubensworks commented on #84
Looks like I did something wrong in the latest CyclopsCore update.
In the meantime, a downgrade to the previous CC version should allow you to use the LP again.

[2016-11-25 21:26] gazpachoking opened #85 "Read fluid level of blood magic altars"
It seems the fluid reader is not recognizing the blood magic blood altar as a valid tank. The blood altar does have an input/output tank, so I feel like this should be working.

[2016-11-26 08:52] #84 closed, assigned to nobody

[2016-11-26 08:54] #81 closed, assigned to nobody

[2016-11-26 10:10] rubensworks commented on #85
Seems to work just fine for me:
![2016-11-26_10 32 23](https://cloud.githubusercontent.com/assets/440384/20639620/caf57ea2-b3c8-11e6-907b-e185231bfe01.png)

Note that it takes a while before the BM altar lets inserted life essence through to its internal tank, so maybe you weren't waiting long enough ;-)

[2016-11-26 10:10] #85 closed, assigned to nobody

[2016-11-26 14:57] rubensworks commented on #64
I just tried your pack, and I can not reproduce the settings buttons not working.
I tried this both in singleplayer and multiplayer.

So this means that it's pack independent, and must be caused by the connection to the server.

Could you provide me some more information about the server you are connecting with?
Is it a remote server or does it run on your local machine?
Is the server behind a pro

[2016-11-26 15:13] gazpachoking commented on #85
Hmm. Let me do some double checking, maybe with a few less mods installed.

I don't think that was it, as it was reporting 'is tank' as false, not just that it was empty.

[2016-11-26 15:23] gazpachoking commented on #85
Hmm. Still having a problem. Blood Magic 2.2.0-66, and Integrated Dynamics 0.6.3 are the only mods I have installed, here is the interface for the fluid reader on a full blood altar.
![image](https://cloud.githubusercontent.com/assets/187133/20641259/3dff3da4-b3c2-11e6-9c3c-fda3155d903c.png)

[2016-11-26 15:25] rubensworks commented on #85
Could you send me a screenshot as to how the reader is connected to the altar?
What happens if you try to pipe in/out fluids to the altar?

[2016-11-26 15:27] gazpachoking commented on #85
![image](https://cloud.githubusercontent.com/assets/187133/20641294/dda77ba0-b3c2-11e6-87bc-3d702d951d84.png)

Those are all the ways I tried. All reading the same as my first screen shot.

[2016-11-26 15:31] gazpachoking commented on #85
As for inputting and outputting fluids, it is working with refined storage, but couldn't get the immersive engineering pump to work either. Seeing if I can get dynamic tunnels to do it now.

[2016-11-26 15:42] gazpachoking commented on #85
![image](https://cloud.githubusercontent.com/assets/187133/20641395/e00c9e28-b3c4-11e6-9c0f-3fe319af2267.png)

![image](https://cloud.githubusercontent.com/assets/187133/20641396/e83c6876-b3c4-11e6-8402-2498d9edda20.png)

I haven't really gotten to play with integrated tunnels without crashing yet, but I'm thinking that setup should be slowly sucking blood between the altars. I gave it about 5 min

[2016-11-26 16:29] Tylian commented on #64
We've tried it on two different servers. One was a self hosted server on a VPS, the other is on a server ran by BeastNode. Both were remote servers, and thus I think the problem is introduced by having latency between client and server that's beyond what you'd get from a local connection.

VPS server was ran on original port. BeastNode is ran on a custom port. Both are as far as I'm aware (not sur

[2016-11-27 11:30] rubensworks commented on #64
Ok, thanks for the information.
I'll have a look to see why network latencies break this functionality.

[2016-11-27 11:36] rubensworks commented on #85
I've tried this with the latest BM dev build, which worked for me.
Could you try using this BM build and see if this works for you?: http://tehnut.info/maven/com/wayoftime/bloodmagic/BloodMagic/1.9.4-2.1.0-504-ss/BloodMagic-1.9.4-2.1.0-504-ss.jar

There might be something wrong with their fluid capabilities in the latest public version, since IE also seems to be having trouble with it.

[2016-11-27 13:17] rubensworks commented on #64
I did some small changes that might resolve this issue.
Could you test the following dev build on your server (and client) and let me know if this fixes the issue for you?
https://dl.bintray.com/cyclopsmc/dev/org/cyclops/integrateddynamics/IntegratedDynamics/1.10.2-0.6.3-363/IntegratedDynamics-1.10.2-0.6.3-363.jar

[2016-11-27 13:20] Tylian commented on #64
Sure, will do. That link gives me an error, though.

[2016-11-27 13:40] rubensworks commented on #64
My bad, I posted an outdated version, updated the link.

[2016-11-27 13:54] Tylian commented on #64
So, some bad news: Tried it, and it still doesn't open. :(

I'm starting to think the best course of action would be to toss me a built that prints a bunch of debug info to console for you to look at.

Thanks for attempting to fix this by the way, as a fellow programmer I know bugs like this are a nightmare.

[2016-11-27 14:43] rubensworks commented on #64
Yes, I also don't see any way around it...
I just prepared a custom build here: https://cl.ly/1P0P3z0S260f

Please try opening any reader part, and clicking on the upper right settings button.
You should see something like this in your output:
[code]

[2016-11-27 15:09] Tylian commented on #64
Edit: Wait one second, going to redo it to make sure it's correct.
Edit 2: Done.

**Client**:
[code]

**Server:** (Server log is reversed, latest messages are first.)
[code]

[2016-11-27 16:07] gazpachoking commented on #85
That was it, thanks! Sorry to waste your time, I should have expected it was something to do with blood magic after the IE pump didn't work.

[2016-11-27 16:18] gazpachoking commented on #85
Probably related to the new/old fluid handling referenced in this ticket, for posterity. WayofTime/BloodMagic#942

[2016-11-27 16:39] rubensworks commented on #64
Ok, thanks for this output, this might very well be enough to resolve this issue!

Note so self: server is not initiating the temp gui storage "Click container". Use `world.isRemote` instead of `MinecraftHelpers.isClientSide()` since the latter might not be exact enough in this case.

[2016-11-28 05:00] Tylian commented on #64
If you need any more help debugging lemme know.

[2016-11-29 18:43] rubensworks commented on #64
@Tylian Sorry for the delay, here is a new version that may fix the problem (if I understand well what is going on here).
If it still doesn't work, please send me the log output again.
https://cl.ly/1F1G1Y0w041c

[2016-11-29 21:46] Tylian commented on #64
Good news, and bad news!

Good news is, the settings GUI seems to open now. Bad news is the parameter GUI doesn't, and the settings in the settings GUI doesn't seem to save.

Also... I found a crash but it happens on the released version. Time to open a new issue. :/

---
**Debug info for param button**
Client:
[code]

Server: (reversed order like before)
[code]

---
**Debug info for settings GUI

[2016-11-29 22:06] Tylian opened #86 "Client crashes when opening Logic Programmer."
Activating the Logic Programmer (block or item), causes the client to crash with this error log: [crash-2016-11-29_17.02.09-client.txt](https://github.com/CyclopsMC/IntegratedDynamics/files/620348/crash-2016-11-29_17.02.09-client.txt)

Happens both in single player and multiplayer. Unsure if this is a mod conflict or not.

[2016-11-30 06:33] rubensworks commented on #86
Duplicate of #84, has been fixed in CC dev version.

[2016-11-30 06:33] #86 closed, assigned to nobody

[2016-11-30 19:01] belathus opened #87 "Disable the flesh to leather recipe in the drying basin"
Using the drying basin to get leather from flesh is undesired in the modpack I'm working on. Is there any way to disable this?

[2016-11-30 19:02] rubensworks commented on #87
Yes, you can override the drying basin convenience recipes xml file in which the leather recipe is defined: https://github.com/CyclopsMC/IntegratedDynamics/wiki/Recipe-XML

[2016-11-30 19:16] belathus commented on #87
Aha. It appears that it didn't automatically create that folder. I'll go ahead and do so manually, then give the recipe removal a shot using the _override subdirectory, as suggested.

[2016-12-01 07:11] ZigTheHedge opened #88 "Server crashes"
Hi!

I periodically getting this crash on server: http://pastebin.com/BpJg6piV

MC: 1.10.2
Forge: 2123
Integrated Dynamics: 0.6.3
CyclopsCore: 0.8.1
CommonCapabilities: 1.2.1

[2016-12-03 05:10] Belgabor opened #89 "Suggestion/Bug: Facades"
You cannot craft facades for Chisel blocks (suggestion)
Minecraft crashes if you try to craft a facade for ExU decorative blocks (bug, not sure if that is yours or RWTemas)

[code]

[2016-12-03 05:11] Belgabor commented on #89
Note: crash happens as soon as Minecraft tries to render the crafting result.

[2016-12-03 15:15] rubensworks commented on #64
According to that output it _should_ work now, strange...

Can you try this build?: https://cl.ly/3K383P3Z3r3U
No debug prints this time.

[2016-12-03 15:31] #88 closed, assigned to nobody

[2016-12-03 15:31] #89 closed, assigned to nobody

[2016-12-04 16:24] Belgabor opened #90 "Breaking cables with attachments has issues with certain mods"
As reported on Ellpeck/ActuallyAdditions#431, there are issues breaking cables with attachments (like eg. importers) with the AA drill and TiCo hammers.

[2016-12-05 00:25] Tsukiumy opened #91 "random crash when using the basin or looking recipes"
the bug occours at random when looking recipes or operating the basin
https://gist.github.com/Tsukiumy/beb962bdecece95af17aa5e70f83cd67
forge 2179
cyclopscore 0.8.2
integrateddynamics 0.6.4

[2016-12-05 13:21] Tylian commented on #64
Sorry for the delay, was busy. Tried that one now.

Same as before, Settings GUI opens but doesn't actually save any values, they reset when I reopen the GUI.
The parameters GUI does not open at all, still.

[2016-12-11 10:51] #87 closed, assigned to nobody

[2016-12-16 10:04] rubensworks commented on #73
@Aedda Does this problem still occur for you?

[2016-12-16 18:17] rubensworks commented on #91
That crash should not be possible, I assume some coremod is messing with class internals...

Could you try the following CyclopsCore dev version?: https://dl.bintray.com/cyclopsmc/dev/org/cyclops/cyclopscore/CyclopsCore/1.9.4-0.8.2-432/CyclopsCore-1.9.4-0.8.2-432.jar
This should give more information on the crash. Also please provide the full forge server log next to the crash, as this may contain

[2016-12-16 19:14] rubensworks commented on #90
@Belgabor Here's a new dev build fixing the issue with the AA dril. Didn't have time yet to test TCon hammers, I assume they had the same problem: https://dl.bintray.com/cyclopsmc/dev/org/cyclops/integrateddynamics/IntegratedDynamics/1.10.2-0.6.4-368/IntegratedDynamics-1.10.2-0.6.4-368.jar
Let me know if it works properly on your end as well.

@Ellpeck For some reason, your code is invoking `Block

[2016-12-16 19:30] Ellpeck commented on #90
It shouldn't be called twice, but it is being called both on the server and the client, which is Vanilla Behavior.
Twice on the server is weird though. I am overriding onBlockStartBreak with my own breaking code, and if onBlockStartBreak returns true, which it does whenever I run my custom breaking code, the removedByPlayer method shouldn't be called again by vanilla. So this has to be a Drill wit

[2016-12-18 13:10] Runesmacher opened #92 "Multiple blocks not corrrectly displayed on Waila"
Logic programmer only correctly displayed on waila when placed facing south
Menril leaves not correctly displayed on waila when tree is grown

forge 2116
cyclopscore 0.8.2-432
integrateddynamics 0.6.4

[2016-12-18 13:13] rubensworks commented on #92
This is a known problem with Waila, where it doesn't correctly translate blockstates to item metadata.
Since Waila is being phased out in favor of TOP, I don't consider this a major problem, but feel free to have a look at it yourself if you feel like it.

[2016-12-18 13:15] Runesmacher opened #93 "When placing Readers/writers/panels etc on grass, a cable gets placed on other grass"
When placing Readers/writers/panels on grass with grass one block away, the grass will be replaced by a cable. Item gets consumed and the cable is placed and can be picked up.

forge 2116
cyclopscore 0.8.2-432
integrateddynamics 0.6.4

![2016-12-18_14 12 08](https://cloud.githubusercontent.com/assets/979451/21293680/0f636058-c52c-11e6-98eb-272085bdcb6c.png)
![2016-12-18_14 12 10](https://cloud.git

[2016-12-18 13:17] Runesmacher commented on #93
It does give cool effect with tall grass ;)
![2016-12-18_14 17 22](https://cloud.githubusercontent.com/assets/979451/21293708/b4144cfc-c52c-11e6-8498-be14329c82ef.png)

[2016-12-18 13:20] rubensworks commented on #93
Oh, how did you discover that?... :p
Must be an obscure edge case that is not properly being handled here: https://github.com/CyclopsMC/IntegratedDynamics/blob/master-1.10/src/main/java/org/cyclops/integrateddynamics/item/ItemBlockCable.java

[2016-12-18 13:23] Runesmacher commented on #93
When dowing stuff like this it is bound to happen ;)

![2016-12-18_14 22 43](https://cloud.githubusercontent.com/assets/979451/21293754/8076d97c-c52d-11e6-896d-f5546a55509a.png)

[2016-12-20 13:31] #93 closed, assigned to nobody

[2016-12-20 18:06] Runesmacher opened #95 "Squeezer pushes player off after jumping on it 4 times"
When using the squeezer, the player gets pushed off after 4 "normal" jumps (and more)

forge 2116
cyclopscore 0.8.2-432
integrateddynamics 0.6.5

[2016-12-20 18:11] rubensworks commented on #52
Closing this issue now.
Cables were renamed to "Logic Cables" a while ago,
and with the introduction of [Integrated Tunnels](https://minecraft.curseforge.com/projects/integrated-tunnels/), energy can be transfered to other machines as well.

[2016-12-20 18:11] #52 closed, assigned to nobody

[2016-12-20 18:12] rubensworks commented on #56
Some display panel lighting improvements were done a while ago, considering this resolved.

[2016-12-20 18:12] #56 closed, assigned to nobody

[2016-12-20 18:13] #90 closed, assigned to rubensworks

[2016-12-20 19:37] Runesmacher commented on #95
Standing inside the Drying Basin also seems to push the player to the edge of the block

[2016-12-20 21:01] Runesmacher commented on #95
Pull request with fix made: #96

[2016-12-20 22:32] Runesmacher opened #97 "Right clicking on drying basin only possible with emty hand or same item"
When getting items out of the drying basin, the item will only go in the current hand, even if there is already a item stack for this item in the inventory. You can also not click it with a non-empty hand

forge 2116
cyclopscore 0.8.2-432
integrateddynamics 0.6.5

[2016-12-20 23:02] Runesmacher commented on #64
Reproduced the issue in a modpack of a friend and his server. (unable to determine ping, huge modlist)
It does indeed not happen with a local server or a server with a low ping.

I will see if i can get a debug server going on a remote location so we can easely test and debug this issue further.

forge 2185
cyclopscore 0.8.2 release
integrated dynamics 0.6.4

[2016-12-21 06:45] #95 closed, assigned to Runesmacher

[2016-12-21 06:48] rubensworks commented on #64
@Runesmacher That would be great!

[2017-01-01 20:37] Belgabor opened #99 "[0.6.4] Network randomly(?) stops working"
Sometimes when I log back into our server at least one of my ID networks have stopped working. The indication is at least one of the writers showing the status "network corrupted", although in one or two cases I've seen that status although it still seems to work.

So far I've been able to fix it by either pulling out the data card in the writer and re-inserting it (rarely) or breaking a couple of

[2017-01-02 06:41] rubensworks commented on #99
Chunk (un)loading indeed sounds like a reasonable cause, I'll have to investigate this.

In the meantime, if you notice any other details when it breaks, please let me know.

When a writer in a certain network is corrupted, do all the other writers in that same network stop working as well? Perhaps only the writers in that same chunk?...

[2017-01-02 07:22] Belgabor commented on #99
I will pay attention to that next time it breaks. As far as I remember I can only say not all writers on the same network break down at the same time, at least not always, that much I know.

[2017-01-02 20:30] cauliflower69 opened #100 "Server Crash - Skyfactory 3"
http://pastebin.com/eE3nag9E

Could not access field progress in class org.cyclops.integrateddynamics.tileentity.TileDryingBasin

[2017-01-02 20:33] rubensworks commented on #100
@cauliflower69 Could you send me the full server log? There is log output in there that I need.

[2017-01-02 23:02] Gunner76th commented on #100
Ill will try to get my log as well. We just had this crash when a player tried to process rotten flesh in the drying basin.
here is our crash report for it as well. http://pastebin.com/xZcmfLCt

[2017-01-02 23:05] Gunner76th commented on #100
[Log files.zip](https://github.com/CyclopsMC/IntegratedDynamics/files/681474/Log.files.zip)
If you need the older log files as well, please let me know @rubensworks

[2017-01-03 10:52] rubensworks opened #102 "Cable not always visually connecting"
"I noticed that the cable doesn't connect right if you put the last piece in between in Integrated Tunnels interface and the cable. It works if you put a piece of cable on the interface first, then connect it.

It's not a big problem but I thought I should report it.

Versions:
Minecraft 1.10.2
Forge 12.18.3.2185
Integrated Dynamics 0.6.5
Integrated Tunnels 1.0.2
"

Source: https://github.com/Cycl

[2017-01-03 16:47] Gunner76th commented on #100
After extensive testing of all known recipes for the drying basin, and using the dev build of Cyclops Core that @rubensworks supplied me, the OP crash has been resolved. Please use https://dl.bintray.com/cyclopsmc/dev/org/cyclops/cyclopscore/CyclopsCore/1.9.4-0.8.2-450/CyclopsCore-1.9.4-0.8.2-450.jar on your server, and your players will need to manually update their clients with this as well. If

[2017-01-03 16:49] rubensworks commented on #100
I'm still not sure that build actually resolves the issue, I just think the crash does not occur consistently.

[2017-01-03 16:57] Gunner76th commented on #100
well for the time being we are going to stay with the dev build and see if it does crash. Before I posted my crash, it was consistently crashing every time he tried to process rotten flesh, 100% of the time. Sometimes it can be something as simple as a comma in the wrong spot or some other operator or even a spelling issue.

But I will update if it does crash again with the dev build of the cyclop

[2017-01-03 17:00] rubensworks commented on #100
@Gunner76th Your server admin probably enabled the Forge option to remove erroring tile entities, which would explain the constant console spam.

[2017-01-03 17:02] Gunner76th commented on #100
Nope, I didnt. I am actually the senior admin for our group, and the only one maintaining the server at the moment. Here is our forge.cfg file

[2017-01-03 17:03] Gunner76th commented on #100
[forge.cfg.txt](https://github.com/CyclopsMC/IntegratedDynamics/files/682784/forge.cfg.txt)

[2017-01-03 17:04] Gunner76th commented on #100
I never enable that function unless the dev for a mod that is having trouble specifically instructs me to, due to the fact that option can cause severe problems.

[2017-01-03 19:14] rubensworks commented on #100
Fixed in CyclopsMC/CyclopsCore#33
New CyclopsCore release coming later today or tomorrow.

[2017-01-03 19:14] #100 closed, assigned to rubensworks

[2017-01-03 19:59] rubensworks commented on #99
@Belgabor I just did several tests with chunk boundaries and world reloading, and I can't seem to reproduce this problem.

If this problem occurs again in the future, could you let me know the following things?
* What kind of error is shown in all of the writers in the network? There should be an red cross icon that shows an error message when hovering over it, waila/top also shows this error mess

[2017-01-03 21:22] Belgabor commented on #99
Ok, I have a bit more information for you, albeit it was the simpler network that broke down. We updated the server to the newest version of ID and things slightly changed.

It being the simpler network makes things actually more clear (Since you've seen the video, it is the network that regulates the oil generators based on the RF contained in the IE capacitors). It definitely looks like it is a

[2017-01-04 02:45] Darkosto opened #103 "Server Crash: Squeezer"
Hello o/

When using the Squeezer on a server, we had this crash:

http://pastebin.com/BuEik0AV

Integrated Dynamics Version: 0.6.5
Cyclops Core: 0.8.2
Forge: 2202

Thanks for taking a look at this :)

Darkosto

[2017-01-04 07:43] rubensworks commented on #103
Looks like the same problem as #100, which I just fixed yesterday in CyclopsCore :-)

I'll try to release a new version containing this fix soon, either today or tomorrow.

[2017-01-04 07:43] #103 closed, assigned to nobody

[2017-01-06 17:47] Runesmacher opened #105 "Redstone Writer multipart visual glitch"
When placing multiple redsone writers in one block space it creates a visual glitch due to them overlapping

![2017-01-06_18 45 10](https://cloud.githubusercontent.com/assets/979451/21727203/7e5cfe24-d440-11e6-9aaa-e8ddb5f042dc.png)

[2017-01-06 17:52] Runesmacher opened #106 "Fill/Empty sounds on drying basin does not work"
When placing/removing fluids from the drying basin the fill/empty sounds are not heard.
This is due the fact that all these things are handled on server side. For the sounds to be able to be heard they have to be initiated on the client side

[2017-01-06 17:56] Runesmacher opened #107 "Wrench tries to rotate blocks but doesn't succeed"
The wrench tries to rotate blocks on right click (visualy it does seem to rotate)
But just after that this change gets reverted (pretty much all blocks that allow rotation)

[2017-01-07 10:33] rubensworks commented on #105
I'm aware of this, not sure how to solve this, or if I want to solve this.

The first solution would be to change the model, which I wouldn't do because I like it.

The other solution would be to not allow writers to be placed like that, which doesn't seem very user-friendly either...

[2017-01-07 10:36] rubensworks commented on #106
Probably just a `!world.isRemote` that should be removed.

[2017-01-07 10:37] rubensworks commented on #107
Only ID blocks? Or all blocks, e.g. vanilla chests?

[2017-01-07 11:09] Runesmacher commented on #107
All blocks including vanilla chests

[2017-01-07 11:12] rubensworks commented on #107
Probably also a `!world.isRemote` that should be removed.
Feel free to have a look at this one as well if you're up to it :)

[2017-01-10 02:11] NullMagic opened #108 "Can't seem to get the recipes to load correctly."
Alright, to start, I did give this the "good college try". This of course doesn't mean I'm smart enough to have actually done everything right, but I did my best to make it all work on my own.

Alright, so, to begin, it was not clear when I installed this mod that it does not add it's own recipes for all it's items (I might suggest something similar to Ender IO where it automatically installs all

[2017-01-10 07:13] rubensworks commented on #108
Thanks for reporting this, but could you summarize in a few bullet points what isn't working?
I have a lot of issues like these, and I'd like to be able to quickly skim over them.

[2017-01-10 14:52] Daenara opened #109 "ic2 machines not recognized as tank"
Me again, I noticed that it is not possible to transfer fluid from ic2 pumps or tanks and investigated a bit. Placing a fluid reader on an ic2 tank gave me the output of isTank false. I'm pretty sure that it is, indeed a tank I'm using, so it should work. Not sure where the problem is, most likely ic2 api but if it is possible, could you fix it?

EDIT: doesn't only concern the ic2 pump and tank, i

[2017-01-10 17:08] NullMagic commented on #108
- No folder for Integrated Dynamics is being created in the config folder

- No recipes are automatically added for Integrated Dynamics (possibly due to the missing folder, possibly by design, still not clear on that point).

- Manually added XMLs from your wiki simply do not function (the game is loading them, it crashes if they aren't correctly configured as an XML, they just don't do anything,

[2017-01-11 08:27] rubensworks commented on #109
I just came across your [IC2 forum post](http://forum.industrial-craft.net/index.php?page=Thread&threadID=13838), so I guess you have your answer there.
I used to support the old fluid handlers back in 1.9, but removed them when porting to 1.10 to avoid having to maintain two separate systems.
If I understood correctly, the IC2 devs will implement the fluid capabilities soon, so this issue should

[2017-01-11 08:27] #109 closed, assigned to nobody

[2017-01-11 21:26] rubensworks commented on #108
- The folder not being created is intended automatically, I've updated the wiki to reflect this.
- Some recipes (some were) were indeed not being loaded, this has been fixed.
- I will look into testing recipe overriding tomorrow.

[2017-01-12 18:48] rubensworks commented on #108
@NullMagic I just tried the recipe overriding myself, and everything seems to work as intended.

I've used the following recipes file: https://cl.ly/2n3O020w3B0C
Could you try using that one yourself by placing it on the following location?: `config/integrateddynamics/_override/squeezer_ores.xml`
You should have the recipe available to squeeze one smoothstone into 4 cobblestone.

[2017-01-12 20:43] #107 closed, assigned to Runesmacher

[2017-01-12 21:32] #97 closed, assigned to Runesmacher

[2017-01-13 08:34] #106 closed, assigned to Runesmacher

[2017-01-13 17:52] NullMagic commented on #108
I added the xml to the override folder, it didn't seem to affect the squeezer recipes at all, squeezing stone still gives 1 cobble, and all other squeezer recipes are still present.

[2017-01-14 22:17] MinoCraft opened #113 "Crash when breaking network"
Hello o/

I'm playing with Integrated dynamics and I've crashing when I breaked the redstone writer. You can see crash report [here](http://pastebin.com/hrNe0Yq0)

Thanks in advance !

[2017-01-15 01:32] Arisonius opened #114 "[suggestion] Stone Variant of Menril Torch"
As the title states. It's not a bug or an issue, just a suggestion. I like the sleeker look of stone torches, but I love the fact that your torches have no particle effects so I prefer them. I think the combination of a stone base and your torch top would make the perfect torch.

[2017-01-15 15:58] Kriptikz opened #115 "1.11.2 Missing Crafting Recipes"
Version 1.11.2-0.6.5
Tested on Forge 2206 & 2216

Missing Recipes: Logic Cable, Variable Store, Drying Basin, Squeezer, Menril Torch.

The blocks/items still exist in game and work but JEI doesn't have a recipe for them. I checked out version 1.10.2 to see what the recipes are, wrote them down, and attempted manual crafting back on version 1.11.2. The blocks/items still didn't craft.

I solved thi

[2017-01-16 12:01] rubensworks commented on #113
I need more information on how to reproduce this.
The situation that caused the crash, can you reproduce that yourself?
If so, please provide me with more details on that.

[2017-01-16 12:02] rubensworks commented on #114
Should be easy to implement, perhaps for the next feature update.

[2017-01-16 12:04] rubensworks commented on #115
Thanks for bringing this to my attention, I'll look into it.

Related to #108

[2017-01-17 02:11] shabble opened #116 "Feature: Operators for manipulating Lists"
Currently there doesn't appear to be a way to create a List except through `filter`ing an existing one, or manually creating one in the Logic Programmer.

I think it should be possible to do quite a lot with `Append(List, Any) -> List`, and maybe `Concat(List, List) -> List`, but my FP isn't the best, so discretion advised :-) A `head` and `rest` accessors might be nice, but `get` and `filter` can

[2017-01-17 19:04] #102 closed, assigned to rubensworks

[2017-01-17 19:18] rubensworks commented on #108
@NullMagic I just tried it myself again, even in a non-dev environment, and everything works as intended. So I'm closing this issue.

Make sure to add it like this:
<img width="783" alt="schermafbeelding 2017-01-17 om 20 17 32" src="https://cloud.githubusercontent.com/assets/440384/22035965/11e74c80-dcf2-11e6-856e-744b71c7396e.png">

[2017-01-17 19:18] #108 closed, assigned to rubensworks

[2017-01-17 19:19] #115 closed, assigned to rubensworks

[2017-01-17 19:57] #114 closed, assigned to rubensworks

[2017-01-17 19:58] rubensworks commented on #113
@MinoCraft Could you please provide more information? Closing this issue otherwise because I can't reproduce it.

[2017-01-19 12:02] codewarrior0 opened #117 "Energy Battery causes needless block updates while charging/discharging"
While in use, the Energy Battery issues up to 20 chunk updates per second, causing a corresponding FPS drop, especially in busy areas where the battery is likely to be used.

The fault can be traced back to unconditional calls to [`world.notifyBlockUpdate`](https://github.com/CyclopsMC/CyclopsCore/blob/master-1.9/src/main/java/org/cyclops/cyclopscore/helper/BlockHelpers.java#L130) via [`CyclopsTil

[2017-01-19 16:57] #113 closed, assigned to rubensworks

[2017-01-19 20:28] #117 closed, assigned to rubensworks

[2017-01-19 20:29] rubensworks commented on #117
Thanks for mentioning this, I've been a bit too careless with these `sendUpdate` calls...
I'll go through the different mods that use them to have a look which ones can be removed.

[2017-01-20 19:10] rubensworks commented on #91
Should be fixed because of CyclopsMC/CyclopsCore@a6da6fd7091fe791430f4ae35302b49d342ab254

[2017-01-20 19:10] #91 closed, assigned to nobody

[2017-01-20 19:11] rubensworks commented on #73
Closing this because of unreproducibility in the latest versions.

[2017-01-20 19:11] #73 closed, assigned to nobody

[2017-01-22 22:11] Runesmacher opened #118 "Keybind screen and config screen not correctly localized 1.11"
The Keybind screen is not correctly localized in the 1.11.2-0.6.7 version.
![image](https://cloud.githubusercontent.com/assets/979451/22186518/8165dff0-e0f7-11e6-98ad-5459b29c1da4.png)

=> wrong key used
https://github.com/CyclopsMC/IntegratedDynamics/blob/f33bdbdeff3bc39784069f29a4aa3f776a247a60/src/main/resources/assets/integrateddynamics/lang/en_US.lang#L32

For the config screen:
Some items ha

[2017-01-22 22:58] ProsperCraft opened #119 "Biome name missing In Journeymap"
https://gyazo.com/dd59cdc7cc8bc779feacc359fad0d4dd

[2017-01-23 21:49] Rob5Underscores-zz opened #120 "Part container could not be found crash"
http://pastebin.com/6iwL7zsr

Immersive Engineering: 0.10-54
CyclopsCore: 1.9.4-0.9.0

I realise these builds are out of date and the issue may have been fixed, if so could you please tell me where/when it was fixed so I can patch this in the above mod version (restricted by client version).

Thanks

[2017-01-24 07:14] rubensworks commented on #120
Please provide me with step-by-step details on how to reproduce this.
This is not the first time I receive a crash report like this, but no one has been able to tell me what exactly caused the crash.

[2017-01-25 01:48] kreezxil opened #121 "1.11.2-0.6.7 breaks dye crafting and block uncrafting"
there are no errors in either the server or client console.

1. install forge build 2224
1. install integrated dynamics and it's dependencies
1. provided it doesn't crash on you at startup (previously reported at https://github.com/CyclopsMC/CyclopsCore/issues/41)
1. try to craft bonemeal (fail, no output)
1. get ingots, make a block, uncraft block (fail, no output)

[2017-01-25 07:59] rubensworks commented on #121
I also noticed some special recipes being borked, will have to look into that.

[2017-01-26 04:14] shortybsd opened #122 "[1.11.2] Weird crafting issue on all other mods"
Minecraft 1.11.2
Forge 2223
IntegratedDynamics-1.11.2-0.6.7

I can no longer craft bonemeal, blaze powder, pretty much anything that uses 1 item to craft something else. How it told on this mod is when I put the item in a Super Crafting Frame, and click the left and right arrows to go through multiple recipes for same output, your mod shows Facade and Variable Card for any single item i put in the

[2017-01-26 07:48] rubensworks commented on #122
Duplicate of #121, please check other issues before reporting.

[2017-01-26 07:48] #122 closed, assigned to nobody

[2017-01-28 07:16] shabble opened #123 "Crash when trying to display computed item damage ratio"
Crash with attached crashlog.

java.lang.ClassCastException: org.cyclops.integrateddynamics.core.evaluate.variable.ValueTypeCategoryNumber
 cannot be cast to org.cyclops.integrateddynamics.api.evaluate.variable.IValueTypeNumber

  at org.cyclops.integrateddynamics.core.evaluate.OperatorBuilders$7.getConditionalOutputType(OperatorBuilders.java:97)

Context is approximately:

[code]

placing `dratio

[2017-01-29 13:20] rubensworks commented on #120
@Rob5Underscores Any more details?

[2017-01-29 13:24] Rob5Underscores-zz commented on #120
Apologies for not responding sooner - saw the email at school and forgot to go back later.

Unfortunately, since this is a public server I have no idea what caused it as there are many players online. Although the issue is a less pressing matter for me as it has not occurred in a while.

Sorry for being of absolutely no help in debugging this.

[2017-01-29 13:25] #119 closed, assigned to rubensworks

[2017-01-29 13:25] #118 closed, assigned to rubensworks

[2017-01-29 13:25] #121 closed, assigned to rubensworks

[2017-01-29 13:27] rubensworks commented on #120
Ok, I'm leaving this open for the time being.
If anyone else would experience this issue, please give me detailed instructions on the situation so that I can reproduce it.

[2017-01-29 14:01] #123 closed, assigned to rubensworks

[2017-01-29 14:02] rubensworks commented on #123
@shabble Casting to numbers will be removed in the next update. It is not required anymore, so this will simplify your logic slightly.

[2017-01-29 14:46] ckaraviotis commented on #64
I'm experiencing the same issue using the SkyFactory3 mod pack v3.0.6, which uses

integrated dynamics 0.6.7
integrated tunnels 1.1.0
cyclopscore 0.9.1

If there's anything I can do to help, let me know. I'm hosting the server so I can spin off another instance if you need.

Interestingly, the server is hosted on my LAN, and I still get the issue with 0ms ping. It does work in single player.

[2017-01-29 14:48] rubensworks commented on #64
@ckaraviotis Thanks for offering to help. I won't have time to look into this myself in the next coming week unfortunately. But I'll definitely contact you for help after that. (Unless you can look into this one in the meantime @Runesmacher?)

[2017-01-29 15:06] shabble opened #124 "feature: (Number -> String) format or concat (Str, Num) operator"
As far as I can tell, it doesn't appear to be possible to convert an Int/Number type into a string to use with the existing `concat(Str, Str) -> Str`.

A "proper" format/convert would potentially have options like number of decimal places, base, etc, but the simplest thing that would allow `concat("My value is:", $someIntVar)` would be very handy.

Versions:

* IntegratedDynamics-1.10.2-0.6.7.jar

[2017-01-29 15:15] shabble opened #125 "feature: "Safe Mode" config option?"
I've been having a lot of ID-related crashes lately, and quite a few of them have been persistent, with subsequent restarts crashing immediately or shortly after world loading (playing SSP).

I've been resorting to save-file hackery to hopefully edit out the offending blocks/variable cards, but this is kinda scary and tedious.

If practical, I wonder if a config-file option along the lines of 'saf

[2017-01-29 15:20] rubensworks commented on #125
Repeated crashes should be impossible, because ID will automatically disable networks after restarting from a crash, which requires resetting the network to make it work again.

Does this mean that you are experiencing crashes in different unrelated networks as well when a series of subsequent crashes occurs?

(Please do report all crashes you encounter if they haven't been reported yet)

[2017-01-29 15:22] rubensworks commented on #124
You can use the "Named" operator for this toString conversion.
Granted, the name of this operator is not ideal, I'll change this soon.

[2017-01-29 15:22] #124 closed, assigned to nobody

[2017-01-29 15:35] shabble opened #126 "Repeated crash after materialising a predicate function"
Previously unreported because I lost a lot of the context of what was in the network because I ended up NBTEditing out to get the world to load, but the following crashlogs are all from the same root cause.

I *think* I was trying to define a predicate for a Tunnel importer that would accept items with durability < 50% max durability, and as part of that, tried to 'squash' a long sequence of apply

[2017-01-29 15:39] rubensworks commented on #126
This looks like something going wrong while trying to render the variable item after reading its NBT data, which consists of a dynamically built operator.

Thanks for reporting, I should be able to reproduce this myself.

[2017-01-29 20:41] Runesmacher commented on #64
@ckaraviotis Does it also happen if you run a server with only Cyclopscore, ID and IT? I will have some time next week to look into it, but like i sayd i cant get it to reproduce or see any errors or try fixes on my local network, if you can reproduce it easely and would be willing to allow me to log in and see if we can reproduce and test with some dev builds to get to the bottom of this

[2017-01-29 21:01] ckaraviotis commented on #64
@Runesmacher I started up a new server instance with only Cyclopscore, ID, IT & CommonCapabilities 1.3.0 and it's still happening, so it seems reproducible.

I'll set up some accounts next week so you can login and upload builds & start/stop the server whenever you need.

[2017-01-29 21:14] Runesmacher commented on #64
@ckaraviotis that would be awesome :D i hope i can get the same effects as you and we can crack this one down ;)

[2017-01-30 09:50] ckaraviotis commented on #64
@runesmacher Server is up and running at alore.tk:25566. Let me know your email address & I'll send you the account login details so you can replace files, op yourself etc.

[2017-01-30 19:54] Runesmacher commented on #64
@ckaraviotis i'm following you on twitter now, can't send you a private message, i gues you need to add me, so i can give you my details; don't reallyt want em public (yet) ;)

[2017-01-31 15:53] wrothmonk opened #127 "Missing texture in properties menu"
The properties menu seems to be missing its inventory texture as seen in this screenshot:
![2017-01-31_09 22 42](https://cloud.githubusercontent.com/assets/4218749/22471886/69572d6c-e799-11e6-845a-546676ec3ea6.png)
This appears to be the same for all readers, writers, and all integrated tunnels interfaces, importers, and exporters.

I've also noticed a small issue with the update interval setting

[2017-01-31 20:46] moosegold opened #128 "Cable Dupe when breaking a component in the same block as another component w/o wrench"
Breaking a component with anything other than a wrench, when attached to a logic cable and in the same block space as another component will return the expected component, as well as a cable, leaving the cable block in place. The broken component still gets removed.

[2017-02-02 20:43] Runesmacher commented on #99
@Belgabor Does it still happen in the latest version of ID? if so is it possible to send screenshots/video with chunck boundries so we can try to reproduce it.
I tried reproducing on a dedicated server, starting/stoping it and flying away and coming back

[2017-02-02 21:13] Runesmacher commented on #64
Issue resolved with PR #129 . Also needed for this is Cyclopscore PR [#43](https://github.com/CyclopsMC/CyclopsCore/pull/43).

Special thanks to @ckaraviotis for providing a dedicated test server for debugging and testing

[2017-02-03 10:02] rubensworks commented on #99
@Runesmacher This is the video: https://www.youtube.com/watch?v=gWMvC3hKZ6Y
It's unlikely to be fixed in the latest version though, since nothing major has been changed since then.

[2017-02-03 10:04] #64 closed, assigned to rubensworks

[2017-02-05 08:03] Barhandar commented on #68
It would be welcome if it was automatically generating list. Something like "if this block is oreX and X is not blacklisted, search the mod the block is from for dustX, if not found use the first item in that oredict".

[2017-02-05 08:25] Barhandar opened #130 "Indicate that Squeezer requires redstone pulse to reset it"
It's in no way intuitive or indicated. Intuitive solution is right- or left-clicking it.

[2017-02-06 19:20] rubensworks commented on #128
@moosegold I can't reproduce this, please provide more details: what tool, what position you were in when you break the part, what part of the component you are targeting, ...

[2017-02-06 20:46] rubensworks commented on #126
It appears this is part of a larger problem, an edge-case I haven't taken into account at all. I have to rewrite some parts of the materialization process, so this might take some time.

[2017-02-06 21:29] moosegold commented on #128
I've tested it using a diamond pickaxe, a plain fist, a tinker's pickaxe, and an actually editions drill. I've tried aiming at multiple parts of the component, and breaking it from multiple angles. Both pieces fly off in different directions. It only occurs in survival mode, and for me,100% of the time. I just created new instance with only this mod in both 1.10.2 and 1.11.2 (as well as its requir

[2017-02-06 22:08] Runesmacher commented on #128
Confirmed, breaking the reader in the ewemble of @moosegold while in survival mode with a diamond pickaxe will pop off the reader and put  it in the inventory, and will make a cable jump away, while leaving the cable and the other reader.
Will look into it now ;)

[2017-02-09 03:10] BiatuAutMiahn opened #131 "[Suggestion] Additional Commands"
Allow a NAND, isBurnable, and isSmeltable?

[2017-02-11 10:23] rubensworks opened #132 "Update RS API"
Apparently, the RS API has been updated...

[code]

[2017-02-11 21:19] rubensworks opened #133 "Define null item variables in LP"
Add a way to define null item variables in the logic programmer manually.
This is useful for conditional item movement in Tunnels.

[2017-02-12 20:20] #126 closed, assigned to rubensworks

[2017-02-13 18:40] #128 closed, assigned to rubensworks

[2017-02-13 18:41] rubensworks commented on #128
@Runesmacher Fixed on master, feel free to double-check if I haven't done anything stupid.

[2017-02-13 19:00] #130 closed, assigned to rubensworks

[2017-02-13 19:28] #132 closed, assigned to rubensworks

[2017-02-13 19:28] #127 closed, assigned to rubensworks

[2017-02-13 22:05] Runesmacher commented on #128
I have tested and it seems to work correctly, one thing i noticed (maybe intended beheviour)
Place a reader and then break it (not placed on a cable) => Reader comes back into inventory with no NBT data
Place a reader on a cable then break the reader => Reader comes into inventory with NBT data

[2017-02-14 00:56] Umber0010 opened #134 "The system does not like barrels"
While playing Skyfactory 3.0 I noticed that if used an item importer to put perishables into I wooden barrel it would, rather than consume the shackles the item there with a red 0, and after that mouse tweaks could be used to pull out items and send the number to the negative, so basically infinite leaves, Apple's, beef Wellington, aka anything that that can be composted, I believe that this is be

[2017-02-14 07:22] rubensworks commented on #134
The importer is just using the standard item handler capability, so it sounds like the barrels may have an issue with their implementation.
Could you report that on their issue tracker first?

[2017-02-14 07:24] rubensworks commented on #128
@Runesmacher Yep, that's intended. Thanks for testing.

[2017-02-15 22:10] BiatuAutMiahn opened #135 "Bug: Redstone Reader, and Redstone"
When placing a T of redstone, and the repeater at the top of the T, the signal is not read, even when the redstone appears to branch out a bit to the reader.

Shots are [Here](https://InfinityCommunicationsGateway.net/pub/Minecraft/Shots/#files%2FIntegrated%20Dynamics)

[2017-02-16 19:42] #135 closed, assigned to rubensworks

[2017-02-16 19:44] rubensworks commented on #135
I fixed all the cases, except for the reader that is placed on top of a repeater, because you could argue that the redstone value is encapsulated in the repeater there, and is not meant to be read from that side.

[2017-02-16 20:13] rubensworks commented on #131
Will be included in the next release.

[2017-02-16 20:13] #131 closed, assigned to rubensworks

[2017-02-17 01:08] BiatuAutMiahn commented on #135
Thank you, and good job!

[2017-02-17 01:49] BiatuAutMiahn opened #136 "[Feature] Special Comparison Operator"
Now I don't know what this would be called but it would be useful in some cases:
If Variable A is true Then output would be Variable B

For example:
[code]
[code]

[2017-02-17 02:13] BiatuAutMiahn opened #137 "[Feature] List count"
I am attempting to get a count of a specific item/entity in a list. I think this might be possible with contains_p, but I don't quite understand operators.

[2017-02-17 05:53] BiatuAutMiahn opened #138 "Feature: More animal/plant commands"
How about canShear, canBreed (is ready and/or can breed), Age (animals/plants), and canPlant

[2017-02-17 07:01] rubensworks commented on #137
You're right, a `count` operator is missing indeed.

[2017-02-17 07:02] rubensworks commented on #136
The problem is that you'll also need a value that is returned when A is false. In that case, the difference with the choice operator is minimal, so you should be using that one then.

[2017-02-17 07:02] #136 closed, assigned to nobody

[2017-02-17 07:06] BiatuAutMiahn commented on #137
Well if you use the || operator, you can get the length of the list, just not the count of 'Any'

[2017-02-17 07:16] BiatuAutMiahn opened #139 "Feature: Utility/Machine in use"
The ability to detect if a player is currently using a Machine/Utility block may be useful. As in, the player is accessing the Block's menu/interface. (inUse)

[2017-02-17 07:17] rubensworks commented on #139
I'm not sure if that would be possible, but I can look into it.

[2017-02-17 07:21] BiatuAutMiahn commented on #139
I must apologize, i feel like I'm giving you a lot of work, I just have a lot of ideas for automation.

[2017-02-17 07:25] rubensworks commented on #139
@BiatuAutMiahn No worries, the aspects/operators you suggest should be fairly simple to implement, because this mod has been designed in such a way that makes it very easy for me to add them. I still have a lot of other plans for ID that _do_ require a lot of work though :)

[2017-02-17 07:26] BiatuAutMiahn commented on #139
Ah ok, may I ask what your planning?

[2017-02-17 07:34] rubensworks commented on #139
@BiatuAutMiahn My list is quite long, so I won't share it all. But the first things I'll be working on will be in-game documentation and wireless networks, which will be for version 0.7.0.

[2017-02-17 07:49] BiatuAutMiahn commented on #139
ah ok, looking forward to it. However, and this is my personal opinion, I would prefer not to have wireless capabilities, with the following exceptions of course, it should be range limited without some kind of booster/repeater, and/or the ability to completely disable it in the configs. You could make it work like actual Wifi, Only information to/from things like readers/writers, but not item/flu

[2017-02-17 07:55] rubensworks commented on #139
@BiatuAutMiahn Don't worry, I have some ideas to make it balanced ;) And as most things in this mod already are, wireless networks will be disableable.

[2017-02-17 08:21] BiatuAutMiahn commented on #139
Right, with #17 I noticed that mostly when I was trying to move too fast, such as running, or using a boat

[2017-02-18 21:19] #137 closed, assigned to rubensworks

[2017-02-18 21:21] rubensworks commented on #116
Will be included in next update. I've also added a fun new operator that allows you to create infinite lists...

[2017-02-18 21:21] #116 closed, assigned to rubensworks

[2017-02-19 03:55] BiatuAutMiahn opened #141 "Include 1.11.2 in your jFrog nightlies?"
Could you include 1.11.2 in the nightlies? I like to live on the bleeding edge :D

[2017-02-19 08:14] rubensworks commented on #141
There are 1.11.2 builds already. But since 1.10.2 is still the main develop branch, I only occasionally merge to the 1.11.2 branch. But I'll do that eventually.

[2017-02-19 08:14] #141 closed, assigned to nobody

[2017-02-19 10:55] rubensworks commented on #99
@Belgabor I just implemented a fix for another issue that caused a crash with chunk unloading. This change may very well also fix this issue, so if you're interested, you can use the latest dev build to see if this resolves your issue.

[2017-02-19 21:45] Belgabor commented on #99
Sorry, I can't reliably test this atm, the server we played on has switched packs unfortunately.

[2017-02-20 18:09] BiatuAutMiahn opened #142 "Idea: XP Attractor and Collector"
How adding a machine that will attract XP, like the player attracts XP when nearby. Could be powered by RF? And an XP collector, basically a Hopper-like device that would store the XP Orbs in the form of a fluid maybe? And can only be retrieved via another machine that will spit out the orbs.

Say you have a machine that will smelt ore, normally when collecting the items will give you XP, but when

[2017-02-20 22:17] scollenburg commented on #67
FWIW, in my Reactor control LUA I use a "fast" slope estimation algorithm that uses fixed coefficients to estimate slope using 1 add & 1 multiply per sample & 1 divide. It's not a precise as the classic least squares algorithm, but it's very fast & the estimates are close enough to build useful logic.

My specific use is to watch the reactor & wait for delta RF/tick to stabilize, so I actually run

[2017-02-21 01:40] PetersonE1 opened #143 "Opening Inventory Reader GUI Crashes Game"
If anyone, both on singleplayer and multiplayer, opens the GUI of the Inventory Reader, the game crashes or the server goes down.

Integrated Dynamics 0.6.8
Minecraft 1.11.2
Forge-13.20.0.2228

[Mod List](http://dannyandson.com/unreal-tech-modpack/)

[2017-02-21 07:39] rubensworks commented on #142
This is way out of scope for Integrated Dynamics. I do however have similar plans for EvilCraft...

[2017-02-21 07:39] #142 closed, assigned to nobody

[2017-02-21 07:41] rubensworks commented on #143
I can't do anything without a crashlog.
if it's Refined Storage-related, that has been fixed in the dev version.

[2017-02-21 07:41] #143 closed, assigned to nobody

[2017-02-21 18:08] BiatuAutMiahn opened #144 "Feature: some more list operators"
-If List A contains entries in List B return bool (if List A contains at least preexisting entries in list B)
-If List A equals List B then return Bool
-Dedup List entries, return list.
-List combine, return list.

[2017-02-21 18:10] BiatuAutMiahn opened #145 "Subnetworks"
-Allow isolated networks to use same variable store and remain isolated. (using variable store faces)

[2017-02-21 18:11] BiatuAutMiahn opened #146 "Feature: Variable References"
-Variable Ref from Component ID (Return Var-Reference from an ID) Item Interface, etc

[2017-02-21 18:12] BiatuAutMiahn opened #147 "Feature: Combined Variable Stores"
-Allow variable store to be connected like a double chest?

[2017-02-21 18:25] shabble opened #148 "Crash breaking logic cable with pick"
Crash occurred when breaking a cable while dismantling a small ID network

Context:

* network shouldnt' have been active (had removed cards from display panel which was only output in network)
* was connected to a variable store wth some cards (including RS Item List aspect), but I think I'd already removed the Inventory Reader on the RS thing.
* cable being broken *might* have been facaded (or I

[2017-02-21 18:41] shabble opened #149 "Lighting glitch with facade/display panel"
Under some conditions (not sure exactly what triggers it, but it does sometimes/eventually reoccur in same place when fixed), there's some weird lighting glitches occurring in a small ID network.

Images below illustrate a few things:

Top white row is white laboratory blocks from Chisel. Black ones are same (white) blocks facaded onto ID logic cables. Texture seems to be correct, just very very d

[2017-02-21 19:43] BiatuAutMiahn opened #150 "Feature: Surveillance Block?"
Since the Display Panel can show graphics, is it possible to have a block that can watch and area? May be out of scope, but really cool

[2017-02-21 19:48] BiatuAutMiahn opened #151 "Feature: Single Item conversion/crafting utility."
-A utility block than can perform simple/single item crafts?

Examples:
-Block of Coal<>9 Coal
-Bone>3 Bonmeal
-Menril Block<>9 Menril Chunks
-etc

Edit: I did try something like this with Item Exporters, and a crafting table, but it does not work.

[2017-02-21 20:32] rubensworks commented on #144
- Already possible using the reduce operator
- This is the equal operator
- Not possible yet, might implement is as the `uniq` operator
- This has been implemented in-dev as the `concat` operator.

[2017-02-21 20:34] rubensworks commented on #145
Something exactly like this won't be implemented, but perhaps subnetworks with proxy-able variables could be doable.

[2017-02-21 20:35] BiatuAutMiahn commented on #145
Or your channel method previously mentioned?

[2017-02-21 20:36] rubensworks commented on #146
This would be hard to do, since they are multiple aspects per reader, so the dereferencing should somehow also include this information...

[2017-02-21 20:37] rubensworks commented on #147
Why would you need this?
I don't really see the use, closing this in the meantime.

[2017-02-21 20:37] #147 closed, assigned to nobody

[2017-02-21 20:38] rubensworks commented on #148
@shabble Can you reproduce this when using the AA silk touch tool?

[2017-02-21 20:40] rubensworks commented on #150
Yeah, this is not easy to do at all, not going to happen from my end. The Mystcraft dev was working on something like this a while ago, but I haven't heard anything from it anymore lately.

[2017-02-21 20:40] #150 closed, assigned to nobody

[2017-02-21 20:41] rubensworks commented on #151
Not sure if I want to add this, perhaps to the Tunnels extension.
In the meantime, you can use another mod of mine: https://minecraft.curseforge.com/projects/structured-crafting

[2017-02-21 20:43] rubensworks commented on #145
Related, yes, but still different, I'm just thinking about a proxy method between subnetworks/channels.

[2017-02-21 20:45] BiatuAutMiahn commented on #151
Your structured crafting mod is surely useful, however it spawns blocks rather than items that can be stored.

[2017-02-21 21:13] BiatuAutMiahn opened #152 "Bug: Redstone Writer and Comparator"
-When a redstone writer is sending a signal to the side of a Comparator, the signal is not output properly.

Shots: [here](https://infinitycommunicationsgateway.net/Pub/Minecraft/Shots/#files%2FIntegrated%20Dynamics%2FRedstone%20Writer)

[2017-02-21 21:33] shabble commented on #148
no, I can't seem to reproduce it (I've since torn down the original thing that was doing it, and trying various combinations of cables, facades and tools (with and without silk touch) doesn't seem to do it.

I did notice that breaking a facade with a cable inside doesn't appear to drop the cable, only the facade. Separate bug?

[2017-02-21 21:44] BiatuAutMiahn opened #153 "Feature: Fluid Storage Tanks."
-I can see that Evil craft has Fluid storage tanks, and I was wondering if you would be able to separate that tank into it's own mod, or include it in this one? The reason I ask is because there are no other simple tanks out there for 1.11.2, and EvilCraft would add alot more than necessary.

Thank you

[2017-02-22 07:30] rubensworks commented on #148
@shabble If you can reproduce it, that also sounds like a separate bug, yes.

[2017-02-22 07:31] rubensworks commented on #153
No, I won't be separating that. And this really doesn't have anything to do with ID...

You can disable large parts of EC if you want to.

[2017-02-22 07:31] #153 closed, assigned to nobody

[2017-02-22 08:48] BiatuAutMiahn commented on #153
I mention this because Integrated Tunnels has the Fluid Interface/Importer/Exporter, and the Squeezer produces a liquid Menril.

[2017-02-22 15:20] kreezxil opened #154 "[1.11.2-0.6.8] forestry compitability"
It's listed in the fml client log as a thread/ERROR and the text calls it a crash. But the client runs so it's not a crash.

https://gist.github.com/kreezxil/7313b72041c9de98e37dc2dfcf55240d

the entire fml client log

https://gist.github.com/kreezxil/6475448742f4466372318c98bdbafe9f

[2017-02-22 22:34] #139 closed, assigned to rubensworks

[2017-02-22 22:34] #152 closed, assigned to rubensworks

[2017-02-22 22:35] rubensworks commented on #152
Was not really a bug, since the comparator expects strong power, but this is supported as well since the last commit.

[2017-02-24 13:01] Gayanfalor opened #155 "[1.11.2-0.6.8] Cant craft the squeezer"
All is said on tittle, when i put recipe to craft the squeezer i can see the result but cant take it out it stay on the result box :s

[2017-02-25 19:28] Nedelosk commented on #154
There is an problem with the backpacks too.You register the backpacks items with the false backpack uid. You have to use the uids from the BackpackManager.

[2017-02-25 19:31] mezz commented on #154
I think I changed the backpack UIDs in 1.10 or 1.11

[2017-02-26 12:28] rubensworks commented on #155
@Gayanfalor The recipe must be somehow disabled then, because I can craft it myself just fine.

[2017-02-26 12:28] #155 closed, assigned to rubensworks

[2017-02-26 12:30] #154 closed, assigned to rubensworks

[2017-02-26 12:57] rubensworks commented on #148
Note to self: this is probably a multithreading issue because of the cable breaking that happens within the world thread, and the network ticking happening in the server thread. This explains the non-determinism Add proper locks to solve this.

[2017-02-26 13:05] #148 closed, assigned to rubensworks

[2017-02-27 10:28] Gayanfalor commented on #155
Yep i dont know from what its coming i have the same problem for crafting a block from another mod.

So the problem is not from IntegratedDynamics

[2017-02-27 10:51] Gayanfalor opened #156 "[1.11.2-0.6.8] Minor "bug" with drying bassin with already cryst menril block+ 1bucket of liquid menril"
Hi there, just spotted that "problem" when doing lots of crystalised menril block, i remember on SF3 in 1.10.2 it was working but here its not.

Fill a drying bassin with liquid menril wait it to crystalise, squeese another menril log to add the liquid menril with the crystalised block, remove the block and for me after this the liquid menril is not drying it keep it in it, i need to break the bas

[2017-02-28 13:29] #149 closed, assigned to rubensworks

[2017-02-28 14:01] rubensworks opened #157 "Implement support for MCMP2"
https://github.com/amadornes/MCMultiPart/tree/1.11

[2017-02-28 14:48] #156 closed, assigned to rubensworks

[2017-03-01 13:53] rubensworks commented on #99
Version `0.6.9` should have fixed this, if anyone else is still encounter this with the version or later, please reply to this issue.

[2017-03-01 13:53] #99 closed, assigned to rubensworks

[2017-03-10 04:30] BiatuAutMiahn opened #158 "Feature: Operator to read variable in network?"
How about two operators to get a Variable Type and a variable's Value. Example:

Get a variable's Value:
`Value( Get( List("Variable Store Inventory"), 0))`

[2017-03-10 04:32] BiatuAutMiahn opened #159 "Question: Static or Variable Variables?"
Are Variable Cards Static, or Variable? Can I increment a variable card in a variable store? If not then I propose a few operators to modify variable cards...like Integers.

[2017-03-10 07:45] rubensworks commented on #158
I haven't thought of this before, but that would definitely be a useful thing to have.
It would be a more expressive proxy method.

[2017-03-10 07:46] rubensworks commented on #159
The whole idea of this mod is that everything is immutable.
I do however have an extension in mind for allowing mutable values...

[2017-03-10 07:46] #159 closed, assigned to nobody

[2017-03-12 07:30] rubensworks commented on #134
@Umber0010 Any updates? I'm closing this issue otherwise.

[2017-03-12 07:32] rubensworks commented on #120
This should be fixed thanks to 74f76a1b2793aaf1905bea2d20038e98ed2691f6.
If anyone else would encounter this issue after version `0.6.10`, please tell me here.

[2017-03-12 07:32] #120 closed, assigned to nobody

[2017-03-12 07:33] rubensworks commented on #92
@Runesmacher Could you try it with HWYLA (fork of WAILA)? Maybe this has been fixed already on their end.

[2017-03-15 17:30] McJty opened #160 "Energy transfer also happens client side?"
It seems as if Integrated Dynamics is also letting energy transfer client side and that's not a good idea. This can produce problems like these:

java.lang.NullPointerException: Ticking block entity
    at mcjty.rftools.blocks.powercell.PowerCellTileEntity.getNetwork(PowerCellTileEntity.java:152)
    at mcjty.rftools.blocks.powercell.PowerCellTileEntity.receiveEnergyMulti(PowerCellTileEntity.java:

[2017-03-16 08:03] rubensworks commented on #160
I'm not sure what the energy capability interface says about whether or not it should only run server-side or not. My assumption was that client-side energy transfer is still required until synchronization is done by the server.

I'll look into it.

[2017-03-19 12:49] mkrtes opened #162 "Crash after start server"
Full crashlog attached
// Ooh. Shiny.

Time: 19/03/17 13:41
Description: Exception in server tick loop

java.lang.IllegalStateException: The part container at north could not be found.
	at org.cyclops.integrateddynamics.core.network.PartNetworkElement.getPartState(PartNetworkElement.java:84)
	at org.cyclops.integrateddynamics.core.network.PartNetworkElement.getUpdateInterval(PartNetworkElement.jav

[2017-03-19 15:35] rubensworks commented on #162
Please try the latest version `0.6.10` and let me know if it works, because that should've fixed this issue.

[2017-03-23 19:39] #160 closed, assigned to rubensworks

[2017-03-23 20:12] #134 closed, assigned to nobody

[2017-03-23 20:12] #162 closed, assigned to nobody

[2017-03-27 13:11] ShelLuser opened #163 "Facade stair blocks don't work as expected"
I recently started a (new) survival game which also included Integrated Dynamics and I seriously love it.

Now, I discovered the facade blocks and I love the concept, also because it really fits a mod which mentions "integrated" :)  But I noticed 2 things: if you place a facade block on top of a chest then this will block the chest from opening. Somewhat understandable because full blocks do that,

[2017-03-27 13:24] ShelLuser commented on #68
Just sharing my 2 cents: I'm not a fan of this system, for the simple reason that it doesn't add up from a gameplay perspective. Squeezing wood (which is a softer material than stone) to get some kind of fluid out of it actually makes sense; it could even be doable in real life (to a certain extend). But it doesn't really make sense for (stone) ores; you can't squeeze stone get dust out of it, tho

[2017-03-27 14:22] rubensworks commented on #163
Not a bug, just a not-yet-implemented feature :-)

[2017-03-27 14:26] rubensworks commented on #68
@ShelLuser I don't think the ore recipes are too overpowered. The Squeezer is still a manual process, which is quite intensive for the player, and automation is not trivial.

What I _could_ do though, is making the ore recipes more difficult, which would require the player to jump more on the Squeezer, which would also be more realistic.
I won't make any promises if I'll implement this, I have a l

[2017-03-27 16:25] ThomasAunvik opened #164 "Right Clicking on Drying Basin in GM 3"
Right clicking on a drying basin in gamemode 3 kicks you out of the server with this error:
![img](http://i.imgur.com/joWAv5Y.png)

[2017-03-27 17:43] rubensworks commented on #164
I see, never tested this myself before.

Note to self, I get this error when trying it in SSP:
[code]

[2017-03-29 09:53] ShelLuser commented on #68
Fully understandable, as said: just my 2 cents :)  thanks for your comment!

[2017-04-03 03:07] PenguinMan98 opened #165 "Integrated Dynamics battery charges from ender IO system but doesn't output."
Hey guys. I built the battery and plugged it into my ender IO conduit system and it charged up to full quick enough.  It says it contains 100,000 RF.  I took it with me to an alternate dimension from the RFtools mod and am trying to use it to power the dialing device/matter transmitter to take me home but it's not powering the devices. I know the answer is probably mod incompatibility but maybe yo

[2017-04-03 03:10] rubensworks commented on #165
The batteries only output energy when a redstone signal is supplied, are you doing this?

[2017-04-03 19:05] PenguinMan98 commented on #165
Ah, that's the trick. Sorry to bother you!

[2017-04-03 19:05] #165 closed, assigned to nobody

[2017-04-06 15:42] JSideris opened #166 "Squeezer automation exploit resulted in NullPointerException"
I cannot be 100% certain, of course, but it seems that this machine that I built in an attempt to fully automate the squeezer resulted in a persistent crash each time I start the game.

![Machine](https://cloud.githubusercontent.com/assets/8083793/24761850/9a62f842-1aba-11e7-9b7e-4d93913da9c7.png)

It's a weird issue (because the machine was working at first with switches as shown - before I attem

[2017-04-06 15:53] JSideris commented on #166
I was wondering if this was squeezer related or if it was something else. Again, I can't be sure, but this contraption doesn't experience the same issue:

![No problems here](https://cloud.githubusercontent.com/assets/8083793/24763545/ab44d11c-1abf-11e7-844c-412b7a972422.png)

[2017-04-07 18:52] Saereth opened #167 "Squeezer overly sensitive to server TPS on multiplayer"
in our pack we're using the squeezer for the first way to obtain iron essentially. What we've found however is it gets super punishing if the tps is not perfect. 5-10 hops seems to be enough to process an ore at 18-20tps, around 13-15 tps range however some people have reported having to jump over 50 times for a single dust creating a pretty bad user experience. If there is anyway to better sync t

[2017-04-08 00:45] rubensworks commented on #167
If the server is skipping ticks because of low TPS, there's not much I can do.
The game is made to run on 20 TPS, if you don't reach that, things will simply not work as intended.

I suggest that you look into increasing your TPS.

If you really wanted to, you could use Forestry's squeezer to achieve the same thing, but in machine-form that doesn't require you to jump on it.

[2017-04-08 00:45] #167 closed, assigned to nobody

[2017-04-09 16:31] Pandemoneus opened #168 "Server crash after breaking block reader during lag"
I am not sure whether the issue described in the title is the exact way to reproduce the bug. Basically what I was doing: I was trying to access the block reader, however it was not online (no power). It did not show so in TOP though. So I broke it, and after that the server crashed.

Here's the crash log:
https://pastebin.com/Lp5vcPtY

[2017-04-09 16:32] Pandemoneus opened #169 "TOP doesn't show the correct energy value of the Energy Battery"
The One Probe always shows the maximum energy value when hovering over the Energy Battery, but never the current stored energy value.

[2017-04-10 00:52] donoya opened #170 "Redstone Writer not automatically updating when set on strong signal"
I  am using version 0.6.11 for minecraft 1.11.2. I have it set up to power a comparator through a stone block with a power of 7 when there is not an empty array of players standing on a connected entity reader.

[2017-04-10 09:58] rubensworks commented on #170
@donoya Is it the comparator that doesn't update? Or the writer itself? i.e., is the writer showing the correct value when opening its gui?

[2017-04-10 10:01] rubensworks commented on #168
Are you able to reproduce the crash?

[2017-04-10 10:51] Pandemoneus commented on #168
I didn't try to, as the server population would be very pissed. It also seems to be a special situation.
But when looking at the log, I see you are working with weak references. Since that happened during player interaction, maybe you should add a check whether the block/part is really there?

[2017-04-10 14:13] donoya commented on #170
When I break or place a block next to the comparator, it updates. I'd have to check whether the gui displays the correct value, but since updating the comparator updates the signal, I don't think that's the problem.

Edit: I checked and the writer does update. It's just the comparator. It also happens with redstone dust, redstone torches, and repeaters. It does work if you put the dust/comparator/

[2017-04-10 22:22] rubensworks commented on #170
Ok, then it must be a block-update related issue. I'll look into it.

[2017-04-10 22:26] rubensworks commented on #168
That check is already happening. The block isn't there according to the game, which is why I make it crash, because something is going horribly wrong.

Could it be possibly that the part was placed by you only shortly before you opened the gui?

[2017-04-15 11:12] Aphyxia opened #171 "[1.11.2] Crash on connecting ID battery box with fluxed redstone cables to techReborn Windmill"
With foamfix:
https://pastebin.com/4DxkffRf

Without foamfix:
https://pastebin.com/Eiz9ZXMh

Fluxed Redstone:
https://minecraft.curseforge.com/projects/fluxed-redstone

Using latest of that and tech Reborn and its library as of 15.04

Integrated dynamics:
1.11.2-0.6.11
Common capabilities:
1.11.2-1.3.1
CyclopsCore:
1.11.2-0.10.0

[2017-04-22 13:04] #164 closed, assigned to rubensworks

[2017-04-22 13:59] #166 closed, assigned to rubensworks

[2017-04-22 13:59] #168 closed, assigned to rubensworks

[2017-04-22 13:59] #169 closed, assigned to rubensworks

[2017-04-22 13:59] #170 closed, assigned to rubensworks

[2017-04-22 13:59] #171 closed, assigned to rubensworks

[2017-04-23 01:31] phrostt opened #172 "Crash with IC2 .188"
IC2 version .188 crashes on startup, here is the crash log.
https://pastebin.com/YtqTJ3hR

[2017-04-23 05:17] rubensworks commented on #172
Duplicate of CyclopsMC/CommonCapabilities#5, will be fixed in next update.

[2017-04-23 05:17] #172 closed, assigned to nobody

[2017-04-23 12:30] FeldrinH opened #173 "Feature: List slice operator"
Add operator to get for example elements 2 to 12 of a list as a new list.

[2017-04-27 19:43] rubensworks commented on #138
Note to self:

* [x] `IShearable#isShearable(ItemStack item, IBlockAccess world, BlockPos pos)`

* [x] `EntityLiving#getAge()`
* [x] `EntityAgeable#isChild()`
* [x] `EntityAgeable#getGrowingAge() == 0` can breed
* [x] `EntityAnimal#isInLove() == 0` is in love

* [x] `EntityAnimal#isBreedingItem(@Nullable ItemStack stack)`
* [x] `IPlantable#getPlantType(IBlockAccess world, BlockPos pos)` (on an `It

[2017-04-30 19:37] #138 closed, assigned to rubensworks

[2017-05-05 00:33] mrlamb commented on #92
This might be the wrong place to post this, but since this issue is still open I will. Using The One Probe, and the Battery always shows at 100.0 KRF even when empty.

[2017-05-05 00:39] mrlamb opened #174 "Generator can't be piped into"
I'm sure most people play without the power requirements so maybe this was missed. I can't hopper or dropper into the Generator block. Haven't tried other methods of "piping" items as the mod pack I'm using has most of them tech gated, but it seems like these vanilla methods should work if any of them do.

I seem to remember the interface 'iSided' being bandied about at some point in the past by m

[2017-05-05 05:38] rubensworks commented on #174
I must have missed that, will add it in the next update.

[2017-05-05 05:39] rubensworks commented on #92
@mrlamb This should have been fixed in #169, are you using version 0.6.12?

[2017-05-05 05:55] mrlamb commented on #92
Great question, I'll check that tomorrow. Probably not, the mod pack my
friends and I use has a newer version, but I haven't seen the changeling.

On May 5, 2017 12:39 AM, "Ruben Taelman" <notifications@github.com> wrote:

[2017-05-05 18:52] rubensworks commented on #163
I just looked at it, and I would have to extend the facade system too much to support this.
I won't implement this because McMultiPart allows you to do exactly this and much more.

I don't want to reinvent the wheel :-)

[2017-05-05 18:52] #163 closed, assigned to rubensworks

[2017-05-05 19:17] rubensworks commented on #158
I had another look at it, and unfortunately this is not possible without a massive rewrite of the variable system.
So I won't implement this.

Alternatively, you can use the variable proxy block with a little bit less flexibility.

[2017-05-05 19:17] #158 closed, assigned to rubensworks

[2017-05-05 19:17] #174 closed, assigned to rubensworks

[2017-05-05 19:17] #133 closed, assigned to rubensworks

[2017-05-05 19:17] #144 closed, assigned to rubensworks

[2017-05-05 19:17] #173 closed, assigned to rubensworks

[2017-05-05 23:52] mrlamb commented on #92
Indeed, I'm on an old version. Thanks for taking the time to reply to my newbishness! Also, autocorrect on my phone is horrible. I swear I fixed "changeling" to changelog". Twice.

[2017-05-10 10:35] VampireValik opened #175 "Request for a mid/late-game automation friendly squeezer."
For early game the low tech manual squeezer seems absolutely fine. But for mid/late game I feel like there needs to be a more automation friendly squeezer. It can be "expensive" to make. For example require Menril Logs combined with Eye of Ender or something. Throw in a good RF per log cost so it will take a little bit more than a couple of the included generators to power it. That should still al

[2017-05-10 10:48] rubensworks commented on #175
A late-game squeezer alternative is planned.
But it's not high on my priority list, because the whole idea of this mod is automation.

But I'm happy you had fun automating the manual one, that was my goal ;-)

P.S. Remember that you can also use Forestry's Squeezer.

[2017-05-10 11:23] VampireValik commented on #175
I'm not sure fun is the word I would use to describe my endeavor. I was more annoyed at how over-engineered everything needed to be for such a trivial task. I did at least learn a little about how Integrated Dynamics works, though, so that is a positive take-away. This was my first time using readers and writers. Previously I had only used Integrated Tunnels for early game automation.

I don't hav

[2017-05-12 11:49] broeredaan opened #176 "SF3 server crash on update from 3.0.8 to 3.0.9"
Hey I'm having a crash after my server has started every time.

Crashlog says this:
java.lang.IllegalStateException: The part container at west could not be found.
	at org.cyclops.integrateddynamics.core.network.PartNetworkElement.getPartState(PartNetworkElement.java:92)
	at org.cyclops.integrateddynamics.core.network.PartNetworkElement.getUpdateInterval(PartNetworkElement.java:108)
	at org.cyclop

[2017-05-12 12:28] broeredaan commented on #176
Seems that removing sponge and after re-adding it solved my problem.

[2017-05-12 12:28] #176 closed, assigned to nobody

[2017-05-12 20:56] rubensworks commented on #176
That's strange. World corruption would seem like the only possible cause of this.
A good thing you managed to fix it.

[2017-05-15 22:39] BrewingCoder opened #177 "In love! LP replacement roadmap."
I just found your mod, first off let me say I love the shit out of this!

I'm still working my way through some of the finer details, but I see this as a totally viable replacement for logistics pipes.

When you combine this with the tunnels mod cit an replace most of the functionality of LP.

I think the only big tickets that are missing are crafting, some sort of interface to reach into the netw

[2017-05-15 22:42] BrewingCoder commented on #175
Personally, I'm fine with the early game squeezer. The forestry squeezer is nicely gain, plus using mod tweak or there's no reason why it can't be added as a byproduct of A pulverizer crusher in another mod. Ender IO is also very flexible when it comes to recipes for the sag mill or alloy furnace.  That's actually the route I took with my mod pack.

[2017-05-16 00:06] VampireValik commented on #175
Not everyone uses mod packs. Some of us like to cherry pick the mods we enjoy and put them together without having a bunch of extra stuff we don't care about.

It's great Integrated Dynamics supports the Forestry Squeezer. That doesn't help me, though. I don't enjoy the content Forestry adds so it's not worth it to me to intsall such a large mod just to access one machine.

Pulverizer support isn'

[2017-05-17 06:52] rubensworks commented on #177
I'm glad you're enjoying the mod! :-)

Regarding the roadmap, I still have many plans for IT and ID, which includes (auto)crafting and something like terminals. I can't give any estimates when I'll be able to implement this though.

Default routes for storage should already be possible by tweaking the interface priorities (e.g. setting it on a very high number to make it the default).
Unless you m

[2017-05-17 06:52] #177 closed, assigned to nobody

[2017-05-18 19:11] Claycorp opened #178 "MineTweaker support."
I see that you have added Minetweaker support to V0.7.0! Along with documenting it on the wiki. :tada:
Do you have an idea for when that will appear on CurseForge? I despise XML and would rather wait a few more days for the MT version to come out rather than spend hours screwing around with XML recipes.
Looking forward to that update! :+1:

[2017-05-18 20:12] rubensworks commented on #178
I'm currently in the process of testing, but everything seems to be stable atm, so the latest dev builds should be stable enough to start using.
I _hope_ to start preparing the release this Friday, otherwise it will be for Sunday.

P.S. This could be delayed in case I would discover any major issues, which is unlikely.

[2017-05-18 20:12] #178 closed, assigned to nobody

[2017-05-20 10:17] davqvist opened #179 "Game Crash when trying to read ExU2 Scanner"
MC 1.10.2
Forge 2297
ID 0.7.0
ExU2 1.4.1

https://pastebin.com/hk7c38CN

How to replicate:
1.) Place ExU2 Scanner
2.) Place Redstone Reader on Scanner
3.) Connect Redstone Reader with cables to full ID Battery
4.) Right click Redstone Reader
5.) Crash

Not sure if ExU2's fault or yours, but first guess was to post here. Let me know if this is a problem of ExU2, then I post on its github.

[2017-05-21 15:10] rubensworks commented on #179
I don't see any reason why it should crash on my end, perhaps you should report it to ExU2's issue tracker as well.

[2017-05-21 22:52] VampireValik opened #180 "Facade blocks are not oriented correctly."
- Minecraft: 1.11.2
- forge1.11.2-13.20.0.2299
- IntegratedDynamics-1.11.2-0.7.1
- Lots of other mods, all up-to-date.

I've noticed that some facade blocks are not oriented correctly. I first noticed the problem with Environmental Tech Alabaster Bricks. See the screenshot below. On the right is a real Alabaster Brick and on the left is the facade version with a cable inside. I believe that the fa

[2017-05-22 13:30] BrewingCoder commented on #175
Sorry; yes I get the whole 1.11 issue.  I'm just trying to offer up temporary work-arounds until the feature is implemented.

if you're using EnderIO here's some code to drop in your SAGMILLRecipes_User.xml.  Note that by doing this you're removing the ability for the Sag mill to make pulp from logs.

[code]

[2017-05-22 13:35] BrewingCoder commented on #175
if you're using Minetweaker and Actually Additions you can add the recipe to the crusher using the following code in a minetweaker script:
`mods.actuallyadditions.Crusher.addRecipe(<integrateddynamics:menrilLog>, <integrateddynamics:crystalizedMenrilBlock>, <integrateddynamics:crystalizedMenrilChunk>, 10);`

[2017-05-22 21:48] mrlamb opened #181 "Suggestion/Question re: proxies and the new tutorial"
Absolutely loving this mod and especially the new tutorial! Fantastic work with that. One thing that I stumbled over when running through it was that in the section regarding Operators, it's not immediately obvious how to use the "drop down box". Perhaps changing the instructions to something like "Type 'Arithmetic Addition' in the text field and select from the list that appears" might be more cl

[2017-05-23 05:38] rubensworks commented on #181
Thanks!

You're right, the operator creation instructions aren't clear from the text, will rephrase.

Regarding the proxy stacking, this should indeed be improved. Variables can also have ID's, but can stack when their ID is cleared, so this should also consistently be possible with proxies (and delays).

[2017-05-23 15:58] #181 closed, assigned to rubensworks

[2017-05-24 02:56] mrlamb opened #182 "Can't find part with ID #"
Hey guys me again.

https://www.dropbox.com/s/hzg0l1vozfnr62y/Screenshot%202017-05-23%2021.54.39.png?dl=0

Screenshot for ya to show the setup.

I loaded up single player tonight and the display screen on the right in the screenshot could not find the inventory reader shown on the left until I wrenched and replaced the cable. Working fine after that.

Let me know if you need any other information.

[2017-05-24 06:02] rubensworks commented on #182
Are you using the latest ID version?
What exactly is the TOP tooltip and display gui saying?
Does anything special come up in the logs?

[2017-05-24 15:35] mrlamb commented on #182
I'm using the latest version available via the twitch/curse client.

I tried loading up just now to see if I can get this info for you and naturally it didn't happen this time. I'll keep my eyes peeled.

The tooltip had your normal error line for when a part id isn't found in the network but I don't remember the wording. The display gui had the red X and the same message.

Further info: The displa

[2017-05-24 15:38] rubensworks commented on #182
Ok, if you (or anyone else) has the same issue, be sure to send me as many details as possible. including *full* the forge log as there might be some useful debug information in there.

[2017-05-28 14:13] Dragdord opened #183 "Akashik Tome Support"
Please add Akashik Tome support to 'On the Dynamics of Integration'.

[2017-05-28 15:35] rubensworks commented on #183
I thought you can configure this in the config file of that mod, if not you should request this at the Akashik Tome issue tracker.

[2017-05-28 15:35] #183 closed, assigned to nobody

[2017-05-30 17:35] tommyTT opened #185 "NPE Crash when evaluating operator"
**Issue Description:**
I'm trying to use Integrated Dynamics and Integrated Tunnels to solve the following problem: Take all items from a chest that are damageable and damaged and put them in another chest. I start out playing around with the different parts, so the first thing I'm doing is filter the list of items in a chest, so only damageable items are output on a display panel.

**What happens

[2017-05-30 19:13] Azranite commented on #99
Playing with 0.6.9 on a Sky Factory server, and every network i create gets corrupted each time it unloads.
They are as simple as a redstone signal to turn on when a certain amount of items in a container or a comparator output are reached.

[2017-05-30 23:44] CplPibald opened #186 "Menril trees do not spawn in any biome when Meneglin biome is disabled"
Using Integrated Dynamics 0.7.2 on MC 1.11.2

To repro:  Start a new world with the following configs:

    biome {
       B:biome_meneglin=false
    }
    worldgeneration {
      I:general.wildMenrilTreeChance=2
    }

Expected: Menril trees spawn often in forest biomes
Observed: No menril trees anywhere.

---
Analysis:

Disabling the biome in the config causes the registration to be skipped for

[2017-05-31 08:04] rubensworks commented on #185
Thanks for the detailed bug report, will look into it.

[2017-05-31 08:05] rubensworks commented on #99
@Iranite Please send me the full forge log.

[2017-05-31 08:07] rubensworks commented on #186
Ah, I should indeed move that decorate even listener outside of that class.

[2017-06-02 15:58] Azranite commented on #99
I'm sorry, as this was a public server, I do not have acces to those.
I just wanted you to know, that the problem is still there and thus for me the mod is basically useless, except for the pretty trees and torches.

[2017-06-03 07:33] rubensworks commented on #99
@Iranite Note that the latest version is 0.7.2, so you're probably just using a version that still has the issue. If you're able to use the latest version and provide me with the full logs, feel free to ping me here.

[2017-06-04 20:40] Claycorp opened #187 "Minetweaker support doesn't work on Drying Basin?"
``mods.integrateddynamics.DryingBasin.removeRecipesWithOutput(<minecraft:leather>);
mods.integrateddynamics.DryingBasin.removeRecipesWithOutput(<minecraft:hardened_clay>);
mods.integrateddynamics.DryingBasin.removeRecipesWithOutput(<minecraft:dirt:1>);``

All of these do not remove the recipe from the drying basin.
Here is the MineTweaker log https://gist.github.com/Claycorp/24b6790c0e2abace64cda7

[2017-06-05 04:31] Claycorp opened #188 "Server crash with menril trees trying to generate."
https://pastebin.com/tTQMuP1K
The reason is because filled logs isn't expecting a zero value.

[2017-06-05 08:10] #185 closed, assigned to rubensworks

[2017-06-11 22:14] Claycorp commented on #187
This is a bug with the JEI integration. JEI shows the recipe but it doesn't exist.

[2017-06-12 05:49] rubensworks commented on #187
@Claycorp Can you report this to the Minetweaker repo then? Sounds like something that should be fixed on their end.

[2017-06-13 00:20] Claycorp commented on #187
Don't you add the Minetweaker support? Not sure what I'm reporting otherwise.

[2017-06-13 05:53] rubensworks commented on #187
@Claycorp We add the Minetweaker support, but conflicts with JEI sounds like something that should be fixed on their end.

[2017-06-13 06:19] rubensworks opened #190 "Clarify need of operator variables in book"
Not very clear atm.

[2017-06-13 20:27] Claycorp commented on #187
I highly doubt its a bug with minetweaker. Its either you missed something adding in the support or whoever adds the JEI info is messing it up. When I found issues with Better Beginnings they had to fix the recipes duplicating, thus I would assume that you aren't telling JEI to update.

[2017-06-14 07:17] rubensworks commented on #187
Sounds similar to https://github.com/jaredlll08/ModTweaker/issues/437, I'll lurk at that issue to see how that'll be resolved.

[2017-06-14 07:31] #188 closed, assigned to rubensworks

[2017-06-14 07:31] #190 closed, assigned to rubensworks

[2017-06-14 07:31] #186 closed, assigned to rubensworks

[2017-06-14 12:51] katecw opened #191 "Crash tesselating cable"
I experienced a client crash (NullPointerException: Tesselating block in world) while approaching my base (SMP) with the following report. This is the first time I've seen the error and Im not sure how to repeat it. The only thing I was doing differently this time is that I'd just exited a nether portal.

My current setup is quite simple. 3 ID generators (with energy importers) connected to 3 menr

[2017-06-14 12:52] rubensworks commented on #191
So the crash only occured once? Restarting the game fixed it?

[2017-06-14 14:32] Claycorp commented on #187
That isn't the issue at all..... The JEI recipes are never updated. They aren't removed or added. None of your minetweaker scripts update JEI.

[2017-06-14 14:37] rubensworks commented on #187
@Claycorp Note the comment on IC2 and Tinkers support: https://github.com/jaredlll08/ModTweaker/issues/437#issuecomment-286114316

[2017-06-14 14:44] katecw commented on #191
Yes. When I logged back in after restarting my client I didnt get the crash again and havn't seen it again so far.

[2017-06-14 15:13] Claycorp commented on #187
There is a difference, Those mods are supported by MT itself and ModTweaker respectively. Not their own custom MT support.

I did some quick comparing to other peoples code and you don't have any JEI updates in yours anywhere.
[The MineTweaker API](https://github.com/jaredlll08/CraftTweaker/blob/master/MineTweaker3-API/src/main/java/minetweaker/MineTweakerAPI.java#L94)

[Better Beginnings](https:/

[2017-06-14 15:17] rubensworks commented on #187
As mentioned before, I planned to wait until jaredlll08/ModTweaker#437 is resolved, to see how that is fixed, as I will most likely have to do something similar.

But It looks like you already found some similar fixes, so I can start looking into that.

[2017-06-15 14:47] rubensworks commented on #191
I don't see how this could possibly crash there...

I'll leave this issue open in case someone else manages to reproduce this.

Maybe some other mod is ASM'ing stuff and breaking it.

[2017-06-17 09:28] rubensworks commented on #187
The latest dev build fixes the issue, had to rewrite a couple of things. Thanks for persisting :-)

[2017-06-17 14:35] ricochet1k opened #192 "Feature Request: List Proxy"
While trying to figure out how I could build a custom auto-crafting system with Integrated Dynamics, I realized that having a List Proxy that could store a list of recipe variables would be really handy. I'd love to be able to add/remove variables from the list without having to rewrite a variable.

Also, I haven't yet checked if proxy/materializers can be used by pipes/item tunnels, but that woul

[2017-06-17 15:45] ricochet1k opened #193 "Operator tooltips are confusing and not helpful"
For example, the "Operator Filter" saying `(Operator -> List) -> List` seems confusing. For anyone familiar with functional programming the parenthesis seem to imply you have to give it a `{Operator -> List)` and get a List out.

It also doesn't help that `Operator` doesn't say anything helpful. `(Any -> Boolean) -> List -> List` would make a lot more sense.

Also, once you start composing these v

[2017-06-17 15:51] ricochet1k opened #194 "Feature Request: Allow creating operators the same way you create normal variables"
You have a nice interface for creating normal variables, but when you want to start using Operators, you end up stuck in the `Operator` screen for most of it, which is harder to use and doesn't look as good. I'd much rather just use the regular interface to create the operators. Seeing the input types and output types without having to hover over them would be very helpful as well.

[2017-06-17 16:33] ricochet1k opened #195 "Feature Request: Functions"
So, I'm trying to come up with a way to use Integrated Dynamics and Tunnels to make an autocrafting system for Botania. Here's what I've come up with so far, in pseudo-Haskell style:
[code]

The idea is to have an inventory reader and an item exporter attached to a chest, with an item interface somewhere else. `currentInv` would be the Inventory Items aspect of the inventory reader, targetList wou

[2017-06-17 16:45] rubensworks commented on #192
Could you clarify what you mean with a short example? Because I'm not entirely sure what you mean.
As recipe variables don't exist atm, or are you requesting that as well?

[2017-06-17 16:49] ricochet1k opened #196 "Feature Request: Counter"
It would be helpful if we could have a redstone signal that increments/decrements a counter.

I think this can kinda be done already with a proxy and materializer, with pipes/tunnels moving variable cards between them. Proxy will hold the current value in it, while the materializer can have a "proxy + 1" card in it. Materialize a card and then insert it into the proxy, and you can increment. But i

[2017-06-17 16:50] rubensworks commented on #193
The problem is that this mod evaluates everything very lazy (to reduce server load). As a consequence, the types of operators are not known until evaluation time, which is why they can not be shown in tooltips, as they are only known at the moment of evaluation in the network.

In this case, flexibility goes at the cost of clarity.

I do however intend to implement an advanced logic programmer tha

[2017-06-17 16:50] #193 closed, assigned to nobody

[2017-06-17 16:51] rubensworks commented on #194
That's definitely possible, and shouldn't be too hard to implement.

[2017-06-17 17:00] ricochet1k opened #197 "Feature Request: Aspect Variable Cards"
In my attempts to make an auto-crafting system with this mod, I have found myself wanting to modify the parameters of Aspects with variable cards.

For example: Use a counter of some sort to iterate over the slots of an Item Exporter's Export Item aspect. This could be used to, for example, export specific items to specific slots of an inventory, such as an Analog Crafter, from Extra Utilities 2 I

[2017-06-17 17:03] ricochet1k commented on #192
Nah, you don't need recipe variables, List of Items works just fine.

[2017-06-17 17:06] ricochet1k commented on #192
So, it would work like a proxy, in that you can create variables that refer to the List Proxy Block and indirectly to the variables inside it. You could then add/remove variables from the inventory, and the values of those variables would appear in the list.

[2017-06-17 17:13] rubensworks commented on #197
This might be possible to implement, but I'm wondering if it's really required.
Could additional, more complex aspects, for certain parts not be sufficient?

[2017-06-17 17:15] rubensworks commented on #192
Ah ok, now I understand.
Good idea!
Shouldn't be too hard to implement.
Can't say when I'll be able to do it though.

[2017-06-17 17:19] rubensworks commented on #195
CyclopsMC/IntegratedTunnels#37 is a similar issue where more complex parameter handling is required.

I'll have to think about this a bit, to see what will be the best solution given the way ID currently works.

[2017-06-17 17:47] ricochet1k commented on #197
Well certainly, you could add an aspect that only exports items if the target inventory doesn't have that many already. Or just add an autocrafting system. But the whole reason I'm using this mod is that it seems to just give me the bare minimum of functionality and then lets us piece together what is necessary. Coming up with a complicated system to walk over each slot of the inventory, inserting

[2017-06-17 18:48] rubensworks commented on #197
That's not what I'm talking about. I am thinking about an additional aspect that is more expressive than for example the operator aspect from item exporters, which could for example also take a 'slot' parameter next to the 'item' parameter in the existing aspect.

[2017-06-18 02:17] DSLM opened #198 "Same key names"
![image](https://user-images.githubusercontent.com/12635058/27257611-bc68380c-53aa-11e7-8f43-c11bcbb91cce.png)

[2017-06-18 08:06] #198 closed, assigned to rubensworks

[2017-06-20 18:47] ricochet1k commented on #197
Hmm, so something like returning a `(Int, Item)` tuple of slot and item? Or are you referring to an `Int -> Item` Operator? Or are you referring to an Aspect with multiple variable cards, one for item, one for slot, one for stack size, etc.?

If it's the third one, then I'm having a hard time seeing how that's different from allowing parameters to be configured with variables. Why not always do it

[2017-06-20 18:48] rubensworks commented on #197
I'm referring to the second one, so an `(Int -> Item) -> Boolean` operator.

[2017-06-20 18:52] ricochet1k commented on #197
That one makes me nervous. There are some very large inventories in some mods, such as Refined Storage or Colossal Chests. You could easily crash things or cause horrible lag if you try to use it on one of those.

I also hate that syntax. `Int -> Item -> Boolean` makes a lot more sense. `(Int -> Item) -> Boolean` implies that it's an `x -> Boolean`, that accepts a `(Int -> Boolean)` thing as a par

[2017-06-20 18:57] ricochet1k commented on #197
Or wait, did you just mean `Int -> Item`?

And still, what if I want to change the stack size that it moves? What if I want to craft 3 of an item, and so move 3 at a time to make it faster?

[2017-06-20 18:58] ricochet1k commented on #197
How about if I want to change the tick duration and tick delay of the Redstone Clock aspect? I may want to change it based on, how many of a certain item are available in a chest, for example.

[2017-06-20 19:11] rubensworks commented on #197
You're right, there are some cases where variable-based aspect parameters are useful.

I'm however afraid that it's not a trivial thing to implement based on how ID currently works,
but not impossible.

I'll leave this issue open, maybe I'll get to it sometime in the future. (Or feel free to have a try at implementing it yourself ;-) )

[2017-06-20 19:35] rubensworks opened #200 "LP tooltips broken"
The tooltips on operator input types are broken.

[2017-06-21 15:14] #200 closed, assigned to rubensworks

[2017-06-22 12:58] QuiOui opened #201 "Keep player entity in static var after server restart."
In making an online player detector, I ran into the issue of materialized variables with players in them getting reset after the server restarts.  Maybe having player aspects in the programmer could be useful to help with setting up such things.

[2017-06-22 20:52] Claycorp opened #202 "[1.10.2] Menril tree chance config option doesn't work or is explained backwards."
`    # The chance at which a Menril Tree will spawn in the wild, the higher, the lower the chance.
    I:general.wildMenrilTreeChance=5`

There should be trees everywhere but I can't even find one.

Also you should reword the comment similar to the filled logs. Its easier to understand then.

[2017-06-23 18:15] rubensworks commented on #202
@Claycorp Are you sure you can't find any? Can you find wild trees with the default value?

[2017-06-23 18:55] Claycorp commented on #202
Originally I started with RTG and was using that as the generator. I was finding trees but they seemed to be kinda rare for what I wanted. I changed the value thinking it would make them more common but I never saw them again.

Then when Open Terrain Control came out I switched to OTC and Biome Bundle. It took us a while to realize trees weren't spawning. So again, I made the spawn chance higher.

[2017-06-24 15:49] rubensworks commented on #202
@Claycorp If you use vanilla worldgen with your custom value, do you see any trees spawn then?

[2017-06-24 16:02] Claycorp commented on #202
"Thus I started a vanilla world I spawned in near a roofed forest and flew around, I went over a plains and some swamp, with nothing to be found. I then flipped the number to 500 thinking the math was backwards and no trees spawned."

OTG doesn't edit vanilla worldgen. I can try without out it but I highly doubt that would be the issue.

[2017-06-25 07:18] rubensworks commented on #202
I just generated a world with `I:general.wildMenrilTreeChance=5`, and I see wild Menril Trees everywhere. So it must either be caused by your world generator, or you are incredibly unlucky.

I've improved the config descriptions as suggested.

[2017-06-25 07:19] #202 closed, assigned to rubensworks

[2017-06-26 15:18] #201 closed, assigned to rubensworks

[2017-06-26 15:18] rubensworks commented on #201
Will be included in next release.

[2017-07-11 19:47] Exceptionfault opened #203 "CTD when constructing endless recursion - by accident"
Hi,

I've tried to setup rules to controll an IE DieselGenerator based on the power level of an IE battery.
The idea is to kick the generator on, if level is below 20% RF storage capacity and stop it if it's above 90%.
The generator should stay offline until level goes below 20% again.

Here is my setup, tried to pseudo code it...

    <powerLevel.double> = [block reader at battery, returns 0.0 to

[2017-07-11 19:58] rubensworks commented on #203
Where do you see the infinite recursion in the crashlog?
I only see 4 levels of `OperatorVariableFacade.validate`, which seems normal for your operations.

Is there more information in the full forge log?

Perhaps your heap is just too small, maybe you can try increasing `XX:PermSize` a bit.

[2017-07-12 18:42] Exceptionfault commented on #203
Sorry, I've stripped the other 1000 lines of `OperatorVariableFacade.validate`. Hope the complete crash log is helpful:

[crash-2017-07-12_20.30.45-server.txt](https://github.com/CyclopsMC/IntegratedDynamics/files/1142963/crash-2017-07-12_20.30.45-server.txt)

[2017-07-12 19:28] rubensworks commented on #203
Fixed in 602bdda4b1c3bb62253f0870bd4efdd02959c224

You can try the following dev build (still building atm...), which you can use until I release a new version, so that you can use your world again:
https://dl.bintray.com/cyclopsmc/dev/org/cyclops/integrateddynamics/IntegratedDynamics/1.10.2-0.7.5-610/IntegratedDynamics-1.10.2-0.7.5-617.jar

[2017-07-12 19:28] #203 closed, assigned to nobody

[2017-07-13 05:16] Claycorp commented on #187
It wasn't fixed FYI.
I finally figured out the exact issue.
You have your own recipe stuff in the XML and Minetweaker it will still show the recipes that are in the XML even if you remove them via Minetweaker thus creating the recipes that you can see but don't work. So you need to do some magic to sync up whats removed in Minetweaker to the XML side.

[2017-07-13 06:43] rubensworks commented on #187
@Claycorp Please send me your script so I can try to reproduce it.

[2017-07-13 06:47] Claycorp commented on #187
[DryingBasin.txt](https://github.com/CyclopsMC/IntegratedDynamics/files/1144271/DryingBasin.txt)

I then added this

[dryingbasin_convenience.txt](https://github.com/CyclopsMC/IntegratedDynamics/files/1144275/dryingbasin_convenience.txt)

and they went away.

Files were renamed because Github dosn't allow .zs or .xml Just rename and its all good.

[2017-07-13 06:49] rubensworks commented on #187
Thanks, will try to look into it soon.

[2017-07-13 06:51] Claycorp commented on #187
Now that I know how to get rid of them no need to rush. It was getting annoying when people constantly ask "Why doesn't this recipe work?? Its in JEI thus it must work!"

[2017-07-14 09:05] LXGaming opened #204 "Age of Engineering v1.0.3 - PartStateException Crash"
https://pastebin.com/cxxdHMyW

[2017-07-14 09:11] rubensworks commented on #204
Can you give any more details on what happened before/during/after the crash?

[2017-07-14 09:18] LXGaming commented on #204
Not 100% sure on what happened, The server crashed a total of four times, this is the first crash - https://pastebin.com/7xUBi1bX - My best guess is a player placed something which crashed the server then when it start backup it crashed again when the player joined.

[2017-07-14 09:20] rubensworks commented on #204
That second log is more useful, will look into it.

[2017-07-14 09:38] fampat opened #205 "[1.12] Opening the manual renders the world transparent"
When opening the Manual-Book the World gets "Transparent", like in noclip, i can see ores laying under the surface.

After closing the book it gets back to normal, see the images.

Minecraft 1.12
Forge 14.21.1.2406

Bug:
http://imgur.com/CC9fFg2

Normal:
http://imgur.com/osV0wUA

**UPDATE**
It seems that this only happens if there are animated recipes on the pages

[2017-07-16 04:19] Epic428 opened #206 "Materializer doesn't stack after placing in world"
SkyFactory 3.0.13
Integrated Dynamics 0.7.3
Cyclops Core 0.10.5

Placing a materializer in the world then breaking it makes it no longer stackable. Not sure if this an intended feature or bug. It doesn't appear to get an ID that can be cleared in a crafting grid either. This occurs on the latest version of SkyFactory 3 while playing on a server.

Let me know if you need more info.

Thanks,
James

[2017-07-16 15:18] rubensworks commented on #206
They *should* stack, so something must be broken.

[2017-07-16 15:22] EricBuist opened #207 "Redstone Writer achievement not completing"
The Redstone Writer achievement is not detected as completed although I think I did it correctly. I connected a Redstone Reader and a Redstone Writer to a logic cable. I created a Variable and used the Redstone Reader to bind it to a boolean Redstone value. I installed the Variable in the slot of the Redstone Writer to emit a maximal strength signal when the boolean is true and also configured the

[2017-07-16 15:26] rubensworks commented on #207
The achievement requires you to use the Integer aspect, not the Boolean aspect. I see that's not mentioned in the description, will clarify that in the next update, thanks for bringing this to my attention.

[2017-07-16 15:43] rubensworks opened #208 "Show out-of-energy in tooltip"
Otherwise there is confusion as to what 'Disabled' means.

[2017-07-16 19:07] linuxmant commented on #206
It seems they don't get an ID when placed (as seen with TheOneProbe)
playing latest Age of Engineering pack

[2017-07-16 19:55] rubensworks commented on #206
Materializers shouldn't get an ID, so that's intended at least, but they should stack.

[2017-07-17 07:34] rubensworks commented on #204
Can't reproduce this without additional information unfortunately.

Will add additional debug information in the next update, so if someone else would run into this issue in the future, please report all steps that were followed to cause the crash.

[2017-07-17 07:46] rubensworks commented on #187
It looks like that combination of files is not causing the issue after all.
Just loaded both of them, and the recipes seem to be removed correctly, also from JEI.

<img width="463" alt="schermafbeelding 2017-07-17 om 09 45 29" src="https://user-images.githubusercontent.com/440384/28259093-e457a758-6ad4-11e7-9c6e-d53d5066073f.png">

[2017-07-17 08:01] rubensworks commented on #205
I can't reproduce it with just ID+IT+CC(+ComCap) installed.
Can you try do reproduce it with just these mods on your end?

It could be another mod hooking into item rendering and forgetting to reset some rendering flags.

[2017-07-17 08:18] #206 closed, assigned to rubensworks

[2017-07-17 08:18] #207 closed, assigned to rubensworks

[2017-07-17 08:18] #208 closed, assigned to rubensworks

[2017-07-17 08:36] fampat commented on #205
Hi,
with just these mods there is no issue, so its another mod i guess.

[2017-07-17 08:38] rubensworks commented on #205
Ok, my suggestion is to add/remove mods until you find the one that causes the issue, and report it to their issue tracker.
That mod will likely cause other related rendering issues as well.

[2017-07-17 08:38] #205 closed, assigned to nobody

[2017-07-17 13:06] rubensworks commented on #204
Another clue: Random crash when a wireless connector pointed to the nether: https://paste.ee/p/xvNGE

[2017-07-17 13:16] rubensworks opened #209 "Block display panel"
Displaying a block in a Display Panel doesn't render.

[2017-07-17 15:09] Claycorp commented on #187
Remove the XML file. I added the XML and they went away, but if you remove it they should show up again even though the recipes don't exist.

[2017-07-17 15:58] rubensworks commented on #187
Ah, like that. Don't understand why that would change a thing, but will try it out soon.

[2017-07-18 14:23] rubensworks commented on #209
Can't reproduce at the moment

[2017-07-18 14:23] #209 closed, assigned to rubensworks

[2017-07-18 15:44] #204 closed, assigned to rubensworks

[2017-07-19 13:05] Ironcanon opened #210 "Readers and writes disabled"
On Age of Engineering I was following the tutorial in the book but when I got to the Aspects page and tried to place the redstone reader and right click it nothing happened and in the info from The One Probe it said it was disabled. I then tried the other readers I had made, the block reader and the inventory reader, but they were also disabled.
How can I fix this?

[2017-07-19 13:06] rubensworks commented on #210
It appears that AoE enabled power requirements in ID, so you'll have to hook up at least one Energy Battery.

[2017-07-19 13:06] #210 closed, assigned to nobody

[2017-07-19 15:05] Ironcanon commented on #210
Thank you :)

[2017-07-22 02:49] josephcsible opened #211 "Improve format of variable card NBT data"
The way we store NBT data for variable cards gets really long and unwieldy really fast, since it's JSON containing strings of JSON containing strings of JSON containing strings... As an example, here's the value of a variable card containing an operator that returns whether an integer is divisible by 3 or 7, but not both:
[code]
(2,473 bytes!) I think it would be worth looking into a nicer way of

[2017-07-22 04:32] josephcsible opened #212 "Get block/item variables without said blocks/items"
It would be nice to have a way to get a variable card corresponding to a block or item without actually needing that block or item in your inventory. I remember an old item transport mod that let you set item filters by selecting items from NEI/JEI, even if you didn't have them and weren't in cheat mode. Perhaps we could either do that, or just add an operator to get an item from a string (e.g., "

[2017-07-22 04:38] josephcsible opened #213 "Better way of getting player input into variables"
Currently, there's no way of using player input in the variable system other than by putting the input in a logic programmer and putting the resulting card in a proxy. I see two better ways that this could be accomplished:
1. On the proxy, have the same interface as the logic progammer, so that values can be proxied directly instead of needing to make a variable card with them first
2. Add inputs

[2017-07-22 07:55] rubensworks commented on #211
Does it actually cause any issues for players?
Due to the complexity of ID, there's always a lot of room for optimization on all levels, so I have to pick my battles.
I only focus on issues that actually cause problems or performance issues.

The string-based representation of variables has been a thing I've been wanting to improve for a while now, NBT-based serialization would already improve a l

[2017-07-22 07:59] rubensworks commented on #212
You actually _can_ use JEI for exactly this, by clicking on the `+` symbol on recipes.

But an operator like `get_block_from_id` or `get_item_from_id` might indeed be useful, will look into it.

[2017-07-22 08:01] rubensworks commented on #213
I'm not sure what you are trying to accomplish exactly? A system that takes text input from the player and shows it on a display panel for instance?

[2017-07-22 15:33] josephcsible commented on #213
That would be one possible use-case, yes. What I had in mind is that a player could type in a string like "diamond", and then all items with "diamond" in their name from an inventory would get sent to an output chest.

[2017-07-22 15:34] josephcsible commented on #212
Ah, I didn't know about that button, but I agree that having those operators would still be nice.

[2017-07-22 15:36] rubensworks commented on #213
Yes, I get what you mean. I'll have to think about this a bit, to figure out a good way of designing something like this.

[2017-07-22 15:37] josephcsible commented on #211
I don't notice any real issues from this, so I guess it should take low priority for now.

[2017-07-22 15:46] josephcsible opened #214 "Hide Inventory Writer when no compatible mods are loaded"
A lot of users (myself included) were confused the first time they saw the Inventory Writer, since it doesn't have any aspects unless other mods are loaded. To reduce this confusion, could we remove its crafting recipe and hide it from the creative tab unless a mod that uses it is loaded? Also, can a note that explains this be added to its entry in the in-game manual?

[2017-07-22 15:55] josephcsible commented on #67
Is this resolved by the Delayer?

[2017-07-22 15:58] rubensworks commented on #67
Ah yes, this was exactly the reason why I implemented that. So this issue can be closed now. Thanks for bringing it to my attention @josephcsible :-)

[2017-07-22 15:58] #67 closed, assigned to nobody

[2017-07-22 16:02] josephcsible commented on #194
I thought of an intuitive way to do this: if you use an operator but don't give it any operands, the operator itself would be what gets written to the variable card. You could also reduce the need for "apply" (and "flip" too if you wanted to get really fancy) by writing out a partially applied operator if some but not all of the operands are given.

[2017-07-22 16:39] rubensworks commented on #194
@josephcsible While that would be useful for power-users, it may be very confusion for new(er) players that don't know yet how everything works. Perhaps some kind of toggle button to enable that feature could be useful. Will have to experiment with that a bit.

[2017-07-23 00:03] deadly990 opened #215 "List Concatenation"
We've got the ability to append to lists,
I'm using this to try to read all of the contents of multiple chests, and I've been unable to find/create functions that will work to concatenate multiple reader item lists together.

This functionality might be useful when creating a list of items from one or more inventory that satisfies a predicate.

Is this something already do-able and I'm just missin

[2017-07-23 00:18] deadly990 opened #216 "Clearer Type Signatures for lists"
I think that the type signatures that have "Any" in them can be a bit confusing and may be less confusing if some sort of generic type system were added such that the type signature of a function called append might be something like List<T> -> T -> List<T>.

This change might extend such that when you acquire concrete Lists they would have initialised types, such as the list of items that you can

[2017-07-23 01:17] josephcsible opened #217 "Mod doesn't work at all with ./gradlew runClient"
I was doing some development on this mod and went to test my changes. I tried running the client from Eclipse and directly with `./gradlew runClient`, and the mod doesn't work at all either way. Here's the log:
https://gist.github.com/josephcsible/c0903c626da7421f4ca5992b8b5090bc

Important snippets:
This message repeated 22 times during startup:
[code]
Although once, one of the lines was changed

[2017-07-23 01:54] josephcsible opened #218 "Bitwise operators for integers appear twice in the book"
The following bitwise operators for integers are each listed twice in the Logic Programming section of the book:
* Or (|): page 6 and page 20
* Left Shift (<<): page 7 and page 22
* And (&): page 7 and page 20
* Xor (^): page 8 and page 21
* Complement (~): page 8 and page 21
* Right Zero Shift (>>>): page 9 and page 23
* Right Shift (>>): page 9 and page 22

[2017-07-23 03:11] josephcsible commented on #195
We don't actually need user-defined functions to do what you need; we just need the S combinator (`S = λxyz.xz(yz)`, called `ap` in Haskell):
[code]
Proof:
[code]
You could also do it if we added the W combinator (`W = λxy.xyy`, called `join` in Haskell):
[code]
Proof:
[code]

[2017-07-23 07:00] rubensworks commented on #195
@josephcsible Both function seem pretty useful in cases like these, so they are definitely worth implementing. Are you by any chance interested in implementing this yourself? You seem to have sufficient knowledge about the domain.

But still, user-defined functions might still be very useful when more complex user-defined operations are required.

[2017-07-23 07:00] rubensworks commented on #218
What mod/MC version are you using?

[2017-07-23 07:04] rubensworks commented on #217
Hmm, this might have something to do with some recent `MinecraftHelpers#isClientSide()` changes in CyclopsCore. Could you try manually updating CyclopsCore in your `build.properties` to version `1.11.2-0.10.6-580` (the latest)?

[2017-07-23 07:06] rubensworks commented on #216
In some cases, such a generic `T` type could inded be added, might require some hacking though. But in most cases where `Any` is used, the type will only be known during evaluation time.

[2017-07-23 07:08] rubensworks commented on #215
Oh, that doesn't exist yet?
I'll implement that for next release, as that is indeed quite essential.

[2017-07-23 13:59] josephcsible commented on #218
Minecraft 1.12
Forge 14.21.1.2420
CyclopsCore 0.10.9
CommonCapabilities 1.3.4
IntegratedDynamics 0.8.1

[2017-07-23 14:06] josephcsible commented on #217
`0.10.6-580` is for 1.11.2, but I'm on 1.12. I instead changed it to `0.10.9-614` and that does indeed fix the GUI, but I still get all of the scary incompatible classloader messages.

[2017-07-23 14:09] rubensworks commented on #217
You can ignore the classloader messages, that just because the API package is include in a dev environment, which is normal because it is included here as a source package. This message is not present when the mod is built.

Feel free to send a PR for the CC version number fix. (And close this issue if your problem is resolved :-) )

[2017-07-23 14:19] #217 closed, assigned to rubensworks

[2017-07-23 14:54] josephcsible commented on #195
I took a look at how the existing operator operators were implemented, and it'd take me a while to wrap my head around them. I don't think I have enough free time in the upcoming days to get it done in any reasonable amount of time.

[2017-07-23 14:56] rubensworks commented on #195
No worries, I won't have time for it myself in the near future anyways. So if you're interested in implementing it at any time, feel free to do so.

[2017-07-24 00:21] bcrotty opened #220 "Item Count and Max Stack Size in Storage Drawer"
I don't think there is a way to get the count for a particular item in a chest or storage drawer when there are other types of items in there. You can get the count for a slot, but not the total count for an item when it has an unknown slot and/or spans multiple slots. You can also only get the count for 1 slot. When you change which slot you're referencing, it changes it for all previously create

[2017-07-24 02:18] EricBuist opened #221 "Export Enchantable items achievment not marking as completed"
I created an Operator with the "Item Enchantable" predicate, stored the variable in the Export Item Predicate of an item exporter connected to an iron chest. My network has an item interface with an attached chest. If I store a pick axe in the chest attached to the interface, the pick transfers in the chest attached to the item exporter. If I store something not enchantable in the interface chest,

[2017-07-24 05:29] bcrotty opened #222 "Subtraction Seems Reversed"
When I did a Slots Filled - Slots, I got a negative number. Seems like it should switch back the operands.

[2017-07-24 05:52] rubensworks commented on #220
There actually is a way to get that count. You start by reading the complete inv list, mapping that list to their stacksize, using operators, and summing that list using the reduce operator.

The max stacksize is just retrieved from the item handler capability, so storage drawers probably just returns 64 for that. I'll look into it.

[2017-07-24 05:53] rubensworks commented on #222
Why do you think this would be a bug? Works as intended as far as I can see.

[2017-07-24 05:53] #222 closed, assigned to nobody

[2017-07-24 05:55] bcrotty commented on #222
@rubensworks  81 (slots filled) - 32 (slots) should equal 49 not -49. It's switching the order to 32 - 81, which is wrong.

[2017-07-24 05:56] rubensworks commented on #221
The way you did it sounds correct.

Are you using 1.10.2? I'll look into it then.

[2017-07-24 05:59] rubensworks commented on #222
What inventory are you using? The total number of slots will always be larger than the number of filled slots.

[2017-07-24 06:02] bcrotty commented on #222
You're right, I was mixing up which value indicated what. Sorry!

[2017-07-24 06:06] bcrotty commented on #220
Thanks! It'd be awesome to get an operator that takes an inventory list and an item and returns an integer that indicates the total count of that item. Seems that's an operator that would be used enough to warrant being made, but I'm just learning about ID and IT, so I'll defer to others.

[2017-07-24 11:46] EricBuist commented on #221
I am playing Sky Factory 3.0.13, so running Minecraft 1.10.2. Integrated Dyanics version 0.7.3, Integrated Tunnels version 1.2.1.

[2017-07-24 15:42] rubensworks commented on #220
This is indeed a frequently done operation, I might add this as operator or aspect in the next update.

[2017-07-24 19:17] Vaevictusnet opened #223 "Crash Bug with suspected source, related to boolean variable delays"
In working towards a hysteresis setup for controlling my diesel generators based on capacitor charge %, I was working towards implementing an RS Latch.  I crashed about 5 times playing with this, in two different places according to the logs.  I think what's going on is that something about running a get operation on the 2nd position in the delay history for a boolean variable.  If i create a bool

[2017-07-24 19:22] rubensworks commented on #223
Can't make sense of the stacktrace at the moment, I'll have to debug it in more detail.

[2017-07-24 19:31] Vaevictusnet commented on #223
I'm happy to supply my crashing-on-world-load save file if you can't reproduce it. Alternatively, If i have time this afternoon, i'll build a proof-of-concept-creative bug reproduction.

[2017-07-24 19:32] rubensworks commented on #223
A minimal reproducable setup would be very nice, thanks :-)

[2017-07-24 20:14] Vaevictusnet commented on #223
do you want the one i have now, where it's showing the red X on the display? or a minimal full-crash version?

[2017-07-24 20:15] rubensworks commented on #223
Something that is as simple as possible for me to reproduce.

[2017-07-24 20:20] Vaevictusnet commented on #223
[ID Debug - 002 Red X.zip](https://github.com/CyclopsMC/IntegratedDynamics/files/1171087/ID.Debug.-.002.Red.X.zip)

I realize as I'm doing this that it's not a tiny modpack.  This is Age of Engineering on curse/twitch. (current version 1.0.4)
If you've got a more simplistic modpack for testing, i could reproduce this there.

[2017-07-24 20:27] Vaevictusnet commented on #223
That wasn't hard to reproduce the crash at this point.

1. Remove the get card out of the X marked Display.
2. Create a NOR card using the get card, NOR'd with itself.
3. Place the NOR into the Display, *crash*.

[2017-07-24 21:25] Vaevictusnet commented on #223
Okay, i built my own modpack with just: Integrated Dynamics, ExtraUtilities2 (for trash can), Immersive Engineering (for HV and creative caps), Ender IO for energy conduits, and The One Probe for viewing.

here's some crashes and a save
[2017-07-24-4.log.gz](https://github.com/CyclopsMC/IntegratedDynamics/files/1171266/2017-07-24-4.log.gz)
[2017-07-24-1.log.gz](https://github.com/CyclopsMC/Integra

[2017-07-24 22:13] Vaevictusnet commented on #223
Got it.  Create new Twitch profile, add only Integrated Dynamics.  load this save, move the NOR logic card into the display.  Crash.
[2017-07-24-1.log.gz](https://github.com/CyclopsMC/IntegratedDynamics/files/1171376/2017-07-24-1.log.gz)
[Solo ID Debug.zip](https://github.com/CyclopsMC/IntegratedDynamics/files/1171377/Solo.ID.Debug.zip)

[2017-07-24 23:44] Vaevictusnet commented on #223
I think the Get is possibly problematic with booleans.  I just accidentally crashed by trying to redstone write a delayed boolean value.

1. create boolean value from reader.
2. delay that
3. write the delayed value via redstone writer.
4. crash

Is Get the appropriate way to access older delayed signals?

[2017-07-25 06:32] rubensworks commented on #223
Get should be appropriate for handling delays.

Will look into it soon.

[2017-07-26 17:05] #187 closed, assigned to rubensworks

[2017-07-26 18:58] rubensworks commented on #223
I tried every case

[2017-07-26 18:58] #223 closed, assigned to rubensworks

[2017-07-26 18:58] #218 closed, assigned to rubensworks

[2017-07-27 11:49] josephcsible opened #224 "Let Boolean values be usable as operators"
It should be possible to use a Boolean value directly as an operator, behaving the same way it would if it were the first operand to the "choice" operator (i.e. true = λxy.x and false = λxy.y).

[2017-07-27 11:53] josephcsible opened #225 "Make it easier to use custom operators"
Currently, the only way to directly use custom operators is to call ”apply” on them one operand at a time, creating an intermediate variable card each time. It would be nice to have a slot in the logic programmer where you can put a custom operator and then call it just like you would a built-in operator, with all of its operands at once.

[2017-07-27 11:54] rubensworks commented on #224
Hmm, this is an interesting proposal, but I'm not sure if the cost of implementing this outweighs the benefits. Is this actually a thing that exists in FP languages? I haven't seen it before.

[2017-07-27 11:57] rubensworks commented on #225
Something like this is planned for the custom operator creation feature.

But in the meantime, I can easily add some more convenience apply operators with more parameters (apply 2, apply 3, ...), the code already supports it, there is just no visual interface for it yet.

[2017-07-27 13:45] josephcsible commented on #224
Indeed. It's originally a lambda calculus thing (http://safalra.com/lambda-calculus/boolean-logic/), but it's made its way into a few more practical functional languages.

[2017-07-27 13:50] rubensworks commented on #224
Ok, TIL :-)

I can have a look in the future at this, but I'm afraid it won't be an easy thing to implement in a clean way, because booleans were never meant to be used as an operator type. But it should be possible.

[2017-07-27 15:16] josephcsible commented on #224
Yeah, in pure lambda calculus, everything is a function, even numbers, 0(f, x) = x, 1(f, x) = f(x), 2(f, x) = f(f(x)), and so on. But there's no practical use for that in this mod.

As for making it clean, why not just replace existing booleans with these operators, possibly making Boolean a new subtype of Operator for type safety?

[2017-07-27 15:19] rubensworks commented on #224
I think there would actually be practical uses for that first case, for nested lists for example.

Well yes, that would be the idea, but that isn't very simple to do, as value types currently can not inherit from other types, so some major code changes would be required for that.

[2017-07-27 15:59] rubensworks commented on #215
Implemented in f0cebea81beb24e16f7166ccdfc73acf2caf75d6

[2017-07-27 15:59] #215 closed, assigned to rubensworks

[2017-07-27 17:44] josephcsible opened #226 "Allow materializing some but not all free variables"
Currently, when you use the materializer, all of the free variables in your input get materialized. When materializing a custom operator, it would be useful to be able to choose which free variables should be materialized and which shouldn't. This would allow, for example, removing the need for several variable cards from intermediate steps to be stored forever, while also allowing an item invento

[2017-07-27 17:54] rubensworks commented on #226
I definitely see the use, but an implementation would (again) not be so straightforward.
Perhaps some time in the future.

[2017-07-27 18:00] #146 closed, assigned to nobody

[2017-07-27 18:00] #125 closed, assigned to nobody

[2017-07-27 18:01] #179 closed, assigned to nobody

[2017-07-27 18:01] #92 closed, assigned to nobody

[2017-07-28 19:55] TekuSP opened #227 "BUG ImmersiveEngineering compatibility failed"
[code]
No other errors, no crash.

ImmersiveEngineering 0.12-69
IntegratedDynamics 1.12-0.8.2
[code]

[2017-07-29 15:37] #212 closed, assigned to rubensworks

[2017-07-29 15:37] #220 closed, assigned to rubensworks

[2017-07-29 15:37] rubensworks commented on #225
Implemented in 2b1c32142abcfa99906cec2022285e925f2cd592

The LP slot is future work.

[2017-07-29 15:37] #225 closed, assigned to rubensworks

[2017-07-30 05:36] ZephyrWindSpirit opened #228 "1.12 Meneglin Discovery advancement - How do you get this?"
How do you achieve this advancement? I've chopped down a number of menril trees, and have no advancement popping up for me. Do I need to find the biome? Is there a specific amount I need?
Playing ATM3 v1.6 on 1.12 on a server.

[2017-07-30 08:09] rubensworks commented on #228
Hmm, that might be a bug then...
Will look into it.

[2017-07-30 08:30] rubensworks commented on #221
Are you sure you used the "Item Enchantable" operator, and not "Item Enchanted" operator?
I just tried it myself, and the achievement is obtained just fine.

[2017-07-30 08:30] #221 closed, assigned to rubensworks

[2017-07-30 10:16] #227 closed, assigned to rubensworks

[2017-07-30 12:05] #228 closed, assigned to rubensworks

[2017-07-30 15:29] EricBuist commented on #221
I double checked I use the "enchantable" predicate. I restarted from scratch with a network containing just an item interface, an item exporter, and vanilla chests attached to the interface and exporter (I was using a royal chest and an iron chest before). Still no luck. I tried to put other items than pick axes in the chest linked to the interface: nether quartz (not transferred, correct), chest

[2017-07-30 15:42] rubensworks commented on #221
@EricBuist Would it be possible to send me a short video of you showing the process? Perhaps I am making some assumptions. (Note that the achievement should unlock when you insert the variable into the exporter)

[2017-07-30 16:05] EricBuist commented on #221
Cannot upload a video: either the format is incorrect, either it is too big. Seems I have less and less luck with computers in general, I'm having a lot of issues no matter what I'm trying. I looked at the source code and there is no reason why the achievement does not unlock. I guess I have to either start a new map in another modpack or just edit the stats.json in my world to manually unlock thi

[2017-07-30 16:39] rubensworks commented on #221
Yeah, GitHub won't accept videos, you can probably do it with a private video on YouTube.

[2017-07-30 17:59] EricBuist commented on #221
Here is the link to a video showing what I did: https://youtu.be/DPECYKMTPjM
.

2017-07-30 12:39 GMT-04:00 Ruben Taelman <notifications@github.com>:

--
/------------------------------------------------------------------------
/ Eric Buist                <buisteric@gmail.com <me@ericbuist.com>>
/ Ph.D en informatique
/ Ingénieur de recherche en logiciels
/ Nuance communications
/ http://www.ericbu

[2017-07-30 18:05] rubensworks commented on #221
Hmm, I see. Everything you are doing seems correct.

I see that your pack is using an outdated version of ID though, so updating to the latest ID+IT versions might solve the issue.

[2017-07-31 12:01] EricBuist commented on #221
Thanks for the investigation. That's kind of bad news, meaning I'll have to either figure out how to customize modpacks (this is not documented clearly anywhere) to upgrade the mods, or start from scratch on a new pack with more up-to-date mods. At least I will stop trying to complete this achievement in Sky Factory 3, knowing it won't work, and that's not a blocking issue.

[2017-07-31 16:10] Vaevictusnet opened #229 "Get() returns wrong data"
1.) put a block reader on a block (is saying true)
2.) put variable card for has_block into delayer, see [true,true] (frequency 100, capacity 2)
3.) initialize integer card for 1 (or 0, same result)
4.) program get for delayer, 1
5.) in display panel, see "false", expecting true.

Using IntegratedDynamics-1.10.2-0.7.8.jar, no other mods other than ID dependencies. (common capabilities, cyclops cor

[2017-07-31 16:23] Vaevictusnet opened #230 "NullValue or ErrorValue data type for errors"
When delayer, for one example, tries to read a card that is not available, it currently fails somewhat quietly.
A Get() assigned to that delayer will not fail, and may get an error value that behaves like valid data, as in a false value for a boolean.

Relevant to IntegratedDynamics-1.10.2-0.7.8.jar.

[2017-08-05 05:10] yoshiweegee opened #231 "Variable Input/Output Transformation advancements are unobtainable"
For some reason, these advancements are not working. I have checked that I have the respective prerequisites. This is problematic because it prevents the player from getting the rewards for the Network Foundations tutorial.

Up to the point where this occurred, I was switching worlds and gamemodes. This could be a lead for why this is happening.

Restarting the game does not fix this.

[2017-08-05 07:28] rubensworks commented on #231
MC/mod version?

[2017-08-05 07:36] yoshiweegee commented on #231
Apologies, the Minecraft version is 1.12, and the Integrated Dynamics version is 1.12-0.8.3.

Other relevant version information:
- Minecraft Forge: 14.21.1.2443 w/ Mercurius
- CyclopsCore: 1.12-0.10.11
- CommonCapabilities: 1.12-1.3.4

(From the in-game mods list)

[2017-08-05 07:50] rubensworks commented on #231
In what kind of crafting table are you crafting the items? Perhaps another mod is preventing crafted events.

[2017-08-05 08:21] yoshiweegee commented on #231
I have no other mods except the prerequisites.

[2017-08-05 09:14] rubensworks commented on #231
Ok, then it must be something on my end, will look into it.

[2017-08-05 13:48] #231 closed, assigned to rubensworks

[2017-08-05 14:02] rubensworks commented on #229
Seems to work just fine here based on the provided information.
If the issue persists, a minimal world copy demonstrating the problem would be nice :-)

[2017-08-05 14:02] #229 closed, assigned to rubensworks

[2017-08-06 12:45] 5aaee9 opened #232 "Game crash when Wither break the Reader"
I was want to make an auto Wither-Farm, and I want to use the Entity Reader to get the entity information.
But if the wither 'eat' the Reader, the game is crash

Error Stack
[code]

Use IntegratedDynamics-1.10.2-0.7.7.jar

[2017-08-06 21:58] Claycorp opened #233 "[1.10.2] Drying basin minetweaker recipes don't work?"
`mods.integrateddynamics.DryingBasin.addRecipe(<ore:plankWood>, <liquid:creosote> * 100, <immersiveengineering:treatedWood>, 250);
`
throws this error
`[SERVER_STARTED][SERVER][ERROR] DryingBasin.zs:6 > a method available but none matches the parameters (minetweaker.oredict.IOreDictEntry, minetweaker.liquid.ILiquidStack, minetweaker.item.IItemStack, int)
This is usually an error in your script, no

[2017-08-07 05:26] rubensworks commented on #233
Your first argument needs to be an item, not an oredict entry.
I think you can iterate over all entries in an oredict key for that, but you'll have to check the MT manual for that.

[2017-08-07 05:26] #233 closed, assigned to nobody

[2017-08-07 07:42] natedogith1 opened #234 "Game Crash With Null Pointer"
Here's the code I had built.  The game crashed as soon as I placed the `new_need` inside of the delay block that `need` references.  This was on the SkyFactory 3 modpack.
[code]
[crash-2017-08-07_03.27.54-server.txt](https://github.com/CyclopsMC/IntegratedDynamics/files/1204146/crash-2017-08-07_03.27.54-server.txt)

[2017-08-07 07:48] rubensworks commented on #234
Your pack is using an outdated ID version, this was fixed in version 0.7.8.

[2017-08-07 07:48] #234 closed, assigned to nobody

[2017-08-07 18:08] Claycorp commented on #233
Still doesn't work.

` DryingBasin.zs:6 > a method available but none matches the parameters (minetweaker.item.IItemStack, minetweaker.liquid.ILiquidStack, minetweaker.item.IItemStack, int)
This is usually an error in your script, not in the mod
addRecipe(Optional ZenTypeNative, Optional ZenTypeNative, Optional ZenTypeNative, Optional ZenTypeNative, ZenTypeInt )`

`mods.integrateddynamics.DryingBa

[2017-08-07 18:10] rubensworks commented on #233
This is the method signature: https://github.com/CyclopsMC/IntegratedDynamics/blob/master-1.10/src/main/java/org/cyclops/integrateddynamics/modcompat/minetweaker/handlers/DryingBasinHandler.java#L30-L31
Looks like you forgot a nullable output fluid.

[2017-08-07 18:12] Claycorp commented on #233
According to the error everything but the INT is optional. I'll throw it in there though give me a second.

[2017-08-07 18:14] Claycorp commented on #233
And that fixed it.... Not sure why it says optional in the error when they are required.... Thanks for the help!

[2017-08-07 18:16] rubensworks commented on #233
They are indeed optional, but MT probably only allows parameters to be left out only if there are no mandatory parameters after that.

[2017-08-08 06:37] XenoStone1009 opened #237 "[Request] NBT as List function"
Would love to see an implementation where you can call for a list of NBT data as a list. It would really help for some instances of comparisons and automation in some aspects (like the Astral Sorcery crystal growth, which would require the a part of the NBT "size")

[2017-08-08 06:38] rubensworks commented on #237
I've been thinking about this lately. I can probably do it by adding a new NBT value type with some operators around it.

[2017-08-08 06:49] LemmaEOF opened #238 "[1.10, unsure of other versions] Chisels & Bits bounding box on writers"
![2017-08-07_23 38 57](https://user-images.githubusercontent.com/6722691/29059469-878ebe56-7bca-11e7-92c3-fe7b4bf3f45c.png)
I'm trying to hide some effects writers in my base with Chisels and Bits, but apparently the empty space on the face with the writer on it isn't somewhere bits can fit. It's kind of dissonant with the writer's model itself. Is fixed in later versions and/or is it intentional?

[2017-08-08 06:51] rubensworks commented on #238
This is indeed intentional at the moment, as more complicated bounding boxes would reduce performance. Perhaps I can come up with a clean solution in the future.

[2017-08-08 07:11] LemmaEOF commented on #238
Ok, thank you. Since I'm using effect writers, I can just use X- and Y- offset to put them off to the side for now.

[2017-08-13 00:35] Grygon opened #239 "[1.12] Unstable Variable Store"
I used ID to automate Actually Additions' canola oil upgrade process, but I'm having trouble with it semi-randomly deactivating. Here's a picture of my setup:

![2017-08-12_20 06 42](https://user-images.githubusercontent.com/647846/29245049-28b3d60e-7f9a-11e7-8798-5e0600256018.png)

In short, it reads the fluid block and if its name is "Refined Canola Oil" it sends a redstone signal to the precisi

[2017-08-13 04:15] josephcsible opened #240 "Crash when using /setblock"
With this setup (variable card from the redstone reader in the display screen), using /setblock to change the block with the redstone reader to air causes the game to crash:
![2017-08-13_00 05 22](https://user-images.githubusercontent.com/16061266/29246068-74f2293c-7fbb-11e7-8847-1730f609e967.png)
This happened with Minecraft 1.12.1, Forge 14.22.0.2452, CyclopsCore 0.10.12, CommonCapabilities 1.3.

[2017-08-13 15:12] rubensworks commented on #239
Sound like a chunk-loading-order-related issue, I'll look into it.

[2017-08-13 17:50] josephcsible commented on #240
This looks like it might actually have the same cause as #232.

[2017-08-13 20:23] Grygon commented on #239
In case it helps, the entire mechanism is located within the same chunk.

[2017-08-14 06:27] rubensworks commented on #239
Hmm, then something else must be causing it...

[2017-08-14 06:30] rubensworks opened #241 "Collidable component crash"
https://pastebin.com/cEq5NSHG

[2017-08-14 14:13] Blatts12 opened #242 "Add agreement with ProjectE"
has EMC
how much EMC

is that possible?
thanks you in advance

[2017-08-14 14:14] rubensworks commented on #242
I'm not really familiar with ProjectE.
I would assume they have a config file where you can enter your own values?

[2017-08-14 14:40] Blatts12 commented on #242
Yes, they have.

[2017-08-14 19:50] Lumindia opened #243 "Tutorial Quests don't complete properly"
Using Integrated Dynamics 1.12-0.8.4, and while going through the tutorial quests and completing an advancement, it triggers in the vanilla minecraft GUI, but the book sometimes refuses to acknowledge the fact that I actually completed it.

[2017-08-14 21:40] z64555 opened #244 "Materializer Texture Issues"
v. 1.12-0.8.2
Terms: Writer/materializer slots: the slots which variable cards are written to with the value of the reference card
Reference card: The variable card in the top slot of the GUI

Issue: The materializer's input/output port for the writer cards is currently the side that has a + on it, or at least it looks like it was supposed to be so. Currently, this is opposite of the side that has

[2017-08-14 21:48] z64555 opened #245 "Materializer Input/Output suggestion"
For the materializer may be better to have the reference card I/O side limited to just the + marked side on the texture, and have the materializer/writer I/O sides on all others.

Currently its piping configuration is the same as the proxy. The proxy logicially behaves in a manner somewhat opposite of what the materializer does. With a proxy, You'd normally want to pipe in/ out the reference card

[2017-08-14 22:39] z64555 commented on #244
Ooookay. Seems to be more wierdness to what I originally thought. I'll experiment a bit more and will compile some sort of report

[2017-08-14 23:13] z64555 commented on #244
Ok. So the materializer just flat out ignores the direction that you place or wrench it to, it'll look like you did something but the piping durections are absolute. (This is the same problem with the proxy)

Piping sides for the materializer and proxy are:
North: nothing
East: Write input slot (push+pull)
South: Read slot (push+pull)
West: Write output slot (pull only)
Top: Read slot (Push+pull)

[2017-08-14 23:23] z64555 commented on #245
Ok, experimenting more with the materializer and proxy leads me to make an different suggestion.

Proxy's Read slot should be associated with the top and bottom faces, and the Write slots (but input and output) should be associated with the sides. The Write input slot shouldn't allow items to be pulled from it.

For the materializer, its vice versa. Read slots are on the sides, Write slots on the

[2017-08-14 23:41] z64555 commented on #196
With the Integrated Tunnels addon, you can pipe two variable cards between a materializer and proxy. Importer and exporter on the materializer, interface on the proxy. (Which is a similar setup to what you suggested)

[2017-08-15 01:49] z64555 commented on #196
Or, at least it would be that simple if the materializer wouldn't jam  up as soon as its write ouput slot couldnt be emptied before its write input slot was filled. Sigh.

[2017-08-15 07:48] rubensworks commented on #244
Related to #245, will follow up there.

[2017-08-15 07:48] #244 closed, assigned to nobody

[2017-08-15 17:55] rubensworks commented on #242
I suggest you configure the values using that config file, as adding support for that mod is a bit out-of-scope here. I only add compat for mods that can be read or written to using ID logic.

[2017-08-15 17:55] #242 closed, assigned to nobody

[2017-08-16 19:10] Gayanfalor commented on #243
yep got the same thing on the  modpack i'm playing, i have made it worked by relaunching the game.

[2017-08-17 11:06] Gayanfalor opened #246 "[1.12.1] Menril battery not exporting power"
Hello, im plying the modern skuyblock 2 modpack nd have made a big menril battery but when i put redstone signal and energy exporter its not outputing energy  there is a rock cleaner out of power linked with energy interface but not getting energy

https://puu.sh/xcj4V/67e25e2821.png

[2017-08-17 11:13] rubensworks commented on #246
On that screenshot it looks like you are inserting energy inside the battery, no extracting. You probably mixed up the importers/exporters.

[2017-08-17 11:13] #246 closed, assigned to nobody

[2017-08-17 11:29] Gayanfalor commented on #246
hmm normal y bettery can extract just with redstone signal right ? the exporter is optional ?

btw i just moved the exporter on the rock cleaner and it seems working :s  sry for that.

Ps: i have found another bug too with the entity reader and to get advancements like what block i'm looking or the what modname is the item on the entiity reader. for this one each item i put on the entity reader sa

[2017-08-17 11:32] rubensworks commented on #246
The exporter is for _exporting_ energy from the network to a target. In this case, you made an infinite energy loop.

Please open a separate issue for any other bugs. And explain in detail what you do, and what you expect to happen, as I don't fully understand your explanation.

[2017-08-18 20:23] rubensworks opened #247 "Avoid chunk rerendering when updating redstone signal"
The redstone writers currently cause a block update, let's see if that can be avoided.

[2017-08-19 10:47] #232 closed, assigned to rubensworks

[2017-08-19 10:47] #240 closed, assigned to rubensworks

[2017-08-19 10:47] #241 closed, assigned to rubensworks

[2017-08-19 18:01] rubensworks commented on #243
It can take up to three seconds for the client to sync with the player's advancement state on the server, did you wait this long?

[2017-08-19 18:49] maham commented on #239
I'm having something related. Whenever I enter the game I have to break replace my variable storages. Otherwise my setup just spits all my seeds out and ignores my redstone writers. An other way I can fix it is by taking out the variable card and reinserting it in each of the redstone writer in the system.
I have the problem in my automated smeltery too...
Now that I think about it I think all red