[2017-08-19 22:19] josephcsible opened #248 "Can't click to swap items in writers"
If your cursor has an item, clicking on an item in a vanilla inventory swaps your cursor's item with the clicked item (if possible). This doesn't work on Integrated Dynamics' writers (or Integrated Tunnels' importers/exporters). Tested on Minecraft 1.12 and Integrated Dynamics 0.8.4.

[2017-08-19 22:23] josephcsible opened #249 "Difficult to get air block"
There's no easy way to get a variable card that contains an air block, since using "Block" in a logic programmer with nothing in it says "The inserted item is no block." and refuses to write the card. (The hard way is to use a materializer on a block reader's output or the "blockbyname" operator on "minecraft:air".) "Item" currently will write an empty item stack if you try, so I think "Block" sho

[2017-08-20 06:30] #249 closed, assigned to nobody

[2017-08-20 06:36] ghost opened #250 "[Request] Config to disable RF requirement"
It'd be great if there was a config option to turn of the RF dependence, and everything related to producing and providing the network with RF. If not this, then a way to configure power consumption and production would achieve the same ends for me (so long as 0 was a valid option).

[2017-08-20 10:01] rubensworks commented on #250
Not sure what you mean, but with the `energyConsumptionMultiplier` config option (which defaults to 0), you can change the power consumption rate of networks. So power consumption is disabled by default.

[2017-08-20 10:01] #250 closed, assigned to nobody

[2017-08-20 16:23] josephcsible opened #251 "Suggestion: open the logic programmer GUI when right-clicking with a variable card"
Instead of having to use a logic programmer block (or its portable variant), can the GUI just open when you right-click with a variable card in hand? (This would actually mean that the logic programmers could go away altogether.)

[2017-08-21 06:22] rubensworks commented on #251
It's not a bad idea, but the LP was a gameplay choice, so that will remain.

[2017-08-21 06:22] #251 closed, assigned to nobody

[2017-08-21 11:42] Realever opened #252 "Minecraft 1.12.1 Drying Basin bug"
Hi,
i think i have a bug with the Drying Basin.I can not colored Terracotta change to normal Terracotta.here i have make a screenshot ttp see that nothing happend:
![2017-08-21_13 37 26](https://user-images.githubusercontent.com/21349241/29517704-8e2452d8-8676-11e7-9f5b-b27bd70e55ef.png)

[2017-08-21 11:46] rubensworks commented on #252
Ah, the stained clay has a new name now. Recipes will need to be updated.

[2017-08-21 16:07] BlueWaste opened #253 "Crash to desktop"
Minecraft 1.10.2

The game crashed whilst rendering screen
Error: java.lang.NullPointerException: Rendering screen

Got this error when hovering the mouse over an item in the variable store.

[crash-2017-08-21_15.02.55-client.txt](https://github.com/CyclopsMC/IntegratedDynamics/files/1239437/crash-2017-08-21_15.02.55-client.txt)

[2017-08-21 16:15] rubensworks opened #254 "Issues when running out of power"
After the network has run out of power and power comes back, parts are derpy. (gui doesn't open anymore)

[2017-08-21 19:03] BlueWaste commented on #253
Update: The crash only happens if you have a variable with entity that is from the materializer.

[2017-08-23 17:29] #247 closed, assigned to rubensworks

[2017-08-23 17:46] #248 closed, assigned to rubensworks

[2017-08-23 17:53] #253 closed, assigned to rubensworks

[2017-08-23 18:13] #254 closed, assigned to rubensworks

[2017-08-23 19:03] #252 closed, assigned to rubensworks

[2017-08-24 18:12] nosyliam opened #255 "Add IC2 Nuclear Reactor Support"
Inventory Readers apparently can't read what's inside a nuclear reactor chamber and instead returns an error. IC2 reactor support would enable some great, cheap, and simple automation with Integrated Dynamics.

[2017-08-25 06:35] rubensworks commented on #255
What MC and mod version are you using?

What aspects give an error? List and/or item reading?

[2017-08-26 16:05] rubensworks opened #256 "Generator still shows as working when finished"
The working animation is still active when it has run out of fuel.

[2017-08-27 05:52] rubensworks opened #257 "Wrench doesn't block offhand action"
Make sure that the off-hand action isn't triggered when using the wrench in the main hand.

[2017-08-27 07:11] #256 closed, assigned to rubensworks

[2017-08-27 07:11] #257 closed, assigned to rubensworks

[2017-08-27 09:22] rubensworks opened #258 "Improve Energy Battery renderer"
Avoid block updates and use a TESR for energy levels instead.

[2017-08-28 18:03] #258 closed, assigned to rubensworks

[2017-08-28 18:17] rubensworks opened #259 "Random part errorring after restart"
Parts can become errorred after a server restart.

Can also happen when re-validating networks (such as placing a cable)

(Randomly try to re-enable inactive parts to improperly catch such bugs for now)

Variables don't reference other variables.

`activeAspect` in `PartStateWriteBase` can become null for some reason.
Can ONLY happen in in `PartTypeWriteBase#updateActivation`, so when a network el

[2017-08-28 22:59] wesserboy opened #260 "Crash when reading an entities inventory in the nether"
I tried to read the inventory of a minecart with chest in the nether and it crashed.

This is the crashlog:
https://gist.github.com/wesserboy/2d4e6fae023ca07f407764242f2de4eb

I had a quick look at the code, and i thought it might have something to do with the nether having world id -1? not sure though ;)

[2017-08-29 06:32] rubensworks commented on #260
Indeed, not sure why I thought that could ever work...

[2017-08-30 20:15] rubensworks commented on #255
@nosyliam Any further information you can give me?

[2017-08-31 07:04] ouroborus opened #261 "Quests doesn't give rewards; exception"
Clicking the quest complete buttons complete the quests but no reward is given. Instead, exception shows in server log.

All The Mods v3.02
Integrated Dynamics 1.10.2-0.7.9

[exception.txt](https://github.com/CyclopsMC/IntegratedDynamics/files/1266115/exception.txt)

[2017-08-31 07:06] rubensworks commented on #261
Duplicate of #243

But thanks for the log, that's exactly what I needed! :-)

[2017-08-31 07:07] ouroborus commented on #261
I saw that and wasn't entirely sure it was the same issue. Glad to help.

[2017-08-31 15:15] #260 closed, assigned to rubensworks

[2017-08-31 15:15] rubensworks commented on #239
Might be related to #259

Also, might be related to an "empty tile entity" problem I had before, during world (un)loading.

[2017-08-31 15:18] #243 closed, assigned to rubensworks

[2017-08-31 15:18] #261 closed, assigned to rubensworks

[2017-08-31 22:04] ouroborus opened #262 "[Question] How to create unary operator from binary operator"
We have `map` and `reduce` but I can't figure out how to use these with binary operators. What I'm trying to do is get an average of a list of integers:

    in = list<int>
    out = in.map(x => float(x) / in.length).reduce((x,y) => x + y)

but I can't seem to figure out what to actually plug into `map` to make `/` work this way. I tried using `/` as an operator in `apply` and then putting that an

[2017-08-31 23:39] ouroborus opened #263 "Minecraft unresponsive when Delayer set to 0 capacity"
If the value listed in the capacity field of a Delayer ever becomes `0`, Minecraft becomes unresponsive. There are several ways this can happen: Intentionally, by entering "0" into the field, or unintentionally, by editing a value that contains zeros such that at any time the remaining value is `0`. Emptying the field and then clicking the increase value button also causes this value to be `0`.

T

[2017-09-01 06:27] rubensworks commented on #263
I thought I recently fixed something similar to this, will look into it.

[2017-09-01 06:29] rubensworks commented on #262
What you'll need is the pipe operation. You can create a float cast operator variable, pipe it's output (without materializing it) to the length of `in`. After that insert this newly created operator into your map operator.

Haven't tried it myself, but this _should_ work, let me know if it doesn't.

[2017-09-01 06:29] #262 closed, assigned to nobody

[2017-09-01 14:19] Lykrast opened #264 "[Suggestion] Forestry support for Menril trees"
While this is probably not worth the effort, being able to breed Menril trees using Forestry in order to get bigger trees that yield even more berries (or any other genetic stuff that tree breeding allows) would be a nice addition.

On a simpler note, being able to make fireproof Menril planks using Refractory Wax (just like Forestry planks) would also be nice.

[2017-09-01 14:38] rubensworks commented on #264
Good idea, but this is out of scope for this mod, other mods/addons would be ideal for something like this.

[2017-09-01 14:38] #264 closed, assigned to nobody

[2017-09-01 14:56] rubensworks commented on #255
Closing this one. If anyone can give me further comments on this error, be sure to comment here.

[2017-09-01 14:56] #255 closed, assigned to rubensworks

[2017-09-01 15:27] #239 closed, assigned to rubensworks

[2017-09-01 15:27] #263 closed, assigned to rubensworks

[2017-09-01 15:28] rubensworks commented on #239
I haven't been able to reproduce this issue, but the latest change _should_ resolve it.

This change will be included in next release, if the bug still persists after that, please let me know.

[2017-09-01 15:48] ouroborus opened #265 "Crash on world load"
I'm not sure how to reproduce this or what specifically is causing it.

I have a world that worked, was shutdown correctly, but now causes Minecraft to hang during world loading. It does produce a crash report so there's that.

[crash-2017-09-01_08.34.09-server.txt](https://github.com/CyclopsMC/IntegratedDynamics/files/1270774/crash-2017-09-01_08.34.09-server.txt)

[2017-09-01 15:52] rubensworks commented on #265
@ouroborus Can you give me the full forge log? There should be more information in there.

[2017-09-01 16:23] ouroborus commented on #265
@rubensworks Err, which one is that?

[2017-09-01 16:24] rubensworks commented on #265
@ouroborus `fml-server-latest.log`

[2017-09-01 16:27] ouroborus commented on #265
@rubensworks Running in single player, so:
[fml-client-latest.zip](https://github.com/CyclopsMC/IntegratedDynamics/files/1270875/fml-client-latest.zip)

[2017-09-01 17:15] rubensworks commented on #265
@ouroborus Hmm, that log doesn't contain the additional logs I would expect, that's unfortunate...

Any chance you remember what has changed in your ID network during your last playthrough?

[2017-09-01 17:26] ouroborus commented on #265
@rubensworks I had built an [item rate indicator](https://drive.google.com/file/d/0B2NyZeVtKdNSZUFiNnYxbFV0N0E/view?usp=sharing) after having to delete a failed attempt at it via MCEdit due to [another issue](https://github.com/CyclopsMC/IntegratedDynamics/issues/262).

[2017-09-01 17:28] rubensworks commented on #265
Ok, that already helps, thanks.

Note to self: this might have something to do with list operations returning incorrect variable types.

[2017-09-01 17:55] rubensworks commented on #265
Ok, I discovered the problem: default values for empty lists created by delayers.

It's a consequence of the current implementation of the 'get' operator, which has been an issue for a long time. It's about time I do something about it.
I'll implement a change that will make the 'get' operator throw an error (in-game) if the index is out of bounds, which will stop any further execution of the vari

[2017-09-01 18:07] #265 closed, assigned to rubensworks

[2017-09-01 18:09] rubensworks commented on #265
@ouroborus FYI, I noticed you are using 1.10.2. I don't maintain the 1.10.2 branch anymore (it takes up too much of my time to maintain old versions as well), so you probably won't be able to enjoy this fix in your current world.

[2017-09-01 18:30] ouroborus commented on #265
@rubensworks It sounds like you're saying that Delayers briefly have a empty or default list during load and that 'get' has an issue with this. Your proposed solution seems to be to make is so that a system involving this scenario will "break" in-game until the player intervenes. But, since that situation occurs during world load (or rather, presumably, during chunk load), it seems that this would

[2017-09-01 18:40] rubensworks commented on #265
I extended the tooltip description to make that clear in the latest commit.
But I guess I can explicitly tell the user that getOrDefault should be used instead.
The regular get is still perfectly usable if the list length always remains static.

Thanks for reminding me of the existence of 'head', that one should indeed be handled in the same way.

Hmmm, it looks like ATM1 is (unfortunately) still

[2017-09-06 14:17] forestbat opened #268 "Question"
Can Integrated dynamics can request recipes itself？Or only request recipes by RS？

[2017-09-06 14:43] rubensworks commented on #268
Autocrafting you mean? ID doesn't support this, so you can do this using the RS aspects.

I do have some plans to support autocrafting in Integrated Tunnels at some point though...

[2017-09-06 14:43] #268 closed, assigned to nobody

[2017-09-08 18:14] rubensworks commented on #259
Received no new reports up until now for the latest version 0.8.7.

If anyone else would have this issue in that version or later, please let me know here.

[2017-09-08 18:14] #259 closed, assigned to rubensworks

[2017-09-09 00:08] TheSaucyWelshman opened #269 "[1.12.1][Minor]Version checker isn't up to date"
I just updated ID to version 1.12-0.9.0 and the update checker is saying a new version (0.8.7) is available. I'm getting the same thing with Everlasting Abilities 1.3.3 saying 1.3.2 is newer, I can open a separate issue there if you want but I assume this is an easy fix for both of them.

[2017-09-09 07:18] #269 closed, assigned to nobody

[2017-09-09 07:20] rubensworks commented on #269
CyclopsMC/CyclopsCore#70

[2017-09-09 09:20] DingoX3 opened #270 "Tinkers stone torches turning into menril torches 1.12.1"
https://imgur.com/oUrwXPJ
If you watch my hot-bar at the bottom you can see them change as i close my inventory.
MC: 1.12.1
modpack: Stella (twitch launcher)
Integrated Dynamics: 0.8.7
forge: 2474

[2017-09-09 09:27] rubensworks commented on #270
Please report this to the pack author first, this sounds like a recipe conflict caused by changed recipes, as you should only be able to craft Menril Torches using Menril Berries.

[2017-09-09 09:27] #270 closed, assigned to nobody

[2017-09-09 09:32] DingoX3 commented on #270
Im not crafting menril torches. If you look at the gif i posted it shows me crafting tinkers torches, and the output is in fact tinkers torches but an id change happens when i close and re-open my inventory. I will mention this the the modpack author though.

[2017-09-10 13:47] josephcsible opened #271 "Restrict NBT reading"
Some mods put data in NBT that players aren't supposed to be able to see. Most other mods that offer ways to look at items don't show NBT at all, so this isn't a concern for them. To fix this, I propose adding an NBT blacklist, which would prevent blacklisted tags from being readable (or used in comparisons with the NBT equals test).

[2017-09-10 14:17] rubensworks commented on #271
Could you give some examples of which things shouldn't be read?

[2017-09-10 14:43] josephcsible commented on #270
I looked into this myself, and I found it was caused by [InstantUnify](https://minecraft.curseforge.com/projects/instantunify). It was removed from Stella 1.2, so the problem doesn't occur there anymore.

[2017-09-10 21:43] josephcsible commented on #271
I can't find a good example right now. I'll post it as soon as I think of it. (I did find http://ocdoc.cil.li/component:database and https://openmods.info/faq.html#op-integration-0 that talk about this very concern, but neither of them give a specific example either.)

[2017-09-10 21:50] josephcsible opened #272 "Make menril more like vanilla wood"
I propose the following changes/additions to make menril more like vanilla wood:

- [x] Rename "Menril Log" to "Menril Wood"
- [x] Rename "Enriched Menril Log" to "Enriched Menril Wood"
- [x] Rename "Menril Plank" to "Menril Wood Planks"
- [x] Rename "Menril Plank Stairs" to "Menril Wood Stairs"
- [ ] Add a "Menril Wood Slab"
- [ ] Add a "Menril Fence"
- [ ] Add a "Menril Fence Gate"
- [x] Add a "

[2017-09-11 05:49] rubensworks commented on #272
Sounds good!

Aren't the following things possible already?

[2017-09-11 11:35] josephcsible commented on #272
If they are possible, JEI isn't showing them as such. I'll double-check, though.

[2017-09-11 11:47] MaxGivno commented on #255
Have same issue with Age of Engineering 1.1.0 pack. MC version 1.10.2, Integrated Dynamics 0.7.10 (tried 0.7.12 with same result).
Inventory Reader on filled IC2 reactor multi block shows this info:
Inventory Full: true
Inventory Empty: true
Inventory Not Empty: false
Is Inventory: false
Inventory Count: 0
Slots: ERROR
Slots Filled: 0
Fill Ratio: ERROR

[2017-09-11 11:50] rubensworks commented on #255
This means that ID couldn't not detect any kind of inventory on the block.
I assume piping systems such as hoppers are also not working?

I haven't used IC2 reactors myself before, but perhaps one 'core' block _does_ allow you to interact with it?

[2017-09-11 12:12] MaxGivno commented on #255
EnderIO item conduits working.

IC2 reactor has a kind of 'core' block - reactor itself, but it has to be surrounded with 6 chambers, so when structure is complete user have not direct access to reactor block. Instead any surrounding block can be used to access reactors inventory.

I understand what you mean by 'core' block, but I don't think IC2 reactor has it.

[2017-09-11 12:17] rubensworks commented on #255
The only thing I can still think of then is that IC2 is not using the item handler capability on its reactor.

I won't be implementing support for non-capability item handling in 1.10 as I mainly work on the latest 1.12 version now, in which most mods have probably already moved to the new capability system.

[2017-09-11 12:23] MaxGivno commented on #255
I see. It seem so. Will try my luck on IC2 forum ;)
Thanks for help :)

[2017-09-11 17:12] #271 closed, assigned to rubensworks

[2017-09-11 18:16] berinhardt opened #273 "[Feature] Multiblock, Color-Configurable Display"
It would be nice to have a type of block that when laid in a rectangle would act as a big screen, and have a couple of variables inside to control background and foreground color for rendering text (much like a screen of opencomputers or computercraft)

[2017-09-11 18:24] berinhardt opened #274 "[Feature] Gauge Display"
I'd love to see another kind of display, one where you set min, max and value, and it shows as a gauge. Specially usefull to quickly check inventory space, fluid and even power levels

[2017-09-11 18:31] rubensworks commented on #273
Something like this has been on my mind since I first implemented the Display Panel.

Definitely possible to do, but not very simple due to the multipart-nature of this mod.

Perhaps some time in the future.

[2017-09-11 18:32] rubensworks commented on #274
Good idea!

[2017-09-12 02:05] josephcsible commented on #272
Hmm, it looks like all of your blocks are `IConfigurableBlock`s. Does this mean I should add `ConfigurableBlockSlab`, `ConfigurableBlockFence`, etc. to CyclopsCore, then subclass those to make these new items?

[2017-09-12 02:15] josephcsible commented on #272
Upon re-testing, this does appear to already work. I think the problem may have been I was on an old version of Forge.

However, these things don't. This is because neither the furnace nor the anvil support oredict recipes. I'll add these possibilities by hand. (Charcoal depends on CyclopsMC/CyclopsCore#71 since that's supposed to give 0.15 XP.)

[2017-09-12 14:09] berinhardt commented on #273
Something like IC2 Nuclear Control maybe? with a Master part thats configurable, and slaves that only increases the size of the screen...

[2017-09-13 15:57] rubensworks commented on #245
I'll leave this for MC 1.13, to avoid existing automations to break.

I'll rework the I/O sides for all machines then.

[2017-09-15 09:09] pharaun opened #277 "Subtitle shows the full name of the sound that a page flip makes when you read the book"
It does not show a nice name for it like 'Page Flipping' but instead it shows 'subtitle.integrateddynamics.pageflip'

[2017-09-15 12:11] josephcsible opened #278 "Space-saving feature: multiple readers/writers in the same block"
Currently, if you want to connect multiple readers/writers to the same block (such as an energy interface and a machine reader), you need to connect each one to its own side. I know that due to CapabilityProxy, running out of sides isn't really an issue, but it's still somewhat ugly and space-inefficient. Could a feature be added to let you put more than one kind of reader/writer in the same space

[2017-09-15 19:21] rubensworks commented on #278
I've been pondering on this for a long time already in the back of my mind, but I have yet to think of a  good and clean solution. Code-wise, this should be very easy to to, the only problem is to how to present this to the player. Add multiple parts on one side? Make one 'super' part that can hold multiple parts? Not sure what would be the best solution...

[2017-09-15 19:22] rubensworks commented on #278
Something related I intend to implement semi-soon, is the ability to change the target side at a certain block. So you could already target the same side by placing multiple parts at different sides, but configuring them to the same side.

[2017-09-15 19:23] rubensworks commented on #277
Ah, the sound event names, of course, didn't implement those yet!

[2017-09-15 19:47] josephcsible commented on #278
Here's a few approaches I thought of, some just more fleshed-out versions of what you mentioned:

1. When holding a reader or writer, each block face is divided into a 3x3 (maybe only 2x2, not sure) grid, and it attaches to (and takes up) whichever space you put it in. Each one is interacted with individually by right-clicking on it, just like now. I like this option.
2. Replace all readers and wr

[2017-09-17 17:44] Column01 opened #281 "[1.10.2] Forestry Squeezer in Machine Reader causes Server Crash"
**Hello Developer Team,**

Recently, we have discovered an issue with the Machine Reader in version: IntegratedDynamics-1.10.2-0.7.10. If you put the Forestry Squeezer in the Machine Reader, and open the GUI, it causes the server to crash. We are aware that we are running an outdated version of the mod, but nothing in your change-log indicates a fix to this issue.

**Mod Versions:**
CyclopsCore-1.

[2017-09-17 17:58] rubensworks commented on #281
Seems related to an outdated CommonCapabilities integration, will look into it.

[2017-09-17 17:59] Column01 commented on #281
Keep me posted.
-Colin

[2017-09-17 19:39] phit opened #282 "Server crash after breaking cable"
Crashlog: https://gist.github.com/phit/09e7af7cead0046efbcc1acb1f0cc6b2
Mod version: IntegratedDynamics-1.12-0.8.7.jar

Description from the player:

when he relogged the server crashed, and crashed every time thereafter the player loaded the chunk
had to remove it manually via mcedit to stop the crashing

[2017-09-17 20:55] phit opened #283 "Part Forcefully Unloaded Console Spam"
Mod version: IntegratedDynamics-1.12-0.8.7.jar

[code]

Using FTB Utilities for chunkloading, player that owns the area logged off and now this is spammed over and over in the console.. loading the area and then leaving does not fix it.

screenshot of the setup in question
![](https://i.imgur.com/Yzxy8V4.png)

[2017-09-18 06:39] rubensworks commented on #283
Strange, according to my debug code, the chunk must not be loaded (yet), or the tile entity is corrupted.
Can you open the gui of the redstone writer?

[2017-09-18 06:42] rubensworks commented on #282
Note to self: `updateableElementsTicks` is not being initialized correctly if the part was not loaded initially.

[2017-09-18 12:26] phit commented on #283
![](https://i.imgur.com/cAld9GT.png)

[2017-09-18 12:27] rubensworks commented on #283
At what frequency does the console logging happen?

Does it still happen when you are opening the part's gui?

Are you sure that _this_ part is causing the problem?

[2017-09-18 12:32] phit commented on #283
About every 30 seconds or every 600 ticks.

No, it only spams as the debug suggest when the chunk isn't loaded, when I stand next to to it loading the chunk everything is fine.

Yes, I am sure. I have the coordinates in writing in the console logs from the past 24hours or so with these exact coordinates

[2017-09-18 12:36] rubensworks commented on #283
Ah ok, I misunderstood, I thought the spamming happened even when the chunk was loaded.

In that case, it's possible that the chunk somehow improperly becomes unloaded. The message you see simply makes sure that your ID network doesn't become corrupted when this happens. I assume your ID network still functions as intended after the chunk is reloaded?

Are you experiencing any issues with other ti

[2017-09-18 12:44] phit commented on #283
Sorry, should have made it more clear.

No idea what my ID network is, I have never played with your mod. But I haven't heard any complaints about something not working from the player that owns these blocks. Looking at it it seems to do its task.

No, no issues were reported to me.

[2017-09-18 16:21] #277 closed, assigned to rubensworks

[2017-09-18 16:21] #282 closed, assigned to rubensworks

[2017-09-18 18:24] #281 closed, assigned to rubensworks

[2017-09-18 18:24] rubensworks commented on #281
New CommonCapabilities release with this fix is coming soon.

[2017-09-20 04:38] yuanjie000 opened #285 "Servercrash while finish the chanllege (sponge step sound)"
forge server version 2422
mc version 1.10.2
IntegratedDynamics-1.10.2-0.7.12
IntegratedTunnels-1.10.2-1.2.5
[crash](http://paste.ubuntu.com/25577437/)
![1111111111111](https://user-images.githubusercontent.com/20902900/30626876-78793b60-9dff-11e7-8bad-33616c1bafce.png)
once put this card in audio writer, the server crash!
also tried in single game, but everything is fine. maybe a server side crash

[2017-09-20 06:33] rubensworks commented on #285
That crash should not be possible, will have to investigate.

In the meantime, could you check if you can reproduce it without any other mods installed?

[2017-09-20 07:48] yuanjie000 commented on #285
I just put IntegratedDynamics in server and reproduce this [crash](http://paste.ubuntu.com/25578118/)

[2017-09-20 18:22] #285 closed, assigned to rubensworks

[2017-09-20 19:27] josephcsible commented on #145
Possibly related: CyclopsMC/IntegratedTunnels#18

[2017-09-20 19:28] josephcsible commented on #237
I think this is done, so it can be closed now.

[2017-09-20 19:40] josephcsible commented on #145
Actually, as I think about this, I can't think of any reason to ever need isolation between Integrated Dynamics networks other than for Integrated Tunnels, so perhaps this issue should be closed in favor of the other one.

[2017-09-21 06:47] rubensworks commented on #145
Indeed, I'll close this one.

But the actual implementation of subnetworks should still become part of ID.

[2017-09-21 06:47] #145 closed, assigned to nobody

[2017-09-21 06:47] #237 closed, assigned to nobody

[2017-09-22 17:40] maruohon opened #286 "Bug in a TE writeToNBT() method"
There seems to be either a failed copy & paste, or some left-over debug remnant here:
https://github.com/CyclopsMC/IntegratedDynamics/blob/master-1.12/src/main/java/org/cyclops/integrateddynamics/core/tileentity/TileMultipartTicking.java#L108

This is potentially quite bad, because if that `markDirty()` is or calls the vanilla `TileEntity#markDirty()`, then it can cause block updates (via `World#u

[2017-09-23 08:01] rubensworks commented on #286
That should not be there indeed.

Looks like it has been there [for a long time](https://github.com/CyclopsMC/IntegratedDynamics/commit/b00a45ad751c29a1d24e7ab950ecebac39f79e63#diff-57ff494ba131861f348e3d514d141955R53) though...

Will look into removing it for the next update.

[2017-09-23 08:57] #286 closed, assigned to rubensworks

[2017-09-23 09:43] rubensworks commented on #283
This may be related to MinecraftForge/MinecraftForge#4413, will put this on hold until that issue is resolved.

[2017-09-24 05:19] RiftomeR opened #287 "String to operator conversion."
Add string to operator conversion.

[2017-09-24 05:41] rubensworks commented on #287
Do you something like `operator.operators.integrateddynamics.binary.and.name` returns a reference to the `And` operator?

[2017-09-24 06:15] #287 closed, assigned to nobody

[2017-09-24 08:55] yuanjie000 opened #288 "Crash"
[Crash](http://paste.ubuntu.com/25605834/)
I want to export honey comb (from foresty) through oredictionary _beeComb_
so I create a string type variable card named _beeComb_
![bee](https://user-images.githubusercontent.com/20902900/30780945-a2e059b4-a148-11e7-8a57-aa0303ea174d.png)
then use `oredictionary value (oredict)` to get this variable card
![crash](https://user-images.githubusercontent.com

[2017-09-24 14:58] #288 closed, assigned to rubensworks

[2017-09-24 15:00] rubensworks commented on #288
Fixed in the dev version. Won't be able to release a new build on curseforge in the next coming 2 weeks, so feel free to use the dev version in the meantime.
You can find a link to the dev builds on the README page of this repo.

[2017-09-24 15:10] yuanjie000 commented on #288
thanks for the work：)

[2017-09-25 07:35] mtdudek opened #289 "Delayer crash"
Hi
My world crashed upon launching internal server.
I'm using delayer on variable that is float, delayer is set to 1000 ticks and it stores only last value. I refer to it by using get with the list and integer equal to 0, that gets me type Any variable, which I want to compare with float value.
` ---- Minecraft Crash Report ----

WARNING: coremods are present:
  LoadingPlugin (ResourceLoader-MC1.1

[2017-09-26 05:06] DSLM opened #290 "Crash due to Cyclops compilation version mismatch"
Hi
When I play on a server with this mod, I meet a crash:
http://paste.ubuntu.com/25618773/
When it was happened, I just use ./home to transfer.

[2017-09-28 17:40] accessdenied0 opened #291 "[Enhancement/Request] RS-Clock in RS-Writer"
Hello Cyclops-developing-team.

I know it seems trivial and I hope I don't do any request which is/was already made (I looked only up in open issues), but:

I would like to have the RS-Clock in the RS-Writer as well. It makes more sense to me to have a RS-Clock there anyway. "If Boolean is X do RS-Clock Y-Z time"
X config for true/false
Y ticks pulse on
Z ticks pulse off

I hope you like my reques

[2017-09-28 21:48] rubensworks commented on #291
Such a clock already exists in the RS reader, so it already seems trivial to me to connect a reader with a writer in that respect. Is there a certain reason for not doing it that way?

The current way is also a lot more flexible, as you can still transform your clock output variable using a chain of operators.

[2017-09-28 22:19] accessdenied0 commented on #291
I know, I already mentioned it.

In the current way you have to use/craft a RS reader with actually no other use. You craft an Item with only the use in a network to be a clock. So it is, in fact a "useless" object.

The question is, how it might be more flexible, if it can do the same thing which it is actually supposed to do, emit a signal.

But indeed I see, now you are mention it, you can't ca

[2017-09-28 22:30] rubensworks commented on #291
You're right, it would be a nice convenience feature. I'll add this to the feature list at a lower priority.

[2017-09-28 22:36] accessdenied0 commented on #291
I thank you for the work you put into your mods.

[2017-09-28 22:44] rubensworks commented on #291
It's my pleasure :-)

[2017-10-01 07:26] #289 closed, assigned to rubensworks

[2017-10-01 08:00] #290 closed, assigned to rubensworks

[2017-10-04 00:01] Timeslice42 opened #292 "Item/Block/Fluid from JEI can not be inserted into List"
You can use JEI to fill an Item, Block, or Fluid, but you can't use it to fill an Item, Block, or Fluid when adding an entry to a List. It would be nice to be able to do so.

[2017-10-04 00:04] Timeslice42 opened #293 "Clarify itembyname and get item registry name"
Much to my suprise the output of the "name" operator does not give an Item when piped into the "itembyname" operator.

What is the expected format for the name of the item in "itembyname"?

[2017-10-04 03:11] rubensworks commented on #292
Last time I checked this was possible. What versions are you using?

[2017-10-04 03:13] rubensworks commented on #293
The name operator returns the localized name of an item, as shown to the player ingame. The itembyname operator expects the _unique_ identifier of an item, like `minecraft:stone` and `minecraft: pumpkin_seeds`.

[2017-10-04 09:24] Flithor opened #294 "[1.12]Reader/Writer GUI list is empty as Chinese Language."
RedStrone Reader GUI
![](https://imgur.com/f4RozUF.png)

I checked zh_CN.lang & en_US.lang for the items text are exist
![](https://imgur.com/nUHR6cP.png)
But only the items text not in zh_CN.lang can display in GUI List
Block Reader GUI
![](https://imgur.com/sVIlGiP.png)
Compare lang files
![](https://imgur.com/UQ12OmK.png)

Fix it!
------------------------
& I update the Chinese translation file

[2017-10-04 12:45] Timeslice42 commented on #293
Could you put that information into the tooltip description of "itembyname"?

[2017-10-04 12:48] Timeslice42 commented on #292
Integrated Dynamics 1.12-0.9.2
Integrated Tunnels 1.12-1.3.2
CyclopsCore 1.12-0.10.19
JEI 1.12.2-4.7.11.102

What else might be relevant?

[2017-10-04 21:45] rubensworks commented on #292
That should do, thanks.

[2017-10-04 21:47] rubensworks commented on #293
Sure.

[2017-10-05 11:35] Flithor commented on #294
Can't create static value in logical programmer, too.

[2017-10-05 17:59] Flithor commented on #294
@rubensworks
There need optimized.
![](https://imgur.com/ig5yByL.png)
Currently four places are using the same field.
Need a new field to set Translation name for types
![](https://imgur.com/y2iJtgz.png)
Please inform me to update the lang file when you fixed bug.
------------------

[2017-10-07 05:54] Flithor opened #295 "[1.12]Bug? Proxy not work"
![image](https://user-images.githubusercontent.com/23412916/31305230-2be3e37a-ab67-11e7-907e-b95b7d9e56e4.png)
![image](https://user-images.githubusercontent.com/23412916/31305221-e4f81e54-ab66-11e7-9a05-74f027c5efa4.png)
![image](https://user-images.githubusercontent.com/23412916/31305227-03c2d504-ab67-11e7-8b2f-c3d9ddb9e467.png)
Fix it!

[2017-10-07 06:24] Flithor opened #296 "[Suggestion]Add line break char/Bigger screen pls"
Long strings will not be displayed clearly.
And want to display string like

[code]
on screen.

[2017-10-07 06:42] Flithor opened #297 "[1.12]Variable Card(or anything) Copy Bug"
1.**Mark** a variable card in logical programmer GUI any operator card mark cell
![image](https://user-images.githubusercontent.com/23412916/31305487-4994d87e-ab6d-11e7-9da6-32d47a129c73.png)
2.Double click marked card in package
3.The **Mark** will become a real card in your package
![image](https://user-images.githubusercontent.com/23412916/31305492-5c0337a8-ab6d-11e7-84aa-6025c2cdf502.png)
~~Bl

[2017-10-07 08:27] rubensworks commented on #297
I assume these copied variable cards disappear from the moment you close the LP gui?

[2017-10-07 08:28] rubensworks commented on #296
So you want to make something like `\n` automatically convert to a newline in a Display Panel?

[2017-10-07 08:29] rubensworks commented on #295
Are you sure that the variable with ID 29 is still inside your proxy?

[2017-10-07 16:09] Flithor commented on #297
No, closed GUI still exist.
I said, "become a real" items.

[2017-10-07 16:10] Flithor commented on #295
Yes.

[2017-10-07 16:17] Flithor commented on #295
Oh, Sorry. Not bug, I removed variable ID 29 in proxy with ID 0.
But I think must put variable card in proxy block is very waste of space.

[2017-10-07 22:06] rubensworks commented on #295
Well, that's simply how a proxy works.

[2017-10-07 22:06] #295 closed, assigned to rubensworks

[2017-10-08 03:18] josephcsible commented on #293
I wonder if it's also worth making an operator that gives the registry name of an item.

[2017-10-08 04:54] Flithor commented on #295
Oh, I see...

[2017-10-08 05:25] Flithor opened #298 "[1.12]Error message display error"
![image](https://user-images.githubusercontent.com/23412916/31314170-1fac5324-ac2c-11e7-835d-4a3b693a80dd.png)
Looks like String.format method not work or Error object is null.

[2017-10-08 06:25] rubensworks commented on #293
@josephcsible Good point, will incorporate that in this issue.

[2017-10-08 09:42] Flithor opened #299 "Proxy IDs sometimes skip IDs"
1.Put a proxy, ID is 0
![image](https://user-images.githubusercontent.com/23412916/31315594-1ef92ad4-ac4e-11e7-8365-7b4ff4d0f29c.png)
2.Put another new proxy, ID is 1
![image](https://user-images.githubusercontent.com/23412916/31315602-3a5f05be-ac4e-11e7-8a84-6ef1a9dac844.png)
3.Put the third new proxy, ID is 2
![image](https://user-images.githubusercontent.com/23412916/31315615-6867716c-ac4e-11e7

[2017-10-08 10:06] Flithor opened #300 "Proxies don't get a new ID immediately in creative mode"
If you get a proxy item with ID
![image](https://user-images.githubusercontent.com/23412916/31315814-85001a6e-ac52-11e7-8600-9ba0067d2b12.png)
And put it multiple in a same network
![image](https://user-images.githubusercontent.com/23412916/31315820-af8bf8f2-ac52-11e7-840a-be7d99593ea2.png)
![image](https://user-images.githubusercontent.com/23412916/31315839-fd692284-ac52-11e7-9abc-f97b48b34026.pn

[2017-10-08 14:43] Flithor opened #301 "[Suggestion]Add string operator "indexOf"/"split"/"subString""
They are basic string control...

[2017-10-08 22:25] rubensworks commented on #301
More string operators are planned, probably in the next update.

[2017-10-08 22:27] rubensworks commented on #300
I'll give this a lower priority, as ID will be played in survival mode in most of the cases anyways.

[2017-10-08 22:28] rubensworks commented on #299
Also a minor enchancement, no one will notice any game-breaking bugs because of this.

[2017-10-09 11:54] Flithor opened #302 "[1.12] Omni-Directional Connector keeps generating particles when game is paused"
![crash](https://user-images.githubusercontent.com/23412916/31336790-08d5ff92-ad2b-11e7-8ed6-175ca0baba3f.gif)
When the game pause, ODC is still generate particles.
And play out all the particles animate when you back to game.

[2017-10-09 12:40] Flithor opened #303 "[1.12] Omni-Directional Connector can lose ID"
Look it's a bug with Inventory mod shortcuts.
I recorded the following phenomenon:
1.Craft a stack ODC with out group ID
Related manipulates:
1.1. use Shift+Click to Craft ODC
Performance: Place them will be assigned a different group ID. Other are normal.

2.Get a bug ODC item
Related manipulates:
2.1. use Shift+Click to craft new ODC.
2.2. use ODC group copy recipe to craft new ODC and use Shift

[2017-10-09 12:59] Flithor opened #304 "[1.12]To String get Operation name fail"
Easy to understand
![image](https://user-images.githubusercontent.com/23412916/31339198-a4673a76-ad34-11e7-97b3-ce509b5f09f0.png)

[2017-10-09 23:02] rubensworks commented on #304
No, can you provide more information?

[2017-10-10 00:43] Flithor commented on #304
If you have a operator variable card, and use To String operator to get it name, will get this language file field set string rather than the operator name.
![image](https://user-images.githubusercontent.com/23412916/31364722-3d4889f2-ad99-11e7-9d4d-1721d2afe1ba.png)
by the way, how to rename the variable card?

[2017-10-10 00:46] josephcsible opened #305 "Generator consumes buckets"
When a lava bucket is placed in a generator, it is consumed entirely instead of leaving behind an empty bucket like furnaces do. Tested on Minecraft 1.12.2, Forge 14.23.0.2512, CyclopsCore 0.10.20, CommonCapabilities 1.4.0, and IntegratedDynamics 0.9.2.

[2017-10-10 06:31] rubensworks commented on #304
Use the labeller

[2017-10-10 06:31] rubensworks commented on #305
This used to work correctly in the past, so must be a regression.

[2017-10-11 03:14] jeffreyheinen opened #306 "[Suggestion] Adjust Facade recipe to use slimeball oredictionary entry"
Allowing any type of -slimeball would be greatly helpful for skyblock maps, where we may not always have a slime chunk in the nearby area.

[2017-10-11 03:15] rubensworks commented on #306
Oh, it's not using the oredict key? That needs to be changed indeed.

[2017-10-11 03:22] Flithor opened #307 "[Suggestion]Consider the attachments of I.D compatible with TD pipes?"
Someone suggest Thermal Dynamics add Custom Attachments.
https://github.com/CoFH/Feedback/issues/561
Consider the attachments of I.D compatible with TD pipes?

[2017-10-11 03:47] jeffreyheinen commented on #306
Forgive me, I should have put this info. I did not doublecheck the current release version compared to what is in the modpack. I did not see anything in the issue list however.

Modpack: Sky Factory 3, version 3.0.15
Minecraft Version: 1.10.2
Mod Version: 0.7.12

[2017-10-11 04:18] rubensworks commented on #306
No problem, no open issues for this exist.

I won't be implementing this for 1.10.2 anymore though. 1.12.2 is out main release target now, 1.10.2 is only maintained for major bugs.

[2017-10-11 04:22] rubensworks commented on #307
The (capability-based) ID API should already allow this to be done. Furthermore, our API also would allow for TD parts to be attached to ID cables.

I won't be implementing this myself though, I have many more other more urgent things to implement. But feel free to send a PR or implement it as a separate mod, or anyone else reading this.

[2017-10-11 09:04] #306 closed, assigned to rubensworks

[2017-10-11 09:33] Flithor opened #308 "Offsettable readers"
In some cases, I tried to get the required data from the NBT data of a block, but it only saved the coordinates of the other block. The coordinates may be dynamic,
have a solution?
Or suggest this.

[2017-10-11 10:57] rubensworks commented on #308
I don't understand your question.

You can only get data from the reader's target area.

[2017-10-13 02:41] ConnorMiner opened #309 "Moving a reader with a piston causes a crash."
When I was trying to make a system to launch items, the slime blocks moved by the sticky piston remained in their positions due to the pulse being too long. When I made the sticky piston extend and retract again, the slime blocks took a cable with an Entity Reader on it with them as they were pulled towards the sticky piston. The game crashed right after the retraction was complete. Upon re-enteri

[2017-10-13 02:58] rubensworks commented on #309
Cables are not movable by pistons or slime blocks, so I suspect another mod in your pack is changing things. The mod that is causing this must be moving blocks in a way ID is not expecting. If you can identify this mod, please let me know.

[2017-10-13 03:25] ConnorMiner commented on #309
I remember Quark allowing TileEntities to be moved by pistons, and that was in the pack at the time the issue occured.

[2017-10-13 03:26] Flithor commented on #308
@rubensworks
The RFTools screen module uses a wireless way to read the fluid or RF data of a block, and I want to read the data from the module located in the screen, but it actually the module stores only the target block coordinates without actual data.

[2017-10-13 03:30] rubensworks commented on #309
@ConnorMiner Thanks, I'll have a look to see what Quark is doing for that.

[2017-10-13 03:33] rubensworks commented on #308
So you want a way to read data from an RFTools screen?

Or do you want a way to change the target area of any kind of reader?

(The latter is something that is a planned long-term feature)

[2017-10-13 03:42] Flithor commented on #308
Try add a "Target Block Proxy".
Put 3 Integer variable card to determine a coordinate, The Block Reader can read it as the target block.
(Perhaps a more eclectic way, not too OP)

[2017-10-13 03:45] rubensworks commented on #308
A way to read any kind of block anywhere seems a bit too OP IMO.

Having (restricted) offset parameters in readers on the other hand would be better, and is something that is planned. That way it is not limited to only block reading.

[2017-10-13 03:51] Flithor commented on #308
Some of the more complex and compact institutions have few spare positions to place ID cables.
I think the higher cost of the target proxy is a better choice.
Moreover, the target proxy can also have a entity proxy.

[2017-10-13 03:54] rubensworks commented on #308
Offset parameters on readers can achieve the same thing, are more expressive, and easier to balance.

[2017-10-13 03:59] Flithor commented on #308
Are you planning to use variable cards or constants to set offset??

[2017-10-13 04:01] rubensworks commented on #308
They will be regular part settings, just like the priority and frequency settings.

But just like aspect parameters, they will become dynamically configurable using variable cards (#197)

[2017-10-13 04:08] Flithor commented on #308
@rubensworks
Block Reader=>
=>Target block Var Card=>
=>Target block coordinate=>
(Calculate the offset value with the known coordinates)
=>Offset=>
**=>Use Copy to copy offset as constant var card=>**
=>Set Block Reader Offset=>
=>Block Reader Target block change=>
~=>Target block coordinate change=>
(Calculate the offset value with the known coordinates)
=>Offset=>
=>Block Reader Target block ch

[2017-10-13 07:19] rubensworks commented on #297
I can't reproduce this. Did you have any other mods installed?
If so, please try reproducing this without any other mods installed.

I assume mods like mouse tweaker messing with this behaviour.

[2017-10-13 07:40] #292 closed, assigned to rubensworks

[2017-10-13 07:40] #305 closed, assigned to rubensworks

[2017-10-13 07:40] #294 closed, assigned to nobody

[2017-10-13 07:42] rubensworks commented on #294
@Flithor I couldn't reproduce this myself, even when using the Chinese language. Because of this I was able to deduce the most likely cause of this bug. Feel free to try the latest dev build (link in README) to see if this resolves your problem.

For the localization errors, feel free to open a PR updating the language file.

[2017-10-13 09:37] Flithor commented on #308
↑Do you have any idea of these?

[2017-10-13 11:38] rubensworks commented on #308
Yes, I know how to implement it, it will just take a while before I will have time to implement it. As mentioned before, it's a long-term planned feature.

[2017-10-13 16:14] Flithor opened #310 "[1.12]Chinese list item not display bug inspected"
I check my mod list, and find the culprit.
JustEnoughCharacters mod
This mod by a Chinese moder produced. It can be able to make a variety of search box support pinyin search Chinese.
![image](https://user-images.githubusercontent.com/23412916/31555683-8f5dca9e-b074-11e7-889e-52c7022bb2ef.png)
![image](https://user-images.githubusercontent.com/23412916/31555672-82c148a6-b074-11e7-9c45-8c8d4498393c

[2017-10-13 17:12] Towdium commented on #310
This issue should be on my side. I'll handle it.

[2017-10-13 21:56] rubensworks commented on #310
@Towdium Thanks!

[2017-10-13 22:45] #296 closed, assigned to rubensworks

[2017-10-13 22:45] #298 closed, assigned to rubensworks

[2017-10-13 22:45] #302 closed, assigned to rubensworks

[2017-10-13 22:56] rubensworks commented on #309
Quark has a `Tile Entity Movement Blacklist` property, please add `integrateddynamics:cable` to that.

[2017-10-13 22:56] #309 closed, assigned to nobody

[2017-10-14 01:12] Flithor commented on #297
No, I checked if ID only, this bug still exist.
![image](https://user-images.githubusercontent.com/23412916/31571138-c9b979d6-b0bf-11e7-8c7b-2bccf1ebf876.png)
Gif here
![bug](https://user-images.githubusercontent.com/23412916/31571128-b85a88ce-b0bf-11e7-8b35-15c039d04eec.gif)
Cannot stack item can't be copy.

[2017-10-14 01:48] rubensworks commented on #297
Ah ok, you double click on the item inside your inventory, that wasn't clear to me.

[2017-10-15 03:14] #297 closed, assigned to rubensworks

[2017-10-15 07:17] #293 closed, assigned to rubensworks

[2017-10-15 07:17] #304 closed, assigned to rubensworks

[2017-10-15 07:45] #303 closed, assigned to rubensworks

[2017-10-15 13:23] Flithor commented on #310
@rubensworks
Unfortunately, your modified code does not solve the problem, and JEC has also appeared in the bug that the game can not start, it seems that when the problem is completely resolved before I have to use a period of time in English list

[2017-10-15 16:24] josephcsible commented on #296
If we're going to make `\n` be a newline, we should also make `\\` be a literal backslash so that it's possible to display a literal `\n`.

[2017-10-15 19:36] phit commented on #283
still an issue with IntegratedDynamics-1.12-0.9.2 and forge-1.12.2-14.23.0.2512

the issue you linked is fixed as far as I can tell, we havent seen the dataloss in months, either way the tiles in question here never lose data anyway

[2017-10-15 22:23] #310 closed, assigned to nobody

[2017-10-15 22:24] rubensworks commented on #294
@Flithor Were you referring to this issue when you said it still didn't work?

Do you have any development experience? If so, interested in debugging this issue yourself? It's quite difficult for me, as I don't speak Chinese or have a Chinese machine...

[2017-10-15 22:27] rubensworks commented on #283
@phit Forge/Vanilla still has some issues with TileEntities still ticking if their chunk is unloaded, which may be causing this. Until that is resolved, you will see this kind of (harmless) console logging.

At least it's better than the crashing and corruption it used to do ;-)

[2017-10-16 00:08] rubensworks opened #311 "Allow escaping of \\n"
As suggested by @josephcsible in #296:

[2017-10-17 11:31] rubensworks opened #313 "No model for uniquely_named category value type"
I forgot to create a model for this new category value type, so this will print a stacktrace to the console during startup.

[2017-10-17 13:53] Flithor opened #314 "[1.12.2]NetWork Reader not wrok"
![](https://user-images.githubusercontent.com/23412916/31668596-3522d826-b385-11e7-9c11-c6e745668c38.png)
I tried AE2 network; TF-RF/Logistics network; IC2 network
(Near by pipes, cables, machines, energy batteries)
Are can't discern.
PLS fix it!

[2017-10-17 14:06] Flithor commented on #311
It is also advisable to add a new line alignment symbol.
(This alignment inherits the next line)
"`\n\<`" for "New Line Align Left"
"`\n\|`" for "New Line Align Center"
"`\n\>`" for "New Line Align Right"
"`\t`" for "Tab"
Ex:

[code]

[2017-10-17 14:12] josephcsible commented on #311
\t makes sense, but the others don't.

[2017-10-17 14:15] Flithor commented on #311
I want display
[code]
[code]
What is the problem?

[2017-10-17 14:18] josephcsible commented on #311
It was a bad idea as originally written due to how escape sequences work, but it's reasonable now that it's edited.

[2017-10-17 14:21] Flithor commented on #311
Do not use escaped symbols instead of using string format variable card?

[2017-10-17 14:23] josephcsible commented on #311
Are you saying we should add a "format" operator, and process escape sequences there instead of in displays? I like that idea. It makes it less likely for a name or something to accidentally trigger an escape sequence.

[2017-10-17 22:37] rubensworks commented on #314
The network reader only reads **ID networks**.

This comes across very hostile, please don't write like this again.

[2017-10-17 22:37] #314 closed, assigned to nobody

[2017-10-17 22:40] rubensworks commented on #311
@Flithor Supporting custom alignment would be very tricky to do, because we're using Vanilla's FontRenderer, which has no support for this. So this won't be on the roadmap in the near future, perhaps when I get around to implementing some kind of advanced display panel.

[2017-10-18 01:44] Flithor opened #315 "[Suggestion]Some of Suggestion about facade block"
- [ ] Craft facade will inheritance block brightness.
- [ ] Craft Facade will returns the previous crafted block.
- [ ] Facade will translucent when player holding a wrench.
- [ ] Use the wrench right click to disguise the side of the block to hide the exposed reader / writer.
(You can let the exposed redstone reader hide to make it look like a pure redstone system)
- [ ] Hidden reader/writer will

[2017-10-18 01:52] Flithor commented on #315
If there is any hard to achieve / cannot achieve / no meaning, please put forward, I will mark deleted it.

[2017-10-18 01:53] rubensworks commented on #315
All should be possible. Not that I marked it as `feature-long-term` though, so no guarantees on whether it will ever get implemented.

[2017-10-18 10:55] boop5 opened #316 "[1.12.2] Tree replaces block when growing"
Just tried automating the menril trees. Problem is that the trunk replaced the industrial foregoing plant gatherer.

Not sure if issue or intended. But either don't grow a log at this place or don't grow at all. But don't replace blocks. imo

Playing on ATM3 4.2 with IntegratedDynamics-1.12-0.9.2

[2017-10-18 10:57] rubensworks commented on #316
That should indeed not be happening, will look into it.

[2017-10-19 00:38] Flithor commented on #311
Consider working with RFTools?
Its screen supports alignment.
In addition to not support the newline, the other performance is quite good
- [ ] Or require RFTools to add "ID Proxy model". (Recommend)
- [ ] Allows the screen to connect to the ID network.

[2017-10-19 00:41] rubensworks commented on #311
@Flithor That's easier said than done ;-) But yes, that would be a nice feature, I don't think I'll ever be able to implement that though.

[2017-10-19 00:49] Flithor commented on #311
So you still insist realization it on the original ID?
Not consider linkage with RFTools ?
(My English not good, maybe misunderstood what you mean.)
Its seems that have no conflict between them.
If both can be achieved, it will be very great.
(In fact, I think, you are same as the RFTools' author, are the "Data Nut(Crazy about data)".)

[2017-10-21 09:22] Flithor opened #317 "[Suggestion]Allow to reset Redstone Clock"
![image](https://user-images.githubusercontent.com/23412916/31850391-97022cbc-b683-11e7-88fe-bb3b3a890632.png)
Hope to can reset the start time of pulse in some way.

[2017-10-22 00:02] rubensworks commented on #317
Can't think of a good and easy way at the moment to make this configurable.

[2017-10-22 02:49] Flithor commented on #317
Add a setting “restart when Redstone high(true/false)”

[2017-10-22 02:56] rubensworks commented on #317
That's not possible, because this is a reader aspect, not a writer aspect.

[2017-10-22 03:00] Flithor commented on #317
In addition, redstone clock has a bug.
You can try to modify the pulse interval & pulse length like this. (3,2),(7,5),(10,5),(12,6)...
You will find it will no longer be a pulse. always output true.

[2017-10-22 03:02] Flithor commented on #317
I said is the reader settings, added in the pulse settings.

[2017-10-22 03:02] rubensworks commented on #317
Please make a separate issue for this.

[2017-10-22 03:08] Flithor opened #318 "[1.12.2]Redstone clock has a bug. Specal pulse setting will not outout pulse."
You can try to modify the pulse interval & pulse length like this. (3,2),(7,5),(10,5),(12,6)...
If pulse interval is less than or equal to two times of pulse length, will always out put true.

[2017-10-22 03:13] Flithor commented on #317
Or to accept the redstone strength is greater than the set value to reset the redstone clock counter.

[2017-10-22 14:31] coldino opened #319 "[1.12] Industrial Foregoing's Plant Harvester doesn't get berries or crystalised chunks from Menril trees"
I assumed the problem was with Industrial Foregoing but it's author points out the problem may be on this side in Buuz135/Industrial-Foregoing#74.

[2017-10-23 10:08] Buuz135 commented on #319
Sorry for the derp on my side with the line reference :P

[2017-10-23 10:26] #319 closed, assigned to rubensworks

[2017-10-24 08:06] rubensworks commented on #316
It looks like this bug must have existed since the initial implementation, thanks for reporting!

[2017-10-24 08:33] rubensworks commented on #318
Actually, this is not a bug.

Pulse length can at most be half of the pulse interval, because both a true and false pulse of that length must fit in the interval.

This will be clarified in the next update.

[2017-10-24 08:34] #313 closed, assigned to rubensworks

[2017-10-24 08:34] #316 closed, assigned to rubensworks

[2017-10-24 08:34] #318 closed, assigned to rubensworks

[2017-10-24 09:01] #311 closed, assigned to rubensworks

[2017-10-27 01:20] Flithor commented on #318
Please inform me here when you had updated the document(language file).

[2017-10-27 01:21] rubensworks commented on #318
What document? The language file? That has been updated in the commit mentioned above.
Will be included in next update.

[2017-10-27 01:38] Flithor opened #321 "[Question]Can you talk about the meaning of "Menril"?"
It seems to be a coinage.
Current Chinese is a direct transliteration, looks very strange and hard to pronounce.

[2017-10-27 01:45] rubensworks commented on #321
Menril is actually a word from the fictional Sindarin language, in which it means "sky"+"glitter".

Feel free to change it if you feel like you would have a better translation for it.

[2017-10-27 01:54] Flithor commented on #321
Does the word describe the stars?

[2017-10-27 01:56] rubensworks commented on #321
Not really, it actually doesn't really have a meaning.

I simply chose that word because it's the combination of sky and glitter in Sindarin.
Which makes sense, because Menril is blue and a bit shiny.

But feel free to change it to another (potentially meaningless) word in Chinese that also sounds nice.

[2017-10-27 02:38] Flithor commented on #321
I can't find this word in Sindarin dictionary...

[2017-10-27 02:42] rubensworks commented on #321
It's a combination of two words. I don't remember exactly how I combined them though.

[2017-10-27 02:51] Flithor commented on #321
menel(sky) + ?-ril(glitter)
But I can't find any words end with "-ril" meaning glitter....

[2017-10-27 03:06] Flithor commented on #321
Try to translate to the"星域", meaning is "the region of the stars".

From Sindarin word "menel" meaning:

The star is light & glitter, and region of stars is the sky.
~How is it?~
But it seem not contains the meaning of sky blue...

[2017-10-28 20:40] josephcsible opened #324 "Improve handling of parts without network or energy"
If a part (reader, writer, screen, etc.) doesn't have a cable connected to it, you can't open its GUI. Also, if energy usage is enabled and it doesn't have any energy, you can't open its GUI.

EDIT: These look like they were done intentionally: https://github.com/CyclopsMC/IntegratedDynamics/commit/fc6daae12c4d2ef55fb5c8e181f02070a08cf8e2#diff-8c7c896ce904f7d1542f3a7030086262 and ccfcdbb. Why was

[2017-10-28 21:10] josephcsible opened #325 "Logic cables invisible after breaking and replacing"
Minecraft 1.12.2
Forge 14.23.0.2491
Cyclops Core 0.10.21.7
Common Capabilities 1.4.0-140
Integrated Dynamics 21fb09f

Steps to reproduce:
1. Place a reader (or something else that a cable connects to)
2. Place a cable on it
3. Remove the cable
4. Place the cable again

The cable now won't be visible (except for its hitbox) until you place another cable next to it, at which point both of them will

[2017-10-29 00:39] rubensworks commented on #324
This is indeed intentional.

When the part doesn't have energy, it makes sense that you should not be able to access it. (Note that I have something on my todo-list to notify the user when he/she tries to access an unpowered part)

When it doesn't have a cable, it has no network, so it should not be able to function as well. A similar notification should be given to the user here as well.

I'll le

[2017-10-29 00:41] josephcsible commented on #324
My worry about this, the "no energy" half of it in particular, lies with my new channel system. If you accidentally set a random part to a channel that nothing provides energy on, you won't have an easy way of changing it back, especially if you don't know (or made a typo in) the channel that you set it to. (Or should I just make every part use energy from channel 0?)

Also, how is a part with no

[2017-10-29 00:43] rubensworks commented on #325
I've been seeing some issues related to this as well.

This is probably a regression due to a recent (can't remember exact commit) change that reduced the number of chunk re-renders for parts, which was related to an issue where display panels would trigger a chunk re-render for each value change.

[2017-10-29 00:46] rubensworks commented on #324
Hmm, good point, this does indeed complicate things with channels...

The original reason for doing it like this was simply because the implementation at that time made it very difficult to handle parts without a network (i.e. fake cable). Perhaps the latest changes make this easier, not sure.

Feel free to suggest/try changing this behaviour if you think you can improve it.

[2017-10-29 00:47] rubensworks commented on #324
I wouldn't do this in any case.

[2017-10-29 01:11] josephcsible commented on #324
Regarding no cable:
I notice that in https://github.com/CyclopsMC/IntegratedDynamics/blob/master-1.12/src/main/java/org/cyclops/integrateddynamics/core/helper/CableHelpers.java#L249, we eject anything inside of a writer when it loses its cable. If I remove the check added in ccfcdbb and put them back in manually, they end up with a green ✔, but the part's status box says "NETWORK CORRUPTED!" Proba

[2017-10-29 01:26] rubensworks commented on #324
It definitely makes sense to do it like this. If you're up for it, I can assign this issue to you. If not, I can try to look into it in the not-so-near future.

[2017-10-29 01:53] josephcsible commented on #324
Go ahead and assign it to me for now. If I get stuck, I'll let you know.

[2017-10-29 03:17] rubensworks commented on #325
Note to self: also can occur when placing an Energy Battery next to a cable.

Possibly a model caching issue.

[2017-10-29 08:20] #325 closed, assigned to rubensworks

[2017-10-29 08:27] Flithor opened #328 "[1.12.2(0.9.3)]Total Fluid Amount bug"
![total fluid amount bug](https://user-images.githubusercontent.com/23412916/32141832-77998a58-bcc5-11e7-9d43-724e9f21230c.gif)
It's 2 "Total Fluid Amount item" in fluid reader GUI list.
And it not "Amount", is "Capacity".
And fluid reader not fit for TE Tank(can't find linked multiple tank)

[2017-10-29 08:34] rubensworks commented on #328
It looks like two fluid aspect names were conflicting, will fix.

[2017-10-29 08:36] Flithor commented on #328
First "Total Fluid Amount" display in fluid reader is amount, but in screen display "Total Fluid Capacity"

[2017-10-29 08:37] rubensworks commented on #328
Yes, their internal name is the same, which causes these issues. It's already fixed here locally, will push soon.

[2017-10-29 08:39] Flithor commented on #328
Fluid reader can't recognize linked multiple TE tank will fix in next version?

[2017-10-29 08:41] rubensworks commented on #328
This seems to work just fine in your GIF. Or are you demonstrating another tank?

[2017-10-29 08:42] Flithor commented on #328
I create a new issue

[2017-10-29 08:53] #328 closed, assigned to nobody

[2017-10-29 08:54] Flithor opened #329 "[1.12.2(0.9.3)]Fluid reader can't recognize linked multiple TE tank"
![cant rec](https://user-images.githubusercontent.com/23412916/32142016-a213a328-bcc9-11e7-9a99-c1ac910fb66d.gif)
Screen displayed the Tanks(tank amount).

[2017-10-29 08:57] rubensworks commented on #329
This is not a bug. The reader will simply read the tanks in front of it, which is in this case only one. If a mod has several tanks in _the same block_, then your display will show a number higher than 1.

[2017-10-29 08:57] #329 closed, assigned to nobody

[2017-10-29 09:08] Flithor opened #330 "[1.12.2(0.9.3)]Fluid reader can't recognize linked multiple TE tank"
Ok I misunderstand "Tanks" meaning
![mult](https://user-images.githubusercontent.com/23412916/32142103-c2c123b4-bccb-11e7-81db-a34580002de1.gif)
But it's really cant recognize linked multiple TE tank.

Or fluid reader just can read one block fluid tank????
Can not recognize multi-block structures?????

[2017-10-29 09:50] rubensworks commented on #330
Not a bug. It looks like TE is simply _merging_ the two tanks as one. This is just the information that is provided by TE, which is just one big tank in this case.

[2017-10-29 09:50] #330 closed, assigned to nobody

[2017-10-29 10:02] Flithor commented on #330
That's said, TE just "link" tank, not be a "multi-block structures" big tank?

[2017-10-29 18:55] josephcsible opened #331 "NPE if a model .json is missing"
If a model .json is missing for an aspect (such as if you delete https://github.com/CyclopsMC/IntegratedDynamics/blob/master-1.12/src/main/resources/assets/integrateddynamics/models/aspect/read/integer/network/energy/max.json), Minecraft will crash with a NullPointerException when you try to look at it. We should handle this more gracefully, just showing the magenta-and-black "missing" checkerboar

[2017-10-30 10:13] rubensworks commented on #331
I actually force a crash during init when a model is missing. But due to some of the more recent Forge changes, these errors are being caught by Forge, so we'll have to find a way to work around that.

[2017-10-30 21:36] josephcsible opened #334 "Add compat with RFTools screens"
Putting a variable card in an RFTools Screen should show its value, just like our screens do. Either the screen itself or its controller would have to be hooked up to our network.

[2017-10-30 21:48] josephcsible opened #335 "Add compat with RFTools Control processors"
1. RFTools Control's tokens are just like our variable cards, except they can only hold what we'd call materialized values. We should be able to write them via a materializer and read them via a proxy.
2. We should have a way to send signals to RFTools Control's processors. We could do this with one of our aspect writers, but I'm not sure which one would be good, or if we should add a new one.

[2017-10-30 22:28] rubensworks opened #336 "Phase out TE ticking"
No essential logic is done inside of it, as everything is done by the network. Only `updateConnections()` has to be properly moved somewhere else somehow.

[2017-10-30 22:49] rubensworks commented on #334
Something for https://github.com/CyclopsMC/IntegratedDynamics-Compat

This has been in my mind as well for a while, would definitely be cool to have. But my priority is developing ID/IT itself for now :-)

Feel free to have a go at it yourself if you feel like it.

[2017-10-30 22:50] rubensworks commented on #335
Something for https://github.com/CyclopsMC/IntegratedDynamics-Compat

Also a good idea, but again something I'll probably never get around to implementing myself :/

ID variables are capability-based, so reading RFTools tokens should be easy as we can dynamically attach capabilities to these items.

[2017-10-30 23:05] rubensworks commented on #334
Note that it should be possible to add the network capability to RFTools screens, which would make them connectable to ID cables.

[2017-10-31 20:32] josephcsible commented on #295
A while late, I think I realize what's actually being asked here. Instead of making the proxy hold an actual variable card in its input, could it hold a "ghost" of a variable card like the logic programmer does while building expressions (actually storing it by ID), and have the actual variable card be in a variable store on the network?

[2017-10-31 22:30] Zolithen opened #338 "Bug with the equals operator and armor stands."
I have been making an automated squezeer with an armor stand, but one bug trolled me at the end. At the start, the automation has been good, except for the reset of an materialized (constant) variable to an empty variable with the entity type. The variable has the armor stand value, to send some redstone signal to some pistons moving it. I have remaked the network to make it good, but the bug trol

[2017-10-31 22:51] rubensworks commented on #295
@josephcsible Not a bad idea, I don't see a reason why that could cause any problems. This would be a breaking change though, so perhaps something for a next MC update.

[2017-10-31 22:56] rubensworks commented on #338
Please clarify the problem clear and concisely, it's hard to understand you.

[2017-10-31 23:08] Zolithen commented on #338
The problem is that something is wrong with the equals operator and armor stands. Happened that a variable that equals to a equals operator is making something wrong because their two values (the values that needed to be equal to make the variable true) are the same but the variable is false. This thing only passed me with the armor stands entity.

[2017-10-31 23:10] rubensworks commented on #338
Are you certain that the entity actually remains the same? Because if you for example respawn an entity, this will be a different entity. The equals operator will check the internal unique ID of the entity.

[2017-10-31 23:13] Zolithen commented on #338
I don´t know that fact, but with the materialized variable, what happens to make the value disappear when one redstone writer in the network is working? Im playing on a modpack: FTB Horizons III

[2017-10-31 23:26] rubensworks opened #339 "[DEV] Localization does not work when dev-built"
When building an ID jar locally, localizations don't work when running the mod elsewhere in a dev environment.

[2017-10-31 23:29] rubensworks commented on #338
I don't understand your question.

[2017-10-31 23:39] Zolithen commented on #338
The variables that is from a materializer is supposed to be constants, but why one constant can be changed to a null entity value?

[2017-10-31 23:42] rubensworks commented on #338
In the case of materializing entity values, this will store the internal ID of an entity.
However, when the entity with that ID is removed from the world (by killing or dying), the materialized variable will still contain a reference to that entity, but there will be no way of showing what entity it was.

It's clear that this is a confusing part, I'll see if I can clarify this in the mod.

[2017-10-31 23:42] #338 closed, assigned to nobody

[2017-11-03 13:49] Flithor commented on #295
At that time, I also found this problem, variable cards in the proxy & delay are cannot be identified in the network.

[2017-11-03 16:31] josephcsible commented on #295
Do you mean that if you have a variable card in a proxy or materializer, you want other things in the network to be able to see it, as if it were in a variable store?

[2017-11-04 16:45] Flanks255 opened #340 "NBT Related exceptions not caught."
it is possible to crash the client(if single)/server with NBT related variable cards, by attempting to cast to the wrong type.

`java.lang.ClassCastException: net.minecraft.nbt.NBTTagCompound cannot be cast to net.minecraft.nbt.NBTTagList`

here is an example crash: [https://pastebin.com/S7upzvS7](https://pastebin.com/S7upzvS7)

[2017-11-04 22:48] darkshadow543 opened #341 "Make the input of round and floor number"
Just to make sure this is not a bug, but when I tried to do any math with a divided number, for instance, I wanted to modulate it, I tried rounding, I tried using a floor, to no avail the screen simply read a big red x,  is this supposed to work this way, or not.

[2017-11-04 22:57] darkshadow543 commented on #341
Could you make round or floor an number input, rather than a double, it might make a lot of peoples lives easier.  In case your wondering, I am working on a eclipse timer, which happens every 36 days.  so I was trying to turn a modulate a division output.

[2017-11-04 23:01] rubensworks commented on #341
Please clarify what you are asking.

Is it this?

[2017-11-04 23:36] darkshadow543 commented on #341
yes, that is what I am asking, because when I divide something, it becomes a number variable.

[2017-11-04 23:37] rubensworks commented on #341
Makes sense, I'll look into it.

[2017-11-05 17:03] Yorkforce commented on #283
Not sure if this is related but we started getting a repeating server crash yesterday with this:
https://pastebin.com/Jh2t9eiT

This was on the Sky Factory 3 modpack with:
IntegratedDynamics v0.7.12
IntegratedTunnels v1.2.5

We had to actually disable the mod just the get the server back up

[2017-11-05 20:44] josephcsible opened #343 "Cables don't place correctly with /setblock"
If you place a cable with /setblock, its neighbors don't connect to it. (This isn't just a visual bug; the network doesn't consider them to be connected.)

[2017-11-05 21:18] josephcsible commented on #318
There's no reason that this can't work. #344 will make it work.

[2017-11-05 22:31] rubensworks commented on #283
@Yorkforce I can't see the versions you're using, but you're probably using outdated versions.

[2017-11-06 03:38] josephcsible opened #346 "Crash when trying to use an error value"
Reproduction steps:
1. Place an inventory reader, but don't attach it to an inventory.
2. Place a redstone writer.
3. Place cables to connect the reader and writer.
4. In the inventory reader, find Slots (it shows "ERROR"), and save it to a variable card.
5. Place the variable card in the redstone writer.

Stack trace:
[code]

Versions:
Minecraft 1.12.2
Forge 14.23.0.2529
CyclopsCore 0.10.22
Commo

[2017-11-06 10:53] Yorkforce commented on #283
Yeah I figured as much, unfortunately we're stuck with whatever the modpack devs give us but I'll report it to them, thanks anyways.

[2017-11-06 15:53] Flithor commented on #295
yes

[2017-11-06 19:12] josephcsible opened #348 "Variables should be visible in all parts, not just variable stores."
Currently, only variable stores are checked for variable cards when searching the network for them. Other parts, such as writers, display panels, proxies, and materializers, should also be searched, to avoid occasionally needing to copy a variable card for no other reason. Originally reported in the comments of #295.

[2017-11-06 22:23] ouroborus opened #349 "Network corruption in RFTools dimensions"
Seems like there's some issue with load ordering between Integrated Dynamics and RFTools dimensions. During server load, my server generates these logs:

    [14:14:22] [Server thread/WARN] [Integrated Dynamics]: Skipped loading part from a network at the invalid dimension id 3.
    [14:14:22] [Server thread/WARN] [Integrated Dynamics]: Skipped loading part from a network at the invalid dimension

[2017-11-06 22:57] rubensworks commented on #349
Should be solvable with some event priority reordering.
Thanks for reporting!

[2017-11-06 23:09] rubensworks commented on #348
I think I looked into this at one point, but the implementation was non that trivial. Perhaps something for the future.

[2017-11-07 02:05] josephcsible opened #350 "Add programmable readers/writers"
I've been thinking of how to add compat with OpenComputers and similar mods. Here's my proposal:

Reader/writer style approach:
----
Add a new aspect reader (Programmable Reader)
Add a new aspect writer (Programmable Writer)
These both have a bunch of aspects with super-generic names, like "Aspect 1" or "Blue Aspect". If possible, they'd all be of the Any type; if not, we'd have a few of each type

[2017-11-07 10:06] rubensworks commented on #350
I think a combination of both would be ideal.
I had the following thought for an HTTP interface, but this could be generalized for interfacing with things like OC.

### Input Interface

A proxy-like block in which you can define a value type (selector), and bind variables with it. So just like the proxy, except that input is _only_ a value type, not a variable.
External systems, such as OC or an H

[2017-11-07 11:48] rubensworks commented on #349
@McJty It looks like you are registering dimensions on `FMLServerStartedEvent`: https://github.com/McJty/RFToolsDimensions/blob/3bea596e01b90cf249959204de911e46f254c7e3/src/main/java/mcjty/rftoolsdim/RFToolsDim.java#L144

Any reason why you are doing this here, and not in `FMLServerStartingEvent`? The logging message seems to indicate that this should occur in the latter event.
If there is no part

[2017-11-07 11:55] McJty commented on #349
Is the world available then? I didn't think it would be

[2017-11-07 11:59] rubensworks commented on #349
@McJty As far as I can see, that part of your code only handles the registration of dimension IDs inside `DimensionManager`, and AFAIK, this does not depend on the world being loaded. So I *think* this could even be moved all the way up to preInit (but don't take my word for it).

[2017-11-07 12:01] McJty commented on #349
That code uses:

            RfToolsDimensionManager dimensionManager = RfToolsDimensionManager.getDimensionManager(world);

And that code needs world.getMapStorage() to be ready and working as there is where I store the dimension ID's

[2017-11-07 12:02] rubensworks commented on #349
Ah, I see, I missed that part. Guess I'll have to think of another way of fixing this then. Thanks anyways :-)

[2017-11-07 12:04] #346 closed, assigned to nobody

[2017-11-07 12:04] #340 closed, assigned to nobody

[2017-11-07 12:45] josephcsible commented on #350
I like that idea. I'll see where I can get with it. (Can you assign this to me?)

[2017-11-07 15:33] Nagshell opened #351 "Improve Storage Drawers integration"
Hello, I tried to setup some simple setups, but I discovered that when I attached inventory reader onto Storage Drawer, it's "Fill ratio" was only showing one of three values - 0, 0.5 and 1.
And 0.5 was shown all the time whenever Drawer wasn't empty nor full.

I wanted to use fill ratio to accommodate for future upgrades that would make simple item count not efficient.

I'm attaching screenshot s

[2017-11-07 15:55] Nagshell commented on #351
I just noticed that Fill ratio is working a little bit differently than I thought it was.

Still there is no way of detecting how far to full drawer, because variables behave in the same way on not upgraded and upgraded drawers.
I guess I'll use item count for now.
Not sure if it's possible to do something with this issue then, but maybe some additional compatibility in the future would be possibl

[2017-11-07 22:51] rubensworks commented on #351
Indeed, the fact that Storage Drawers basically has stacksizes > 64, this introduces some issues. In the future, we should probably add custom support for the SD API.

[2017-11-07 22:57] rubensworks commented on #350
The simplest way to do this is probably to add two simple capabilities that other mods can then use, such as `IValueInput`and `IValueOutput`. These respectively can have the methods `setValue` and `getValue`.

[2017-11-08 01:35] josephcsible opened #352 "We need to do the opposite of currying"
Currently, we perform currying, where if you call a function with less arguments than it needs, it gets partially applied. We need to do the opposite of that as well, where if you call a function with too many arguments, the remaining ones get passed to the function's output, transforming f(a, b) to (f(a))(b) for example.

Here's a concrete case that doesn't work as expected:
1. Create variable ca

[2017-11-08 02:57] josephcsible opened #353 "Z-fighting on variable cards"
Whenever you're looking around or moving while holding a variable card in your hand, its overlay will Z-fight with the underlying blank card.
![ezgif com-optimize 1](https://user-images.githubusercontent.com/16061266/32529341-04ba3c56-c406-11e7-8c4c-01b9a742fa8e.gif)

Versions:
Minecraft 1.12.2
Forge 14.23.0.2531 (I also tried with 14.23.0.2497 thinking that MinecraftForge/MinecraftForge#4332 or M

[2017-11-08 03:05] rubensworks commented on #353
Yes, it has been like that for a long time.

Overlaying should be tweaked, possibly similar as to how the Forge bucket handles overlay textures: https://github.com/MinecraftForge/MinecraftForge/commit/b5e88dd07b4aa7a719c5c44a89aa735b6ca891ce

[2017-11-08 08:25] #349 closed, assigned to nobody

[2017-11-08 09:53] rubensworks commented on #352
Ok, I understand the problem. This is indeed something I did not take into account while implementing currying. But AFAICS, it should be possible to implement this in the current system without any major changes nonetheless.

[2017-11-09 00:42] josephcsible opened #354 "Part spontaneously becomes logic cable"
When you place a reader in one block (with no cable), then try to place another reader facing the opposite direction in the block behind the first reader, the second reader will disappear, and a logic cable will appear in the first reader's block.

![ezgif com-optimize 2](https://user-images.githubusercontent.com/16061266/32582433-d0f30d00-c4bc-11e7-94b7-ec7b417960d6.gif)

Versions:
Minecraft 1.12

[2017-11-09 00:47] rubensworks commented on #354
May be related to #93 and its fix.

[2017-11-10 02:47] josephcsible commented on #350
As I think about this, I only want an IValueOutput with getValue, not an IValueInput with setValue. I think we should make the writer expose that capability itself, and make the reader use that capability of whatever block it's attached to.

[2017-11-10 02:55] rubensworks commented on #350
So you mean *not* creating an Input Interface? And instead attaching an `IValueOutput ` cap to things like OC blocks?
Not sure if I'm understanding you correctly.

I don't think this will be flexible enough in all cases (thinking of HTTP interfacing which would require a separate block in that case). Furthermore, this would require an reader aspect somewhere.

[2017-11-10 02:58] josephcsible commented on #350
Your understanding seems to be correct. And wouldn't an HTTP interface need a separate block anyway?

[2017-11-10 03:06] rubensworks commented on #350
I think an actual Input Interface might make more sense from a players-perspective. I think the concept of actual I/O blocks, instead of one O block and I aspect, is easier to understand.
Furthermore, it's not always possible to attach capabilities to blocks, only if that block has a TE.

A simple case where this would not work for example is when someone would make it so that some (TE-less) butto

[2017-11-10 03:08] josephcsible commented on #350
Hmm, I think you may have sightly misunderstood me actually. There will still be a basically-identical input and output part from the player's perspective. The fact that there's only one Java interface would just be an implementation detail.

[2017-11-10 03:12] josephcsible commented on #350
Also, with the interface with setValue, I feel like it will be problematic to make sure values always get unset when the setting block goes away.

[2017-11-10 03:12] rubensworks commented on #350
I still think that would complicate implementation in third-party mods too much. Instead of only having to interact with target capabilities, they'd also have to inject a capability into themself.

And it still wouldn't be possible to handle that button use case.

[2017-11-10 03:14] josephcsible commented on #350
Why would such a button not just be used with a redstone signal and our redstone reader? I'm envisioning this with the specific intention of working with OpenComputers, RFTools Control, TIS-3D, and other programming mods, not just a catch-all for anything that doesn't have a reader/writer right now.

[2017-11-10 03:17] rubensworks commented on #350
The button thing was just an example. There are other cases where blocks have no capability, but they could be used to provide some kind of input to the network.

I think RFTools Control is even a perfect example of such a block, AFAIK, they are purely network-based and don't have TEs.

There was some item transfer mod as well that works without TEs, but I can't remember the name.

[2017-11-10 03:19] josephcsible commented on #350
I'm really having trouble thinking of such a use-case. RFTools Control's blocks have TEs (as does every other programming mod's block that I can think of). For other item transfer mods, wouldn't our inventory readers/writers be the better choice for interaction?

[2017-11-10 03:25] rubensworks commented on #350
Correction: It was XNet I was thinking about, not RFTools Control.

Not necessarily, someone could use this item transfer to perform logic. (a certain mod does this, can't remember its name)

[2017-11-10 03:32] josephcsible commented on #350
XNet's cables aren't tile entities, but its connectors are, and its cables by design don't connect to anything except for themselves and its connectors. Also, is [Autoverse](https://minecraft.curseforge.com/projects/autoverse) the mod you're thinking of?

[2017-11-10 03:37] rubensworks commented on #350
Yes, that's it :-)

In any case, I'm still of the opinion that having to attach a capability to the TE that wants to write a value is not a nice solution in this case. Unless you can convince me with a good reason why this would be beneficial.

[2017-11-10 03:44] josephcsible commented on #350
My main reason is that it avoids caching problems altogether. It makes the other mods not have to worry about unsetting their values when their blocks power down/get destroyed/fly away/whatever.

[2017-11-10 03:51] rubensworks commented on #350
I don't see a problem with caching, because the value would be persisted in the input interface.

However, I just thought of an argument in favor of doing it with the capability way as you suggested. That way, the whole lazy evaluation chain of ID remains, and values will only be produced by external mods if they are actually needed.

I'll think about it some more.

[2017-11-10 03:52] josephcsible commented on #350
Okay. For now, I'll defer the decision by working on just the writer half.

[2017-11-10 04:13] rubensworks commented on #350
Ok, thought about it some more, and I agree that it makes sense to do it the way you suggested.

However, it should be as simple as possible for mods to work with this capability. So I suggest adding helper methods and default capability implementations where needed.

[2017-11-10 09:05] Nagshell opened #356 "Redstone Writer doesn't trigger block update"
Would it be possible for Redstone Writer to trigger block update when it changes it's state of output?

In my system I'm using Thermal Dynamics servos to pump liquid, and ID system to control it. My logic is simple enough, and when checking wirter it shows it outputs redstone high, but it doesn't trigger servos.

Triggering block update near servo does the trick, simple act of placing or breaking

[2017-11-10 09:19] rubensworks commented on #356
It should already do that. What versions are you using?

[2017-11-10 10:02] Nagshell commented on #356
1.12.2-0.9.5 of ID and 1.12-2.3.6.13 of thermal, looks like the newest ones.

Attaching screenshot of my current setup - without repeaters signals in redstone writers was chaging, but servos did not respond to that change. After some time even repeaters stopped working - on screenshot both are off, and one writer has simple negation of boolean in the other one.

![2017-11-10_10 57 57](https://user

[2017-11-10 12:01] tekacs opened #357 "Allow editing of an already-programmed variable when put into the logic programmer"
#### Issue type:

:heavy_plus_sign: Feature request

#### Description

This would make debugging/iterating on a chain dramatically easier.

Let me know if I'm missing a feature which already enables this or else, why this isn't supported.

When I put an already-programmed variable into the logic programmer's bottom right slot, I would expect the GUI to populate with its existing contents, allowing

[2017-11-10 12:14] rubensworks commented on #357
Something like this would become part of the advanced logic programmer. Hopefully I'll ever get around to implementing that...

[2017-11-10 16:05] LeChuckXIV opened #358 "entity reader changes"
not sure if this is intended, but with the new entity system it has broken systems that rely on item/entity name, for example i had a system that would read the entity name sand and emit a redstone signal if it was there, now this is impossible as the entity id constantly changes, if this is not a bug, how would i go about getting the entity's name?

[2017-11-10 22:41] rubensworks commented on #358
Hmm, I didn't take this case into account when making the entity name change. I'll make sure to add something in the next update that will make it possible to fix your system.

In the meantime you should be able to work with the NBT operators.

[2017-11-10 23:49] rubensworks commented on #356
So are repeaters properly activated by redstone writers or not? I don't fully understand your description.

[2017-11-11 03:40] josephcsible opened #359 "Support writing to multiple aspects at a time"
We should let you put variable cards in more than one slot in an aspect writer at a time. Here's how I think these should work:
* Audio Writer: it will play multiple sounds, just as if you had one writer for each aspect
* Effect Writer: it will produce multiple effects, just as if you had one writer for each aspect
* Inventory Writer: it will trigger/cancel crafting of everything specified, just a

[2017-11-11 03:41] josephcsible commented on #350
I consider #359 a blocker to this, since it seems like a big waste to need a block (or at least a part) for each value you want to export.

[2017-11-11 04:49] rubensworks commented on #359
Regarding the IT parts, I was also thinking of two other possibilities:
* For aspects that do 'similar' things, the conjunction or disjunction of them could be taken. For example, when transfering an item, the boolean aspect _and_ the item aspect must apply on the transferred item.
* Instead of round-robin, it might also make sense to just let them work at the same time.

Just an idea: aspects cou

[2017-11-11 04:51] rubensworks commented on #350
@josephcsible I don't think #359 is easily resolvable in the near future though. Programmable I/O could however already work with single activatable aspects.

But it's your issue, so it's up to you how you want to handle it :-)

[2017-11-11 12:09] josephcsible commented on #359
I like the disjunction idea, following the theme that a writer with multiple aspects will act like multiple independent writers. As for being simultaneous instead of round-robin, I was trying to maintain some semblance of balance with only moving one stack per tick, but if you don't care about that, I'm happy to do it that way.

[2017-11-11 13:46] Nagshell commented on #356
No, they aren't properly activated in this configuration.

Removing left writer let the other one work properly.

I also checked chunk boundaries, and writers are in different chunks.

I'm sorry if I'm not clear with my descriptions, English is not my main language.

If you need me to provide more information then tell me what you need to know.

[2017-11-12 04:56] rubensworks commented on #359
Ok, so before implementation of this starts, we need a good abstraction in order to support these different interaction behaviours.

I suggest adding something to the aspect builder that allows you to set an 'aspect functionality group'. Each group could have a certain _mediator_ that is responsible for choosing which (active) aspect is allowed to be evaluated, or how different aspects can be comb

[2017-11-12 08:50] rubensworks commented on #358
Note to self: related to this, player names are always "null (...)"

[2017-11-12 08:52] rubensworks opened #362 "Limit NBT value sizes"
Large NBT tags can cause network issues when sent from server to client. So make sure we limit the size somehow. Throw an EvaluationException for these.

EDIT: This mainly occurs with NBT value types.

EDIT2: This probably also occurs with other value types that can have large values, such as item lists originating from Colossal Chests (TODO: test with this).

[2017-11-12 09:29] #358 closed, assigned to nobody

[2017-11-12 17:13] josephcsible commented on #359
The more I think about this, the more I don't think we need any kind of interaction between aspects at all. I think the simplest and best option is just for each aspect to be completely independent, as if each one were in its own writer.

[2017-11-12 17:40] Debonairesnake6 commented on #75
Also, the progressive automation chopper does not work with the trees, nor does the forestry farm, also on the 1.10.2 version

[2017-11-12 17:50] josephcsible commented on #359
Actually, taking that line of thought to its logical conclusion, maybe we should abandon this completely in favor of #278, and explicitly support more than one of the same kind of writer in the same space.

[2017-11-12 18:09] Haddadmj opened #364 "Can't Create/Loads World -- Netty Local Client"
#### Issue type:

- :bug: Bug
- :snail: Performance issue
- :question: Question

____
#### Short description:

when i add the mod to my modpack with it required mods...

i can't create world

#### Versions:

_Exact versions of the following mods, not just *latest*._

- This mod: IntegratedDynamics-1.12.2-0.9.5
- CyclopsCore: CyclopsCore-1.12.2-0.10.22
- Minecraft: Minecraft 1.12.2
- Forge: forge-1

[2017-11-12 22:35] rubensworks commented on #75
@Debonairesnake6 Please report this to the respective mod's issue trackers.

This issue can actually be closed, as we Menril Tree blocks are registered the proper way in the oredict for them to be handled by treefarms.

[2017-11-12 22:35] #75 closed, assigned to nobody

[2017-11-12 22:40] rubensworks commented on #359
I wouldn't throw this idea off the table completely just yet, but for now, we can indeed let this idea rest for a bit in favor of other more urgent issues.

[2017-11-12 22:41] josephcsible commented on #364
Minecraft Forge 2538 made some changes to Netty that were followed up in 2539 and 2540. See if you have the problem with Forge 2537 (before the change) and/or with 2540 (after the follow-ups).

[2017-11-12 22:42] rubensworks commented on #364
@Haddadmj Can you try reproducing with only this mod (and its requirements) installed?

It looks like IC2 is the only mod that is mentioned in the stacktraces, perhaps you should report it there.

[2017-11-12 22:50] Haddadmj commented on #364
I Will Try :D

[2017-11-12 23:07] Haddadmj commented on #364
with only this mod (and its requirements) installed
forge-14.23.0.2538 to forge-14.23.0.2540 ... I can't create/load the world...

but forge-14.23.0.2537
it work fine :D

[2017-11-12 23:10] rakslice opened #365 "comparison's type check fails if one parameter is a variable of type any"
#### Issue type:

- :bug: Bug

____
#### Short description:

When trying to create a comparison such as `!=` in the logic programmer, I get a type error and can't save the result if one parameter is a variable of type `any` (for instance, the result of a `?` choice) and the other has a specific type (say an integer constant)

#### Expected behaviour:

The type check always passes if one or both pa

[2017-11-12 23:26] josephcsible commented on #364
I suspect that reverting https://github.com/CyclopsMC/CyclopsCore/commit/6131a3f95d1c3197dbcba79a579d3a8725a8bb10 will fix this. The leak that you thought was your fault was apparently Forge's fault.

EDIT: Tested and confirmed. CyclopsMC/CyclopsCore#94

[2017-11-13 02:17] tekacs opened #366 "Add a variant of 'unique name' which doesn't include the damage metadata"
#### Issue type:

:heavy_plus_sign: Feature request

#### Description

With the new string operations it's certainly possible (really only with a regex) to strip out the metadata number from 'unique name', but it seems like a sufficiently common operation (matching items without metadata, as most mods support) that there's little harm in having a separate operator for this?

This should be a fairl

[2017-11-13 02:19] tekacs opened #367 "Make it possible to /display/ an entire chain of operations producing a variable"
#### Issue type:

:heavy_plus_sign: Feature request

#### Description

IntegratedDynamics doesn't let the user /write/ their own functions (as mentioned in #211), but for debugging purposes, whilst looking at labels is passable, it would be incredibly helpful to be able to see the entire chain of operations leading to a variable's construction.

This probably relates to the (mentioned in some issu

[2017-11-13 02:20] josephcsible commented on #366
If you're trying to compare items, why are you looking at names at all? We have operators that let you compare items directly.

[2017-11-13 02:22] tekacs commented on #357
@rubensworks Would you be open to a PR for this? If so, any thoughts as to what would need changing?

At a glance, as well as the existing `writeElement` there needs to be support to (statically) `readElement` an `ILogicProgrammerElement` from an `ItemStack` and then selecting the right operator and variables in the UI based on that information?

As things stand this is my greatest headache in try

[2017-11-13 02:22] rubensworks commented on #366
For filtering it might indeed be better to use one of the custom item comparator operators.
But there are cases where it might indeed make sense to retrieve _only_ the item name of an itemstack.

Feel free to submit a PR for this if you're up for it :-)

[2017-11-13 02:23] tekacs commented on #366
@josephcsible I'm building big regexes to test the regex support. 😋

[2017-11-13 02:26] josephcsible commented on #367
In your inventory, it would be really difficult to make that work unless you materialize everything, since you as a player aren't attached to the network that has all of the intermediate step variables.

[2017-11-13 02:27] tekacs commented on #367
@josephcsible Yup, I was assuming it'd have to either be done in one of the existing blocks (display panel, materializer?, proxy?) or by adding a new one.

[2017-11-13 02:28] tekacs commented on #367
I guess that inside the variable store would be one place that this could be correctly displayed (and this would be my suggested option, since that's where I'd expect most debugging to centre around).

[2017-11-13 03:44] rubensworks commented on #357
@tekacs If possible, a PR on this would be nice! Your suggestion on how to implement it should work, but I think some additional (non-trivial) server-client synchronization will be required.

This will definitely become part of the advanced LP, but if it can become part of the regular LP already, even better.

[2017-11-13 03:59] rubensworks commented on #367
@tekacs Do you specifically mean stringifying a chain of operations? Or simply displaying it in a nice way ingame?

What I have in mind for the advanced LP, is that it has a canvas on which operators can be visually chained together (possibly enhanced with IDE-like keyboard controls). This would already allow you to visually observe the operator chains. Other than that, this graph-based visualizat

[2017-11-13 07:18] #364 closed, assigned to nobody

[2017-11-13 08:31] #365 closed, assigned to nobody

[2017-11-13 08:31] #354 closed, assigned to nobody

[2017-11-13 10:48] #341 closed, assigned to nobody

[2017-11-13 11:18] rubensworks commented on #356
I can't reproduce this myself at all. So something else must be causing the problem you are describing. I suggest removing mods until you've found the culprit.

[2017-11-13 22:28] Nagshell opened #369 "Crash and world corruption upon use of looping variables."
#### Issue type:

- :bug: Bug

#### Short description:

Crash and world corruption upon use of looping variable.

#### Expected behaviour:

I'm not sure, the actual method doesn't look intended.

#### Actual behaviour:

#### Steps to reproduce the problem:

1. Make two int variables with value 1 (variables A and B)
2. Make third variable with their sum (variable C = A+B)
3. Input sum of B and C in

[2017-11-13 22:33] rubensworks commented on #369
Thanks for reporting this.

A safeguard should already be in place against such recursion, but it looks like it misses this case.

[2017-11-14 09:26] bpwhelan opened #373 "Unable to place logic cables under Water"
#### Issue type:

- :bug:
- :heavy_plus_sign:
- :question:

____
#### Short description: Like the title says, cannot place logic cables underwater, not sure if this is intended or not. You are able to place other logic blocks under water then attach cables, which is a work around, but not the easiest thing to do.

#### Expected behaviour: Place logic cables under water.

#### Actual behaviour: Doe

[2017-11-14 10:09] rubensworks commented on #373
Sounds like a bug indeed, thanks for reporting.

[2017-11-14 19:44] rakslice opened #374 "When a proxy value changes, variables more than one step removed from it don't update"
#### Issue type:

- :bug: Bug

____
#### Short description:

When the value of a proxy changes, variables that are functions of the proxy more than one step removed don't update

#### Expected behaviour:

All variables with functions that depend on the proxy value either directly or indirectly update automatically when the proxy value changes.

#### Actual behaviour:

Variables with functions that

[2017-11-15 00:29] rubensworks commented on #374
Thanks! Will look into it.

[2017-11-16 23:34] ouroborus opened #376 "Variable transfer rate with network-attached Energy Battery"
#### Issue type:

- :bug: Bug

It appears that the Energy Battery has poor and variable transfer rates.

![2017-11-16_15 00 16](https://user-images.githubusercontent.com/392047/32920987-84ab03f6-cae0-11e7-8964-10a67c9a3dd4.png)

In this annotated screenshot, we have several numbered power transfer testing harnesses. All applicable connectors are set to transfer 10MRF/t. Power storage are creative

[2017-11-17 00:12] josephcsible commented on #376
This mod isn't designed to transfer directly from importers to exporters. It's designed to transfer from importers to interfaces, and from interfaces to exporters. (An energy battery hooked directly to the network counts as an interface.) That seems to explain a good bit of what you're seeing.

Also, this should be classed as a bug, not a performance issue. A performance issue refers to the game l

[2017-11-17 00:19] ouroborus commented on #376
Issue type updated.

I guess that just leaves 8 and possibly 5 as issues.

[2017-11-17 00:23] rubensworks commented on #376
@ouroborus Could you double-check the transfer rates for 8?

Because if no buffer is attached to the network using an energy interface (or a direct battery), that setup should not be able to transfer energy at all. With that buffer the transfer rate should be 1kRF/t.

[2017-11-17 00:30] ouroborus commented on #376
2k without energy interface:
![2017-11-16_16 24 45](https://user-images.githubusercontent.com/392047/32923169-efbdf6e4-caea-11e7-8dca-2607d96e3a94.png)

4k with energy interface:
![2017-11-16_16 24 59](https://user-images.githubusercontent.com/392047/32923172-f6a769f4-caea-11e7-9223-f5e6d8b6279d.png)

I would've expected 8 to run at max capacity, at least when using the energy interface. Scenario

[2017-11-17 00:45] rubensworks commented on #376
Ah, like that you mean.

Both cases should run at 1kRF/t because that is the (configurable) transfer limit of the battery, so that indeed sounds like something that should be looked into.

Note to self: the battery may somehow get registered to the network multiple times using an energy interface.

[2017-11-17 01:13] ouroborus opened #377 "Increase transfer limt of energy battery"
#### Issue type:

- :heavy_plus_sign: Feature request

The energy battery is upgradable but this only changes its capacity. Its fixed transfer limit of 1kRF/t renders upgrades increasingly pointless as more are applied.

I propose having the transfer limit increase with capacity, possibly as a separate NBT value or as a certain fraction of the capacity.

[2017-11-17 01:27] rubensworks commented on #377
Makes sense, will think about a good way of implementing this.

Note to self: also increase default limit of network energy transfer.

[2017-11-17 03:38] moonheart08 opened #378 "OpenComputers integration"
Integration with OpenComputers would be a powerful tool. OpenComputers is good at fast data processing/networking, but lacks world interaction; Integrated dynamics is *built* on world interaction, but lacks fast data processing/networking.
Joining the two together via API integration would allow for intresting designs and concepts.
Lua, the language used by OC CPUs, already supports most types use

[2017-11-17 03:38] josephcsible commented on #378
I agree. This was already on my to-do list.

[2017-11-17 03:44] moonheart08 commented on #378
If i knew Java/Forge, i'd lend a hand. (I use Rust/C++, Java is annoying and I can't ever find good tutorials for the latest Forge with all the API turnover)

But i will lend some tips:

Dont force Integrated Dynamics to take on Lua similarities, instead, map the functional aspects of Integrated Dynamics to Lua (via metatables).

OC can process data much faster than Integrated Dynamics, so use a b

[2017-11-17 03:50] josephcsible commented on #273
Related: #334

[2017-11-17 04:00] josephcsible opened #379 "Inconvenient to set multiple properties on the same aspect"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request

When you're setting multiple properties on an aspect, after each one, you need to press Write, then scroll back down to the aspect and reopen the properties view. Instead, you should be able to set them all at once and only have to press Write once.

[2017-11-17 04:03] rubensworks commented on #379
Agreed, I've noticed this myself as well lately. Perhaps the Write button could even be removed, and an auto-save could be added when you exit the (properties) gui.

[2017-11-17 04:36] josephcsible opened #381 "Add the K combinator"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request

We should add the K combinator from lambda calculus (K = λxy.x).

[2017-11-17 05:23] moonheart08 opened #382 "Shift+clicking variables into the argument slots in the logic programmer destroys them"
#### Issue type:

- :bug: Bug

____
#### Short description:
Shift+clicking variables into the argument slots destroy them.

#### Expected behaviour:
Variables shift clicked into the argument slots should be removable

#### Actual behaviour:
They get deleted

#### Steps to reproduce the problem:

1. try and shift+click a variable into the arg slot (first it goes into the result slot, shift click it

[2017-11-17 05:28] rubensworks commented on #382
Thanks for reporting!

[2017-11-17 05:31] moonheart08 commented on #382
Why wouldn't I? I just lost a moderately large project to deleting one of the most commonly used variables thanks to it :P ( ): )

[2017-11-17 05:58] moonheart08 opened #383 "Forestry Integration"
#### Issue type:

- :heavy_plus_sign: Feature request

Things that would be essentials:
Read Bee information (If already analyzed)
Check status of a Hive (Example: How close to death Queen is)
Read status of a Farm
Interact with Database (If possible)

[2017-11-17 05:58] moonheart08 commented on #383
RIP. Wrong writeup. Brainfarts are fun.

[2017-11-17 05:58] #383 closed, assigned to nobody

[2017-11-17 14:35] moonheart08 opened #384 "Integration Megaissue"
#### Issue type:
- :heavy_plus_sign: Feature request

#### Why I'm making this
Having a issue for each *possible* integration to the mod would be tedious, and would create tons of new issues, so having a mega issue could be advisable.
As such, I'm doing so. I've compiled a midsize list of mods that could potentially get integration added.
Mods listed here that have a issue already will get their i

[2017-11-17 21:04] josephcsible commented on #384
Re Extreme Reactors: I'm extremely upset by ZeroNoRyouki/BigReactors#74, and until he changes his mind about that, I'm opposed to doing anything that would improve the Extreme Reactors experience. By the way, this is a great example of why GPL/LGPL are much better license choices than MIT (if Big Reactors had been GPL/LGPL originally, Extreme Reactors being closed-source would be a violation of it

[2017-11-17 22:31] moonheart08 opened #385 "Game fails to register any new advancements towards rewards after opening the guide for the first time"
#### Issue type:

- :bug: Bug

____
#### Short description:
I am unable to obtain rewards due to having viewed the book. The book doesn't update what Advancements i have, and as such never unlocks them.

#### Expected behaviour:
Book updates when i get a new advancement

#### Actual behaviour:
Book is the same as when i first crafted it, with only the first 2 advancements registered

#### Steps to

[2017-11-18 00:36] rubensworks commented on #384
@moonheart08 Good initiative! I've added some mods I was thinking of.

We'll never be able to implement compat for all of them ourselves though, so any community contributions are welcome :-)

[2017-11-18 01:18] rubensworks commented on #381
@josephcsible Small note: Make sure to add a clear description for this operator though, either in the tooltip or the book. Because most people probably won't be able to understand this with just the lambda form.

[2017-11-18 16:00] moonheart08 commented on #384
Yup. Shame i dont know how to use forge. and for @josephcsible, I agree.

[2017-11-18 23:19] josephcsible opened #386 "Signature of operators are parenthesized incorrectly"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
Some operators' type signatures are parenthesized incorrectly, such as Reduce.

#### Expected behaviour:
Operator Reduce is supposed to have the signature `Operator -> List -> Any -> Any` (which could be correctly parenthesized as `Operator -> (List -> Any -> Any)`), which means a function

[2017-11-18 23:24] josephcsible opened #387 "Can't flip the reduce operator"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
When you try to flip the reduce operator, you get an error. Related to #352, but this is just regular currying not working.

#### Expected behaviour:
Flipping a reduce operator should produce an operator that takes arguments in the order List, Operator, Any.

#### Actual behaviour:
Flippin

[2017-11-20 01:33] josephcsible opened #389 "Green lights don't turn off on writers"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
The green lights on aspect writers don't automatically turn off when removing a variable card.

#### Expected behaviour:
The green lights turn off immediately upon removing the variable card.

#### Actual behaviour:
The green lights remain on until you add or remove a cable or part next to

[2017-11-20 01:35] #331 closed, assigned to nobody

[2017-11-20 01:36] josephcsible commented on #378
I plan to do this via #350.

[2017-11-20 15:01] Morelyn commented on #385
also had this issue, in the direwolf 20 1.12 pack v 1.1

advancements are only recognised by the book on the first time the pack is loaded, saving and reloading the game in the same instance doesnt trigger them, a full shutdown and reload of the pack is required.

Cyclops Core 0.10.23
Integrated Dynamics 0.9.6
Forge 14.23.0.2531

[2017-11-20 16:31] HellFirePvP opened #390 "Growing Menril Saplings with .grow call crashes"
Cross-post from AS' IssueTracker: https://github.com/HellFirePvP/AstralSorcery/issues/364

#### Issue type:

- Bug

____
#### Short description:

Calling .grow() on a Menril sapling-block crashes the game.

#### Expected behaviour:

That it should cycle the growth-state or otherwise show some growth progress.

#### Actual behaviour:

Go figure.

#### Steps to reproduce the problem:

Since this has

[2017-11-20 22:44] rubensworks commented on #390
Thanks! Will look into it. It indeed looks like I'm not properly overriding the `grow()` method.

[2017-11-21 16:35] tommysundling commented on #384
I often use Applied Energistics 2 for my storage solution and would love to see integration with that similar to what you are doing with Refined Storage. Having the option to use AE2 for storage and do all of the cabling with Integrated Dynamics/Tunnels would be great.

Just my two cents :-)

[2017-11-22 23:12] josephcsible commented on #381
I don't think I'm going to do this until #352 or #387 are fixed.

[2017-11-22 23:17] josephcsible commented on #362
Related: #211

[2017-11-23 00:59] ConnorMiner opened #392 "Getting/Writing the Step Sound of Air causes a crash."
#### Issue type:

- :bug: Bug

____
#### Short description:
Upon setting an Audio Writer to play the step sound of a block that a Block Reader detected (which was air), the server crashed.

#### Expected behaviour:
A stone stepsound, an invalid stepsound that causes nothing to play, or no sound at all from the Audio Writer (supposedly) playing Air's stepsound.

#### Actual behaviour:
The server cr

[2017-11-23 00:59] josephcsible opened #393 "Code never runs"
https://github.com/CyclopsMC/IntegratedDynamics/blob/01219b22e199834b677766f1b3e866bc42d03456/src/main/java/org/cyclops/integrateddynamics/core/evaluate/variable/ValueTypeListProxyEntityBase.java#L34-L44

This code never runs. This is an abstract class, and both of its concrete subclasses override these methods without calling super.

[2017-11-23 01:31] rubensworks commented on #393
Haven't seen any bug reports related to this yet. But looks like something that needs fixing in any case.

[2017-11-23 01:32] rubensworks commented on #392
Thanks for reporting!

[2017-11-23 02:15] josephcsible opened #397 "uniq and uniq_p don't work as intended"
https://github.com/CyclopsMC/IntegratedDynamics/blob/f025d16240d2b715abe7a1ab4084f6b5bae697f9/src/main/java/org/cyclops/integrateddynamics/core/evaluate/operator/Operators.java#L748-L756
https://github.com/CyclopsMC/IntegratedDynamics/blob/f025d16240d2b715abe7a1ab4084f6b5bae697f9/src/main/java/org/cyclops/integrateddynamics/core/evaluate/operator/Operators.java#L772-L774

~~Two~~Three problems are

[2017-11-23 02:18] josephcsible opened #398 "ValueTypeBase objects halfway to being singletons"
We currently treat ValueTypeBase objects as if they're singletons (comparing them with ==, etc.), but this isn't actually enforced. We should make the constructor private to avoid future bugs.

[2017-11-23 02:20] rubensworks commented on #397
Not sure where my mind was when I wrote that...

[2017-11-23 02:45] josephcsible opened #399 "Test for null instead of catching NullPointerException"
https://github.com/CyclopsMC/IntegratedDynamics/blob/01219b22e199834b677766f1b3e866bc42d03456/src/main/java/org/cyclops/integrateddynamics/core/evaluate/operator/Operators.java#L1940-L1946
https://github.com/CyclopsMC/IntegratedDynamics/blob/01219b22e199834b677766f1b3e866bc42d03456/src/main/java/org/cyclops/integrateddynamics/core/evaluate/operator/Operators.java#L2432-L2446

Exceptions are suppos

[2017-11-23 04:17] ConnorMiner commented on #392
I just found out that the crash occurs with any block in front of the block reader when the stepsound is supposed to be determined.

[2017-11-23 04:47] josephcsible commented on #390
When I try to reproduce this, I don't get a crash; instead, the server thread seems to freeze.

[2017-11-23 06:10] josephcsible commented on #390
Okay, so CyclopsMC/CyclopsCore#97 fixes our bug, but this wouldn't have happened except for two Astral Sorcery bugs: see HellFirePvP/AstralSorcery#379 and HellFirePvP/AstralSorcery#380 for their fixes.

[2017-11-23 08:26] #399 closed, assigned to josephcsible

[2017-11-23 08:29] #392 closed, assigned to nobody

[2017-11-23 08:30] rubensworks commented on #390
Great, thanks for looking into this @josephcsible!

[2017-11-23 08:31] #390 closed, assigned to josephcsible

[2017-11-23 10:57] rubensworks opened #403 "Support reading items, fluids and energy from entities"
#### Issue type:

- :heavy_plus_sign: Feature request

Operators should be added for this, based on capabilities.

[2017-11-23 22:54] matthiasmetzen opened #404 "Crash during List creation"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
The game crashes when I click the "+"-Button while trying to create a list of fluids in the (Portable) Logic Programmer.
If I press one of the arrows to cycle between the list types first, and then cycle back  to fluids it works just as intended. Before using this workaround, the GUI will

[2017-11-23 23:13] rubensworks commented on #404
Thanks for reporting!

[2017-11-24 01:53] josephcsible opened #405 "Fluid reader is misleadingly named"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug
- :heavy_plus_sign: Feature request

The fluid reader sounds like it can read fluids directly from the world, but it can't do this (it can only read from tanks). We should either let it do this, or rename it to "tank reader" or "fluid tank reader" or something.

[2017-11-24 04:47] rubensworks commented on #405
I would keep the name as it is, but perhaps we can add an aspect that can read a fluid (block) from the world as a fluid value.

[2017-11-25 00:02] josephcsible opened #411 "Make INetwork's compare equally"
https://github.com/CyclopsMC/IntegratedDynamics/pull/407#discussion_r153033343

[2017-11-25 08:30] #397 closed, assigned to nobody

[2017-11-25 16:57] mabelrxu opened #414 "crash diamond backpack in drying basin"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
Crash when accidentally putting diamond backpack - storage focus (iron backpacks mod) into drying basin.

#### Expected behaviour:
No crash, no interaction, able to take backpack back out

#### Actual behaviour:
Crashed with error saying cannot support more than 32,000-ish items.

#### Ste

[2017-11-25 16:59] mabelrxu commented on #414
Hm ... just crashed while doing something else after reloading an easier backup that didn't have a drying basin at all, maybe it's not from integrated dynamics

[2017-11-25 17:01] #414 closed, assigned to nobody

[2017-11-25 17:35] josephcsible commented on #350
New idea: ditch the programmable writer, and make the variable store expose that capability instead, where "index" for it would be the inventory index.

Actually, maybe the variable ID makes more sense than the inventory index. (Or not; everywhere else; variable IDs are just an implementation detail)

[2017-11-25 18:11] josephcsible opened #415 "@EqualsAndHashCode(callSuper = true) doesn't work as intended"
https://github.com/CyclopsMC/IntegratedDynamics/blob/4b26215f5e0c0e85d405db525571119874aa30a9/src/main/java/org/cyclops/integrateddynamics/core/item/AspectVariableFacade.java#L28-L30
https://github.com/CyclopsMC/IntegratedDynamics/blob/4b26215f5e0c0e85d405db525571119874aa30a9/src/main/java/org/cyclops/integrateddynamics/core/item/OperatorVariableFacade.java#L32-L34
https://github.com/CyclopsMC/Int

[2017-11-25 23:34] rubensworks commented on #414
Nesting backpacks in backpacks in MC is never a good idea. Unfortunately, that's a vanilla restriction.

[2017-11-26 00:26] masonpinder opened #417 "Mod integration with something like Dimensional Transceiver or tesseract [solved]"
#### Issue type: :heavy_plus_sign: Feature request

Would it be possible to make the system connect through wireless, so that I can control different circuits far apart, or different dimensions?

I don't know the code and whether it's possible to even work between different dimensions, with what you've got, but would it be too impossible, so I could do something like applied energistics and quantu

[2017-11-26 00:29] josephcsible commented on #417
Do the mono- and omni-directional connectors not work for your use case?

[2017-11-26 00:33] masonpinder commented on #417
Wait, do mono- and omni-directional connectors work through dimensions?! I feel dumb to not have tried it

[2017-11-26 02:40] #417 closed, assigned to nobody

[2017-11-26 03:00] #415 closed, assigned to josephcsible

[2017-11-26 03:05] rubensworks commented on #350
Reading a variable by id is also a possibility indeed. It could even be more generic, that any network block can be read, just like the network reader part does currently.
(We could then also add this functionality as an aspect to the network reader)

[2017-11-26 03:08] josephcsible commented on #350
Long-term, we could even replace proxies with this.

[2017-11-26 04:49] rubensworks opened #418 "Add redstone pulse writing aspect"
#### Issue type:

- :heavy_plus_sign: Feature request

A boolean aspect should be added to the redstone writer that emits a pulse (of configurable length) when a boolean transitions from false to true. Perhaps an option could be added to also make it pulse when going from true to false.

This would require a state to be maintained, possibly within the redstone component capability.

[2017-11-26 10:37] rubensworks opened #420 "Make cable connections side aware"
Certain mods, such as Compact Machines require cable and path element capability retrieval to be sided.
So some internal (backwards-compatible) refactoring is required to make this work.

Note that some NBT serialization changes to networks will be required, due to only positions of path elements being stored, and not the side they are connected by.

More information: #419

[2017-11-27 14:50] unstablecraft opened #421 "Server crash 1.12.2"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:

server crashes after player pickaxe's an display pannel from your variable store

#### Expected behaviour:
that server does not crash

#### Actual behaviour:
server go's belly up

#### Steps to reproduce the problem:

1. place store
2. put display panel on it
3. wack it with pick axe
4. c

[2017-11-27 22:36] rubensworks commented on #421
Is this with or without a cable?

[2017-11-28 02:12] tofof opened #422 "Redstone Writer does not output strong power despite property"
#### Issue type: 🐛 Bug

____
#### Short description:
Redstone writer with property 'Strong Power' set to 'true' does not output strong redstone signal.

#### Setup:
Two redstone lamps one atop the other. Redstone writer pointed into bottom lamp.
Redstone writer triggered by entity reader -> players -> nonempty list.

#### Expected behaviour:
On trigger, redstone writer emits strong signal and ligh

[2017-11-28 02:52] rubensworks commented on #422
Thanks for reporting this. This must be a recent regression, because I tested the redstone lamp case not too long ago.

EDIT: Ah, it's 1.10, that fix may not have made it to that version yet.

[2017-11-28 08:35] unstablecraft commented on #421
without
 also insta crash  with D evolution exacher
same crashlog

[2017-11-28 08:46] rubensworks commented on #421
Please clarify

[2017-11-28 09:21] rubensworks commented on #339
Ok, the problem seems to be caused by language file names being mixed case. It looks like Forge doesn't handle this consistently.

In any case, it's probably a good idea to make all language file names (in all CC mods) completely lowercase.

[2017-11-28 10:24] unstablecraft commented on #421
if display is broken  with Draconic Evolution exachanger results in same crash as above
but then it happens instand and not after a few tries

[2017-11-28 10:25] uecasm commented on #422
I have the same issue on 1.12.2 (IntegratedDynamics 1.12.2-0.9.6).  My test was placing a redstone writer set strong=true with a block of cobble on top of it and a door on top of that.  Expecting the door to open or shut as the signal is toggled, but it doesn't.  Ditto for a lamp instead of a door.  Putting the lamp directly on top of the writer does work.

[2017-11-28 10:43] rubensworks commented on #339
Resolved in ef70d565ebbb02c1fa77c84be268c79e90d441e1

Also applied on all other CC mods.

[2017-11-28 10:43] #339 closed, assigned to rubensworks

[2017-11-28 15:07] josephcsible commented on #339
If those are lowercase now, I think we need to add a pack.mcmeta too.

I added it to ID in CyclopsMC/IntegratedDynamics#424; can you add it everywhere else?

[2017-11-28 21:13] Machine-Maker opened #425 "Logic cables dont recognize the variable store"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug
____
#### Short description:
I have to replace the variable store every so often

#### Expected behaviour:
I expect that every time I log back on to the server to not have to update the variable store

#### Actual behaviour:
The parts of the ID network show missing variables when the store is clearly attached to the lo

[2017-11-28 23:07] tofof commented on #422
A block supporting a door was my actual use case too.

[2017-11-29 06:38] KingLemming opened #426 "Crystalized Menril (Brick) Stairs are listed as fuel."
Just a simple thing I noticed - the Crystalized Menril Stairs (regular and brick versions) have a fuel value, as if they were wood.

That feels like a mistake to me, but it may be intended. Apologies if it is.

[2017-11-29 06:43] rubensworks commented on #426
That seems to be a mistake indeed, thanks for reporting!

[2017-11-30 03:07] josephcsible commented on #426
Noting that this happens with both variants of chorus stairs too.

[2017-11-30 03:40] josephcsible commented on #403
For items, what functionality do we want besides what the "inventory" and "armorinventory" operators already give us?

[2017-11-30 03:42] rubensworks commented on #403
I think "inventory" and "armorinventory" only work on players at the moment, operators should be added that work purely using capabilities, so it works on all entities.

[2017-11-30 03:42] josephcsible commented on #403
Ah yes, that is indeed the case.

[2017-11-30 04:00] josephcsible commented on #422
I looked at this, and strong power is being provided when it's tested for. The actual problem is that we aren't triggering some kind of update notification, so it isn't being tested for. To see what I mean:
1. Place a redstone writer pointed at two lamps in a row
2. Set strong power to true
3. Turn it on (only the close lamp will light up)
4. Break and replace the far lamp (now it will light up to

[2017-11-30 04:05] rubensworks commented on #422
That makes sense, strong power probably broke when I disabled block updates on redstone value changes. So we'll probably have to force a block update (or some other notification?) when a _strong_ redstone value is being updated.

[2017-11-30 08:43] #426 closed, assigned to josephcsible

[2017-12-01 03:26] josephcsible opened #429 "Group ID of omni-directional connector not synced to client"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
When crafting an omni-directional connector, its group ID isn't immediately synced to the client.

#### Expected behaviour:
A newly-crafted omni-directional connector should immediately have its group ID visible.

#### Actual behaviour:
A newly-crafted omni-directional connector does not h

[2017-12-01 04:57] josephcsible commented on #429
https://github.com/CyclopsMC/IntegratedDynamics/blob/edef106c1bfc26d0dc775144ffefee150aff87a0/src/main/java/org/cyclops/integrateddynamics/part/PartTypeConnectorOmniDirectional.java#L171

This is the cause. Is there a reason for only doing this on the server?

[2017-12-01 05:00] rubensworks commented on #429
@josephcsible Because only the server knows of these IDs, and stores them.

Not sure if this issue can be easily resolved though, due to how crafting works in 1.12 (completely server-side).

[2017-12-01 05:01] josephcsible commented on #429
https://github.com/CyclopsMC/CyclopsCore/blob/master-1.12/src/main/java/org/cyclops/cyclopscore/persist/world/GlobalCounters.java#L10 seems to indicate otherwise.

<blockquote><img src="https://avatars2.githubusercontent.com/u/11808375?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/Cycl

[2017-12-01 05:03] rubensworks commented on #429
Not sure if that description is accurate, I don't remember ever implementing server-client syncing, and I also don't think vanilla does this out-of-the-box for WorldStorage.

[2017-12-01 14:38] TheRegulator commented on #356
I Second this bug.
Using Version 1.12.2-0.9.6
on Forge 14.23.0.2531
on Direwolf 20 pack 1.1.0

The Redstonewriter gives an Output but doesn't update the Block in front of it.

As soon, as you update the Block (by placing a block next to it) i get the signal

https://imgur.com/a/tJmwH

<blockquote><img src="https://i.imgur.com/b6CH5I0.jpg?fb" width="48" align="right"><div><img src="//s.imgur.com/im

[2017-12-01 22:53] rubensworks commented on #356
@TheRegulator Can you try reproducing this without any other mods installed?

[2017-12-02 01:05] TheRegulator commented on #356
@rubensworks i tried it:
I could not reproduce it with only Integrate Dynamics and it's dependencies installed,
so i tried it again with the direwolf20 pack in Singleplayer.
There it worked fine too.

Looks like it's only on the Server i play on

[2017-12-02 02:39] josephcsible opened #434 "Refactor AspectBuilder::withProperties"
There's got to be a better way to give aspects properties than to manually create separate containers for every combination of them that we ever use. We have so much repetition and boilerplate related to this in the Aspect*Builders files.

Also, look into if we can make it possible for value propagators to define properties, which would then be present on any aspect they're used in.

[2017-12-02 03:05] josephcsible commented on #434
Idea for the "also": add a method to define properties to IAspectValuePropagator, but give it a default implementation so that it stays a functional interface, and we can still use lambdas with it wherever we don't need to set properties like that

[2017-12-03 12:28] TvL2386 commented on #356
I have the same issue. Playing Direwolf20 1.1.0 (MC1.12.2) on a server hosted by a friend.

Can't reproduce in Single Player mode. Can't even reproduce in Multi Player anymore...
I had an Inventory Reader reading if it was full. I put the variable in the Variable Store.
I created a new Variable Card with the Portable Logic Programmer. It did the Boolean NOT operation on the previous variable. Resu

[2017-12-03 12:30] TvL2386 commented on #356
Oh yeah, one thing: If I would break a block of dirt next to this setup, the redstone would also jump to lvl 15. So I was assuming something with block updates is not going well

[2017-12-03 16:00] AOWGaming opened #435 "Doesnt Run On new Forge :("
Kicks you off the server when loading in

#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug
- :heavy_plus_sign: Feature request
- :snail: Performance issue
- :question: Question

~~DELETE THIS LINE AFTER READING: If this is not a bug report, you can remove the remainder of this template.~~

____
#### Short description:

#### Expected behaviour:

#### Actual behaviour:

[2017-12-03 17:14] josephcsible commented on #435
Please fill out the template properly; there's not enough information here to start trying to fix this. (I can load worlds fine on the latest version of Forge.)

[2017-12-03 21:39] Gravlok opened #436 "Redstone Writer doesn't causes block update"
- :bug: Bug
____
#### Short description:

Changes of boolean value in Redstone Writer doesn't trigger block update.

#### Expected behaviour:

After inserting empty variable card into Redstone Writer which is connected to path of redstone dust, it should light it up with power of 15.

#### Actual behaviour:

After inserting an empty variable card into Redstone Writer nothing happens with redstone

[2017-12-04 01:00] rubensworks commented on #436
Duplicate of #356.

Thanks for the detailed information though. With this, we finally might be able to reproduce the issue ourselves.

[2017-12-04 01:00] #436 closed, assigned to nobody

[2017-12-04 01:01] rubensworks commented on #356
New information by @Gravlok from #436:
____
#### Short description:

Changes of boolean value in Redstone Writer doesn't trigger block update.

#### Expected behaviour:

After inserting empty variable card into Redstone Writer which is connected to path of redstone dust, it should light it up with power of 15.

#### Actual behaviour:

After inserting an empty variable card into Redstone Writer not

[2017-12-04 01:17] josephcsible commented on #422
I wonder if this is related to #356.

[2017-12-04 08:14] uecasm commented on #422
Possibly.  I do have another odd issue which I wasn't sure yet whether to blame on the door or ID: I have a Redstone Writer directly under (since the strong output isn't working) the centre block of a MalisisDoors hi-tech door.  There are three copies of pretty much the exact same setup at different Y levels (it's an elevator door).  Two of the three behave correctly -- the door opens and closes w

[2017-12-04 08:50] uecasm commented on #422
Yeah, ok.  The one that is not working is at X 109 Y 57 Z -64.  With it set to strong and with two lamps on top of it, they're both off even when the Writer says true, _but_ when I place blocks next to them they will both light up.  Similarly when the Writer turns off they will stay on until they get a block update.

The ones that are sort-of working are at X 109 (Y 98, 130) Z -60.  With two lamps

[2017-12-04 12:14] Banedon opened #437 "Creeper Taming Challenge - Success not registering"
Issue type: Bug/Question

#### Short description: Working on the Challenges at the end of the tutorial, but the Creeper Taming challenge won't register successfully.

#### Expected behaviour:  When displaying the health of a creeper on the display panel, the achievement for Creeper Taming should be triggered.

#### Actual behaviour:  Nothing happens when displaying the health of the creeper.

####

[2017-12-06 12:58] Gravlok opened #438 "Implement the RS Latch (Flip-Flop)"
- :heavy_plus_sign: Feature request
____
It would be really nice to see RS Latch included in ID. It gives the user to create a hysteresis loop, useful ie. for power generation control. If would really work well with #418. Even Wikipedia says "This is done in nearly every programmable logic controller" ;)

[2017-12-06 13:28] josephcsible commented on #438
The Delayer already lets you do that: https://www.reddit.com/r/feedthebeast/comments/7h0w1c/comment/dqnjysm

That's pretty much the same way that PLCs do it, actually.

<blockquote><img src="https://www.redditstatic.com/icon.png" width="48" align="right"><div><img src="//www.redditstatic.com/icon.png" height="14"> reddit</div><div><strong>Integrated Dynamics Help... • r/feedthebeast</strong></div>

[2017-12-06 14:02] rubensworks commented on #438
Might be convenient to have some block that can do exactly this. Perhaps some time in the future, as you can indeed already do it with the Delayer.

[2017-12-07 03:54] josephcsible opened #440 "Support Mekanism-style gases"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request

We currently don't have any support at all for gases like Mekanism uses (not gaseous fluids, but their own thing entirely). We should look into adding this.

[2017-12-07 04:03] rubensworks commented on #440
I wouldn't consider this urgent at all. Mekanism should make its gases Forge fluids (as it _is_ a fluid after all)

[2017-12-07 04:09] josephcsible commented on #440
That's been brought up before, and they've said no: see aidancbrady/Mekanism#4164 and aidancbrady/Mekanism#4528.

[2017-12-07 04:11] rubensworks commented on #440
Yeah, I don't think _all other mods_ should provide support for these gases just because Mekanism doesn't adhere to the standards.

[2017-12-07 04:22] josephcsible commented on #440
Yeah, but I do kind of see their point: in real life, it's a lot harder to transport a pressurized gas than a liquid (and Mekanism uses this fact for balance), but virtually no mods today bother to check if a fluid is gaseous when they work with it.

[2017-12-07 04:48] Drakkim opened #441 "Bug: Portable Logic Programmer overwrites last slot on toolbar when adding an item from JEI"
~~DELETE THIS LINE AFTER READING: :tada: Thanks in advance for this issue, you're awesome! :tada: Please fill in the following template and make sure your title clear and concisely summarizes the issue.~~

#### Issue type: Bug

~~DELETE THIS LINE AFTER READING: If this is not a bug report, you can remove the remainder of this template.~~

____
#### Short description: Portable Logic Programmer over

[2017-12-07 12:10] josephcsible commented on #441
If picking a fluid crashes your client, please upload a crash log of that.

[2017-12-07 14:10] rubensworks commented on #440
Then this would be something that other mods should support. That's probably a lot less effort than adding support for a completely separate gases API.

[2017-12-07 23:39] #373 closed, assigned to nobody

[2017-12-07 23:39] #382 closed, assigned to nobody

[2017-12-08 03:00] rubensworks commented on #385
I can't reproduce this myself in either single or multiplayer (in a clean environment).
So either some mod in the pack is causing the issue, or your server is somehow blocking some packets.

Are you playing on a server? If so, can you try in singleplayer? Do you see anything starting with "Received an invalid advancement" in the server logs?

[2017-12-08 03:05] #343 closed, assigned to nobody

[2017-12-08 08:55] FallenRecruit opened #443 "Support network movement with frames"
#### Issue type: Bug
- :bug: Bug
____
#### Short description: Crash when moved by frame (DW20 1.12.2 Modpack)

#### Expected behaviour: Game should function as normal

#### Actual behaviour: Crashes with error log

[crash-2017-12-08_18.55.49-server.txt](https://github.com/CyclopsMC/IntegratedDynamics/files/1541891/crash-2017-12-08_18.55.49-server.txt)

#### Steps to reproduce the problem:

![2017-

[2017-12-08 14:55] rubensworks commented on #443
Yeah, this was to be expected, don't move ID networks with frames (for now). Most likely we'll have to add custom support for FL.

[2017-12-08 15:47] josephcsible commented on #443
If you want to support this now, should we also reopen #309?

[2017-12-08 15:50] rubensworks commented on #443
Quark doesn't provide an API for this AFAIK. So we'll have to wait and see if this can be solved without using the FL API, if so, this should automatically work with Quark as well.

[2017-12-09 07:22] Drakkim commented on #441
[crash-2017-12-09_02.19.03-client.txt](https://github.com/CyclopsMC/IntegratedDynamics/files/1544465/crash-2017-12-09_02.19.03-client.txt)

[2017-12-09 08:29] Gayanfalor commented on #404
Yep got the qame issue playing atm 3 v5.3, the fun fact is if you move arrows and get back to fluid and hit the  + its working

[2017-12-09 10:36] FallenRecruit opened #444 "Machine reader max capacity"
#### Issue type: Bug
- :bug: Bug
____
#### Short description: Machine reader FE max out at 2,147,483,647 (32-bit int)

#### Expected behaviour:
It is working as expected

#### Possible addition: add second FE values as long
____
#### Versions:

- This mod: 0.9.6
- CyclopsCore: 0.10.23
- Minecraft: 1.12.2
- Forge: 14.23.1.2555

[2017-12-09 11:58] rubensworks commented on #444
This is normal, because the FE interface works with ints. What are you trying to read that should be having a capacity of more than the max int value?

[2017-12-09 11:58] #444 closed, assigned to nobody

[2017-12-09 12:24] FallenRecruit commented on #444
Draconic Evolution energy core its max capacity is 64-bit long

[2017-12-09 13:03] josephcsible commented on #444
RF is signed 32-bit, so only supports energy values up to 2,147,483,647. If Draconic Evolution lets you store more than that, it should be using TESLA, which is 64-bit. If you want this to be fixed, report it to their issue tracker.

[2017-12-09 13:42] FallenRecruit commented on #444
Is it possible to read the stored and capacity as long with minimal code additions?

[2017-12-09 15:01] rubensworks commented on #444
@FallenRecruit No, it is not. Simply because the stored and capacity values are exposed by the FE interface as ints. We can't magically make it expose more bytes. Another interface should be used for that, such as the Tesla interface (which we also support).

[2017-12-09 15:24] josephcsible commented on #444
It might be possible to add a special case for this, but Draconic Evolution recently [changed from the free and open-source MIT license to the completely non-free (not much better than All Rights Reserved) CoFH DBaJ license](https://github.com/brandon3055/Draconic-Evolution/commit/3e293fc16e3a22e10f9fa7486ef791d9fed99a1e). As such, unless and until this is undone, I have no desire to even begin lo

[2017-12-09 16:10] maham opened #445 "Crash when trying to add first fluid to list of fluids."
#### Issue type:

- :bug: Bug

____
#### Short description:

I'm trying to create a list of fluids using the portable logic programmer. Graceful crash (showing shutting down message) when clicking the plus sign to add the first fluid.

#### Expected behaviour:

That I can add a fluid like with lists of items.

#### Actual behaviour:

Graceful crash.

#### Steps to reproduce the problem:

1. Open p

[2017-12-09 16:12] rubensworks commented on #445
Please check open issues before reporting new ones, duplicate of #404.

[2017-12-09 16:12] #445 closed, assigned to nobody

[2017-12-10 13:12] rubensworks commented on #376
I can't seem to reproduce the issue. Everything I try results in a transfer rate of 1kRF/t.

Note that I tried this with a RF/t calculator using the ID delayer, so perhaps DE calculates this in a different way.

The low transfer rates will be taken care of in #377.

[2017-12-10 13:12] #376 closed, assigned to nobody

[2017-12-10 18:38] josephcsible opened #446 "Items behave weirdly when being made into a list"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
When making a list of items in the logic programmer, the items you add behave weirdly, jump all around, appear, and disappear, seemingly at random.

![ezgif com-optimize 3](https://user-images.githubusercontent.com/16061266/33808143-5c61f8aa-ddaf-11e7-99a1-2315a4ed81ba.gif)

(Changing from

[2017-12-10 18:40] rubensworks commented on #446
May be caused by 39cdb353e67b7f1a05898e1f5233f4af4f2922cc

[2017-12-11 19:04] rubensworks commented on #421
Will be fixed in the next version. If this is not the case, please let me know.

[2017-12-11 19:12] unstablecraft commented on #421
will do

[2017-12-11 19:50] #421 closed, assigned to nobody

[2017-12-11 19:50] #369 closed, assigned to nobody

[2017-12-11 19:50] #404 closed, assigned to nobody

[2017-12-13 18:11] #446 closed, assigned to nobody

[2017-12-13 19:45] rubensworks commented on #437
Ah, this is 1.10.

I'm only doing major bugfixes for 1.10, as 1.12 is the main target now.
As this isn't crashing anything or is game breaking, I won't be fixing this.

[2017-12-13 19:45] #437 closed, assigned to nobody

[2017-12-13 20:00] #441 closed, assigned to nobody

[2017-12-13 20:05] #435 closed, assigned to nobody

[2017-12-14 19:52] rubensworks commented on #385
@moonheart08 @Morelyn Any information you can given me? Closing this one otherwise.

[2017-12-14 19:53] #393 closed, assigned to nobody

[2017-12-14 19:57] moonheart08 commented on #385
I'll attempt to reproduce it when i get home. It's happened to me on all servers.

[2017-12-16 10:48] rubensworks commented on #356
This new information doesn't help me reproducing this unfortunately. It works just fine for in singleplayer and multiplayer. I suggest to report this to the modpack developer, as there must be another mod in the pack that somehow messes with how redstone updates are propagated.

[2017-12-16 11:23] rubensworks commented on #425
I'm not able to reproduce this in both single- and multiplayer.
Tried various things with chunk (un)loading, server restarting and placing variable stores in different chunks, and everything keeps working as intended.

I'm going to need more information to reproduce this, such as:
* Can you reproduce this in singleplayer (non-spawn chunks)?
* Can you reproduce this without any other mods installed

[2017-12-16 15:04] rubensworks opened #448 "Allow variables to referenced from non-variable stores"
https://github.com/CyclopsMC/IntegratedDynamics/commit/7bb04f5200dfddbe6b5041361cf5f6a9a7518b36 changes some things related to variable references in networks, which may make it possible for non-variable stores to act as variable store.

This might make it possible to for example place a variable in a display panel or writer, and allow other variables to operate on this variable without it having

[2017-12-16 15:05] #374 closed, assigned to nobody

[2017-12-16 15:05] #387 closed, assigned to nobody

[2017-12-16 15:05] #389 closed, assigned to nobody

[2017-12-16 15:55] #386 closed, assigned to nobody

[2017-12-16 16:22] #405 closed, assigned to nobody

[2017-12-16 21:04] thejims opened #450 "Crash when Integrated Dynamics is performing comparator operations on a transfer node"
#### Issue type:
:bug:

#### Short description:
Crash when Integrated Dynamics is performing comparator operations on a transfer node

#### Expected behaviour:
Return comparator level of the transfer node, vanilla comparators return 0 regardless of items in the node.

#### Actual behaviour:
When attempting to read 'comparator' levels of a transfer node using Integrated Dynamics Redstone Reader, ga

[2017-12-16 21:05] thejims commented on #450
ExtraUtils2 bug/issue raised: https://github.com/rwtema/extrautilities/issues/1802

[2017-12-16 22:21] josephcsible commented on #450
Looks like ExU's fault, as I explained there, but it will be easy to work around this if they refuse to fix it.

[2017-12-17 07:43] rubensworks commented on #450
There is a `Block#hasComparatorInputOverride`, which we apparently don't check, while we should. This should resolve this issue.

[2017-12-17 07:46] #450 closed, assigned to nobody

[2017-12-17 14:53] #214 closed, assigned to nobody

[2017-12-17 15:27] rubensworks commented on #175
Implementation of the _Mechanical Squeezer_ is finished, and will be included in ID 0.10.0!

[2017-12-17 15:27] #175 closed, assigned to rubensworks

[2017-12-17 19:03] josephcsible commented on #448
Duplicate of #348

[2017-12-17 19:03] #448 closed, assigned to nobody

[2017-12-17 19:05] rubensworks commented on #448
I thought I remembered there was an issue like this open already, couldn't find it...

[2017-12-17 19:05] rubensworks commented on #348
For reference: https://github.com/CyclopsMC/IntegratedDynamics/commit/7bb04f5200dfddbe6b5041361cf5f6a9a7518b36 changes some things related to variable references in networks, which may make it possible for non-variable stores to act as variable store.

[2017-12-17 22:08] fiws commented on #385
Same Problem. I'm playing single player (custom modpack). I got nothing but the advancement in the console:
[code]

[2017-12-17 22:42] josephcsible opened #452 "Document new part settings"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request

We should add documentation to the in-game manual describing what the channel and expose capabilities settings do.

[2017-12-17 22:42] josephcsible commented on #452
I'll write this once #451 merges.

[2017-12-17 22:50] josephcsible opened #453 "Hovering over number field buttons doesn't work right"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
The mouse location that makes number field buttons glow purple when you hover isn't where the number field buttons actually are:

![snapshot62](https://user-images.githubusercontent.com/16061266/34084671-90025f8a-e352-11e7-99fb-9b22d95f2876.png)

![snapshot63](https://user-images.githubuse

[2017-12-18 02:05] rakslice commented on #374
Tested fixed in 1.12.2-0.9.9. Cheers.

[2017-12-18 09:27] rubensworks commented on #385
@fiws Would you be willing to try this in a clean environment (just ID and dependencies installed)? If that works, could you try adding the mods from your custom pack until you find one that breaks the advancement syncing?

[2017-12-18 09:48] rubensworks commented on #453
Same problem as 82896a5f33ee57e72dfef66922657d51e877237b, easy fix.

[2017-12-18 09:51] #453 closed, assigned to nobody

[2017-12-18 10:43] rubensworks opened #454 "Support BuildCraft MJ reading"
We should add aspects in ID-compat to allow [MJ capability](https://github.com/BuildCraft/BuildCraftAPI/tree/8.0.x/api/buildcraft/api/mj) reading.

[2017-12-18 16:01] rubensworks commented on #452
The new target side setting (52227dab6278e2775878e0e69190062cad9515bd) should also be mentioned.

[2017-12-18 19:56] fiws commented on #385
@rubensworks Thanks for the support.

It seems to be mod related as you expected. Only ID did work fine.
Testing is quite cumbersome, so I only tested a few more combinations. I could not reproduce it so far.

[2017-12-18 19:57] rubensworks commented on #385
@fiws [binary search](https://en.wikipedia.org/wiki/Binary_search_algorithm) may help you out with finding the mod that breaks it.

[2017-12-18 20:10] fiws commented on #385
@rubensworks I actually also thought about that :grin: but its binary search with dependencies :\

Oh, I also noticed that Advancements are not linked to the world (but achievements are). So all Advancements that I already made are still there when I generate a new world. Is that how it should work?

[2017-12-19 03:25] josephcsible opened #455 "Part settings reset to default values when the window is resized"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
When you resize the Minecraft window (or go into or out of full screen) with the part settings GUI open, all of its settings reset to their default values.

____
#### Versions:

_Exact versions of the following mods, not just *latest*._

Development version 97d872f with all of its dependen

[2017-12-19 03:25] josephcsible commented on #455
If #451 looks good to merge, please merge it before fixing this, to avoid another merge conflict.

[2017-12-19 08:13] Nightcaste commented on #385
Playing Direwolf20 pack for 1.12.2, version 1.4.0
Single player world, having the exact same problem as described in the original post.

Advancements menu shows that I have unlocked stuff, but the book doesn't.  I even have the stuff listed in chat, but the book just doesn't notice.

[2017-12-19 08:17] rubensworks commented on #385
@fiws Should not be able to happen, but probably the same cause as this issue here.

[2017-12-19 13:42] #321 closed, assigned to nobody

[2017-12-19 13:43] rubensworks commented on #301
Implemented in #447.

[2017-12-19 13:43] #301 closed, assigned to nobody

[2017-12-19 13:44] #191 closed, assigned to nobody

[2017-12-19 13:45] rubensworks commented on #182
Considering this resolved.

[2017-12-19 13:45] #182 closed, assigned to nobody

[2017-12-19 13:47] #403 closed, assigned to nobody

[2017-12-19 13:47] #418 closed, assigned to nobody

[2017-12-19 13:47] #377 closed, assigned to nobody

[2017-12-19 13:55] rubensworks commented on #307
Won't implement.

[2017-12-19 13:55] #307 closed, assigned to nobody

[2017-12-19 13:57] rubensworks commented on #151
I'm working on an ID addon that will make this possible (not for the near future though...)

[2017-12-19 13:57] #151 closed, assigned to nobody

[2017-12-20 21:59] josephcsible opened #457 "Mechanical drying basin loses items"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
The mechanical drying basin can get in a state where it loses a certain item instead of drying it. Note that this happens most but not all of the time; I'm not sure what I'm missing to cause it reliably, and some of my steps probably aren't actually necessary. Also, when it does happen, re

[2017-12-21 07:42] #452 closed, assigned to josephcsible

[2017-12-21 11:50] fiws commented on #385
Suddenly I can not reproduce this anymore with my modpack with newly generated worlds. But it's still happening using my old world.

[2017-12-22 03:34] yujukitten opened #461 "Question regarding Server skipping placing parts from a deleted network portion"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug  ?
- :snail: Performance issue  ?
- :question: Question

Question :  How do I get rid of this error and or prevent it from happening again when moving logic cables etc?

____
#### Short description:
I deleted part of a network on my server via the dismantling tool but now I am receiving errors in the server logs

####

[2017-12-22 03:58] josephcsible commented on #461
What's the "dismantling tool"?

[2017-12-22 06:47] yujukitten commented on #461
the wrench that comes with maybe integrated tunnels ? shift_right click to easily remove the logic cables, importers, exporters and interfaces. May even work with batteries, variable stores etc but I have never tried ?

[2017-12-22 10:25] rubensworks commented on #461
The lag is unrelated. On the contrary, you should even experience less lag because of this :-)
Also, this is not an error, just a warning.

The wrench should work fine for removing cables. Perhaps something broke recently....

@yujukitten Could you try opening a clean world, placing some cables (with parts on them), removing them using the wrench, and seeing if you get the same warning again after

[2017-12-22 10:33] rubensworks opened #462 "Rename 'frequency' to 'tickrate'"
The label 'frequency' in the part settings seem to confuse people, thinking that it is related to channels. Renaming this label to something like 'tick rate' might solve this.

Related to this, perhaps we should add tooltips to these settings.

[2017-12-22 16:47] yujukitten commented on #461
I can certainly try that on a local single player easier is this captured to a log in single player by chance ?

Thank you for clarifying its just a warning *^^* so I can stop trying to directly "repair" it

Ok I recreated The Auto Terracotta setup I had on a brand new Local Single player Garden of glass world.
Everything was the same except originally sand was being fed from a storage drawer, tha

[2017-12-23 11:42] ouroborus opened #463 "Extra-Dimensional Reader "Tick time""
#### Issue type:
- :bug: Bug?
- :question: Question

____
#### Description:
What does the "Tick time" value in the Extra-Dimensional Reader actually show? Its description says "The average tick time in milliseconds for the server" which, to me, seems like it should be around 50. However, the number shown is ~18,000,000 ± 2,000,000.

![image](https://user-images.githubusercontent.com/392047/3431930

[2017-12-23 11:44] rubensworks commented on #463
The description is wrong indeed, the unit is nanoseconds. This has actually been just fixed in the latest version.

[2017-12-23 11:44] #463 closed, assigned to nobody

[2017-12-23 11:58] ouroborus commented on #463
@rubensworks One tick would be 50,000,000ns, about 2.5 times what I'm getting. What is it actually measuring? Is it the time taken to actually process a tick that's being measured (as opposed to the usual measurement of time between the beginning of one tick and the next)?

[2017-12-23 12:00] rubensworks commented on #463
Yes, it's the actual time to process a single tick. So in your case, you have a lot of server processing power left until you reach that limit of 50ms per tick, after which you would encounter server lag.

[2017-12-25 18:13] prozacgod opened #464 "Block reader breaks OpenComputers"
#### Issue type:

- :bug: Bug
____
#### Short description:
Stick a reader on an OpenComputers chassis block, it stalls the computer/prevents it from working

#### Expected behaviour:
Would get back data on the computers block info nbt etc..  And NOT block the behavior of the target block.

#### Actual behaviour:
Strangely stalls out the actively running lua instance.  The computer will not power o

[2017-12-25 18:52] rubensworks commented on #464
Can you report this to the OC issue tracker as well? It sounds like they stop some processes when the tile is written to NBT (which shouldn't happen).

[2017-12-25 22:18] jonqrandom opened #465 "Allow Inventory Writer to write to "ghost" inventory slots in e.g. filters, autocrafters etc."
#### Issue type:
 :heavy_plus_sign: Feature request

i don't know how easy/hard it is to detect inventory slots that hold only the _value_ of an item, rather than holding an "actual" item, but if that's relatively easy, please would you consider detecting and allowing writes to those types of slots?

[2017-12-26 09:36] rubensworks commented on #465
Sounds like an interesting use case.
This is however very difficult to support, as all mods expose only real slots via the item handler interface from Forge.

This would require introducing something like a _fake item handler_ (probably in common capabilities), and adding support for all mods that have fake slots.

[2017-12-26 14:05] rubensworks opened #466 "Refactor IAspectValuePropagator"
Currently, we have to use a lot of `Triple` and `Pair`-like classes to pass multiple input/output types.

We can improve this by allowing some kind of context to be added to these propagators, so that certain things that are always present can be passed more easily, such as aspect properties, part states and targets.

Related to #434

[2017-12-26 14:20] jonqrandom commented on #465
yikes, i shoulda known i was asking for the moon on a string, sorry! a thought (perhaps _way_ off-base) about support in other mods - maybe successful PRs to (f'rinstance) immersive engineering & industrial foregoing would get the ball rolling and help other devs see the light and add support for your fake item handler API?

[2017-12-26 21:37] Adaaaaam opened #467 "Inventory Count Error"
Can't display a variable that consists of a Inventory Count + Integer
E.g. Inventory of a chest with 10 blocks in + 10, comes up with an error

[2017-12-26 21:40] josephcsible commented on #467
Please use [the issue template](https://raw.githubusercontent.com/CyclopsMC/IntegratedDynamics/master-1.12/.github/ISSUE_TEMPLATE.md). There's not enough information there to begin trying to fix this.

[2017-12-26 23:17] Adaaaaam commented on #467
I'm sorry but that is all the information I have other that the Error read: This current variable can not be used in this aspect. This probably isn't enough to bug fix but i was told to come here with this bug :/

[2017-12-26 23:18] josephcsible commented on #467
Can you explain the exact sequence of steps you followed? Also, what versions are you using?

[2017-12-27 11:34] Adaaaaam commented on #467
#### Issue type:

- :bug: Bug

____
#### Short description:
Inventory count and a Integer do not add up at all it just comes with an error.

#### Expected behaviour:
Inventory count = 5
Integer = 5
Inventory count + Integer = 10
#### Actual behaviour:
Error: This current variable can not be used in this aspect

#### Steps to reproduce the problem:

1. Inventory reader on a chest
2. Get variable fo

[2017-12-27 13:47] rubensworks opened #468 "Repeated network crashes are not caught"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:

Reports have come in (CyclopsMC/IntegratedTunnels#99, CyclopsMC/IntegratedTunnels#79) of networks crashing repeatedly on startup.

#### Steps to reproduce the problem:

Can't reproduce myself.

This should not happen, as there is a built-in safety that disables networks (after a server re

[2017-12-27 16:35] josephcsible commented on #467
It works fine for me when I try it. Can you upload a video of exactly what you're doing?

[2017-12-29 15:12] #462 closed, assigned to nobody

[2017-12-30 10:46] rubensworks commented on #350
@josephcsible I am working on the HTTP interface part, so I will be implementing (at least part of) this.

In conclusion, the plan is to create a single `IValueInterface` capability.
This will have the hasVariable and getVariable methods.

### Reading into the network

An aspect inside the network reader that can read values from the target using the `IValueInterface` capability.

### Writing from

[2017-12-30 12:45] rubensworks commented on #350
Implemented in c9b0d13ae36f795b47a8ed9639441d8d66dc3120

[2017-12-30 12:45] #350 closed, assigned to josephcsible

[2017-12-30 18:36] phlaxyr commented on #243
I have the same problem, however I waited waaay longer than 3 seconds. Even saving/quitting the world didn't fix it, I had to relaunch a new instance of Minecraft.

[2017-12-31 10:20] rubensworks commented on #243
@phlaxyr Duplicate of #385. If you have any additional information you can give me (like in #261), please report it there.

[2018-01-01 09:29] LemmaEOF opened #471 "Squeezer inventory model distorted"
#### Issue type: 🐛

____
#### Short description:
Inventory model for squeezer is distorted.

#### Expected behaviour:
Squeezer in-inventory model has the standard size, shape, and placement of a typical block.

#### Actual behaviour:
![](https://cdn.discordapp.com/attachments/290916642232336394/397319324492365824/unknown.png)

#### Steps to reproduce the problem:
N/A

#### Versions:

- This mod: 0

[2018-01-01 09:34] LemmaEOF commented on #471
Hm. I'm finding the exact same distortion with the tank from OpenBlocks and the seared tank from Tinkers, so it may be something with my modpack? *very* weird that it's only happening with these three blocks, and that they've all got tank-related stuff.

[2018-01-01 10:17] LemmaEOF commented on #471
Ok, looking at source code, I have no idea what's going on, because none of the three affected blocks have any display code in their model JSON. It's probably something my side.

[2018-01-01 10:17] #471 closed, assigned to nobody

[2018-01-01 11:04] rubensworks commented on #471
I've noticed this as well in the DW20 pack. There must be some (core?) mod in the pack that modifies these models for some reason. Nothing I can do from my end unfortunately...

[2018-01-02 20:41] Suterusu1337 commented on #356
I have a world where this is both working and not with the same block update issue.  I can provide a dropbox of the world if you would like to review.

I am still working to reproduce the problem.  It affects both vanilla redstone and modded blocks.
Versions:

- **This mod: 1.12.2-0.10.0**
- CyclopsCore: 1.12.2-0.11.0
- Minecraft: 1.12.2
- Forge: 14.23.1.2555

[2018-01-02 21:49] BloodWorkXGaming opened #472 "[Minor Bug] Crash when removing blocks with fill/setblock"
#### Issue type: Minor Bug when changing the world with non standard methods
- :bug: Bug
____
#### Short description:
When having ID stuff in a area and then removing it with a /fill command causes the game to crash a few seconds afterwards.
____
#### Versions:
- This mod: 0.10.0
- CyclopsCore: 0.11.0
- Minecraft: 1.12

#### Log file:
https://gist.github.com/BloodWorkXGaming/c59d6d38db418023413572

[2018-01-02 22:10] josephcsible commented on #472
Possibly a reoccurrence of #240

[2018-01-03 07:26] rubensworks commented on #356
@Suterusu1337 Is it a (minimal) world with just ID and dependencies installed? If so, yes please :-)

[2018-01-03 10:53] rubensworks opened #473 "Improve registry entries"
Improve registry entry names of things like aspects and parts, so that ResourceLocations are used instead of unlocalized names.

[2018-01-03 22:59] Suterusu1337 commented on #356
@rubensworks modded, I can upload a full playable zip, or a video of the issue

[2018-01-04 08:28] rubensworks commented on #356
@Suterusu1337 A video would be nice. Could you then also send the server and client logs during the video?

[2018-01-04 14:43] Drakkett opened #475 "Dynamic light panel changes value of adjacent panels to true"
- :bug: Bug

#### Short description:
When one dynamic light panel changes to true or positive integer, all adjacent dynamic light panels change.

#### Expected behaviour:
Each panel will display according to the variable it is linked to and not respond to adjacent panel.

#### Actual behaviour:
I created a "Status board" that is using adjacent dyanamic light panels to indicate status of variables

[2018-01-04 14:50] rubensworks commented on #475
Oh, that's strange.
So the display panels have to be adjacent for the issue to occur? Or can they be anywhere in the (same) network?

[2018-01-04 17:12] Drakkett commented on #475
No, I just tested and it does the same thing if they are not adjacent.    In the screenshot below, all of them were set to false and I changed just the one with cursor on it to true.  All of them lit up.

https://imgur.com/a/cJe1F

[2018-01-04 18:25] rubensworks commented on #475
Alright, thanks for checking. Will look into it soon!

[2018-01-04 22:03] ZeekDaGeek opened #476 "NullpointException when using Integrated Dynamics on Funky Locomotion"
#### Issue type:

- :bug: Bug

____
#### Short description:
Integrated Dynamics doesn't seem to fail gracefully when it's not able to find an element position. Instead it will crash the server.

#### Expected behaviour:
Be able to move my frame machine without it crashing.

#### Actual behaviour:
It crashed.

#### Steps to reproduce the problem:

1. Put a quickly updating ID Network on a Funky Loc

[2018-01-04 23:01] DasBrain opened #477 "Server Crash while finishing the challenge "Sponge Step Sound"."
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug
____
#### Short description:

Server crashes when trying to get the step sound of a wet sponge.

#### Expected behaviour:

Server does not crash?

#### Actual behaviour:

Server crashes:

#### Steps to reproduce the problem:

1. Get the step sound of a wet sponge block while on a server.

____
#### Versions:

- This mo

[2018-01-04 23:02] DasBrain commented on #477
See also https://github.com/CyclopsMC/IntegratedDynamics/issues/285

[2018-01-04 23:06] Suterusu1337 commented on #356
Working https://youtu.be/Ir4fDlwfeSE

Not working https://youtu.be/20c04D2-atA

Not working 2 https://youtu.be/0VqtNLn1FAw

I cannot upload fml-client-latest.log to pastebin due to file size (2,412KB), what means should I deliver it?

latest.log
https://pastebin.com/vT4iU0Zr

<blockquote><img src="https://i.ytimg.com/vi/Ir4fDlwfeSE/maxresdefault.jpg" width="48" align="right"><div><img src="/yts/im

[2018-01-04 23:06] Suterusu1337 commented on #356
I can set more of the issue not working that could be more clear if needed.

[2018-01-04 23:09] josephcsible commented on #476
Duplicate of #443

[2018-01-04 23:09] #476 closed, assigned to nobody

[2018-01-04 23:15] josephcsible commented on #477
Duplicate of #392. The latest release contains the fix already.

[2018-01-04 23:15] #477 closed, assigned to nobody

[2018-01-04 23:16] DasBrain commented on #477
Sorry, I did search for sponge.

[2018-01-05 01:20] DasBrain opened #478 "Add operators to deal with enchantments."
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request

Currently, we only have an enchantable and an enchanted operator.

I'd like to propose a new Type (Enchantment) with some operators:

* Enchantment :: String -> Integer -> Enchantment
  the constructor
* enchantments :: Item -> [Enchantment]
  returns a list of all Enchantments
* enchantment.na

[2018-01-05 09:10] rubensworks commented on #478
Good support for enchantments is indeed something I want to implement at some point. Doing this by creating a new value type for enchantments is indeed a good idea.

[2018-01-05 09:23] rubensworks commented on #356
@Suterusu1337 Thanks for the videos.

It seems that the issue always occurs on AA oil generators. Is this always the case? Or have you encountered situations where the oil generators do properly respond to redstone changes?

~~It's possible that these machines (and other machines) require a block update before re-reading the redstone values, while this should not be required (a simple neighbour ch

[2018-01-05 12:05] rubensworks commented on #356
@Suterusu1337 Would you be willing to help out by trying out the following dev build?
https://www.dropbox.com/s/zwf04tygfifu9er/IntegratedDynamics-1.12.2-0.10.0-DEV.jar?dl=0

It will print some debug information to the logs regarding redstone updates.
If possible, could you make your system trigger some redstone changes, and send me the logs?
That should help me pinpoint the exact point of failure

[2018-01-05 14:16] DasBrain commented on #478
Maybe even add a new Aspect to the Extra Dimensional Rader: Available Enchantments?

[2018-01-05 14:58] Suterusu1337 commented on #356
@rubensworks which log file(s) would you like?

[2018-01-05 14:59] rubensworks commented on #356
@Suterusu1337 latest.log should be fine. You should see a lot of debug output in there.

[2018-01-05 23:51] Suterusu1337 commented on #356
I cannot load this into an existing world, perhaps the CyclopsCore lib needs to be your DEV version as well?

https://pastebin.com/VmesZN2y

<blockquote><img src="https://pastebin.com/i/facebook.png" width="48" align="right"><div>Pastebin</div><div><strong><a href="https://pastebin.com/VmesZN2y">Crash -1 - Pastebin.com</a></strong></div></blockquote>

[2018-01-06 05:43] rubensworks commented on #356
@Suterusu1337 Ah, sorry, you'll need a new version of IT as well: https://oss.jfrog.org/artifactory/simple/libs-release/org/cyclops/integratedtunnels/IntegratedTunnels/1.12.2-1.4.0-229/IntegratedTunnels-1.12.2-1.4.0-229.jar

Make sure to backup your world though!

[2018-01-06 05:54] rubensworks opened #479 "Cable rendering sometimes too dark"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug
____

I've seen some cases where cables are sometimes rendered too dark with later Forge versions, both in item and block form.

[2018-01-06 09:20] Suterusu1337 commented on #356
Using the DEV files, there are no DEBUG outputs in any log.  I am running this in SinglePlayer mode if that makes a difference.  Is there a config option I need to enable?

I replicated both working and non-working conditions, neither produce any debug information.

[2018-01-06 09:34] Suterusu1337 commented on #356
@rubensworks
Here is the 210MB log file as a 4MB zip:
[log.zip](https://github.com/CyclopsMC/IntegratedDynamics/files/1608637/log.zip)

I think these are the correct positions:

**Not working setup:**
Oil Generator	        x-215	z266	y86
Redstone Writer	x-216	z266	y86

**Working setup:**
Redstone Writer	x-204	z260	y87
Wire		                x-205	x260	y87

Interestingly, with the DEV version, I hav

[2018-01-07 09:21] rubensworks commented on #356
@Suterusu1337 Thanks for the logs!

Due to there being several writers that change values frequently, it's impossible to track down the not-working-part when it changes values.
I just changed some of the debug code to make this easier to identify.

Could you send me the logs again with this build?: https://www.dropbox.com/s/kosamq1nq47p2sy/IntegratedDynamics-1.12.2-0.10.0-DEV.jar?dl=0

<blockquote

[2018-01-07 19:02] JelleSteinmetz opened #480 "Server crash when importing from non existent inventory slot"
#### Issue type: Game/Server crash

- :bug: Bug

____
#### Short description:
I placed an importer onto a [farmer](https://ftb.gamepedia.com/Farmer_(Actually_Additions)), and tried to import items from slot 12. Since Integrated dynamics starts counting at 0, this slot was out of bounds and the server crashed.

#### Expected behaviour:
The network would ignore the slot or give an error message

###

[2018-01-07 19:02] rubensworks commented on #480
Please try with the latest version of ID, this should have been fixed.

[2018-01-08 10:12] #467 closed, assigned to nobody

[2018-01-08 10:13] rubensworks commented on #425
@X1machinemaker1X Any more information you can give me? Closing this issue otherwise.

[2018-01-08 10:18] rubensworks commented on #461
Closing this, probably caused by parts of the network incorrectly being removed.

[2018-01-08 10:18] #461 closed, assigned to nobody

[2018-01-08 12:03] #479 closed, assigned to nobody

[2018-01-08 16:20] ouroborus opened #481 "Add blacklist option to single item filters?"
#### Issue type:

- :heavy_plus_sign: Feature request

When using a list of items as a filter in a connector, there's an option in the connector to treat this as a blacklist. Could we get that same option for the single item filters?

[2018-01-08 17:18] rubensworks commented on #481
Sure, not sure why I haven't added this before.

[2018-01-08 17:33] DasBrain commented on #362
Just got always kicked from my server when I logged in because I was displaying the Entity NBT of myself:
https://pastebin.com/tXN7HLA7

Solved that problem by teleporting myself away from the console (logging in and spamming /tp 0 63 0).

<blockquote><img src="https://pastebin.com/i/facebook.png" width="48" align="right"><div>Pastebin</div><div><strong><a href="https://pastebin.com/tXN7HLA7">[17:

[2018-01-08 18:05] rubensworks commented on #362
@DasBrain Thanks, I was trying to get a log of that for a while now :-)

[2018-01-09 02:23] Suterusu1337 commented on #356
@rubensworks
[log2.zip](https://github.com/CyclopsMC/IntegratedDynamics/files/1613675/log2.zip)

[2018-01-09 02:37] KAfable opened #482 "[1.12.2] Crash after disabling Mechanical Drying Basin"
#### Issue type: Crash

- :bug: Bug

____
#### Short description:

https://hastebin.com/umilijonan.sql

#### Steps to reproduce the problem:

1. Disable Mechanical Drying Basin in the configs
`    B:mechanical_drying_basin=false
2. Start the game.
____
#### Versions:
- This mod: 0.10.0
- CyclopsCore:
- Minecraft: 1.12.2
- Forge: 2584

#### Log file:

https://hastebin.com/umilijonan.sql

[2018-01-09 06:54] ghost opened #483 "Redstone writer not writing properly"
#### Short description:
When the variable inside a redstone writer changes, the redstone wire (or any redstone detector) doesn't update the signal, I have to either break it or break a block close to it to force it to update

#### Expected behaviour:
It should update the signal without having to break something.

#### Actual behaviour:
Is not updating the signal

#### Steps to reproduce the proble

[2018-01-09 07:22] ghost commented on #483
So after testing with just ID, IT, Cyclops core, common capabilites and JEI I can confirm it must be some other mod causing it since it works just fine with those 5 mods.

[2018-01-09 10:55] rubensworks commented on #483
Thanks for reporting, but this is actually a duplicate of #356 (was closed apparently, just reopened it).
Feel free to follow that issue and let me know if there's anything else you can tell about it.

[2018-01-09 10:55] #483 closed, assigned to nobody

[2018-01-09 17:36] rubensworks commented on #356
@Suterusu1337 Thanks!
According to my debug output, all block updates are properly being called, so the problem must lie somewhere else.

I just made a small change that may be related to it, could you try if this build (no debug output anymore) fixes the problem for you?: https://www.dropbox.com/s/2gs53cjsp22y7q4/IntegratedDynamics-1.12.2-0.10.0-DEV.jar?dl=0

<blockquote><img src="https://cfl.dro

[2018-01-09 17:54] #362 closed, assigned to nobody

[2018-01-09 19:18] #481 closed, assigned to nobody

[2018-01-10 00:25] ghost commented on #356
It worked for a minute with the dev version, but then the bug happened again and also I couldn't open vanilla chests anymore

~~Edit: Seems like the chests not opening thing was because of foamfix according to my latest log, maybe that's the mod causing all this?*~~

Apparently the chest bug was because I was using a bugged version of forge, anyway the dev version didn't fix it for me.

[2018-01-10 02:09] tornewuff opened #484 "Can't use apply result as first parameter to choice operator"
#### Issue type:

- :bug: Bug

____
#### Short description:

The choice operator won't accept an "apply" variable as its first parameter, even if the result of that apply is a boolean.

#### Expected behaviour:

Any variable which will actually evaluate to a boolean should be valid in the first parameter of the choice operator.

#### Actual behaviour:

Error "The operator choice received an input

[2018-01-10 02:14] tornewuff opened #485 "Can't find a clean way to create a dict/mapping"
#### Issue type:

- :heavy_plus_sign: Feature request

____

It'd be really useful to be able to map one constant value to another, for example to be able to map "oak wood" to "oak wood planks" for controlling crafting. The only way I can think of to do this with the current mod facilities is a deeply nested chain of choices, which is really hard to modify later (and also didn't work on my first a

[2018-01-10 03:00] Suterusu1337 commented on #356
The DEV version is working for me on the setup with the AE Oil Gen.

[2018-01-10 07:06] ouroborus commented on #180
They don't take on lighting/shadowing properly either.

Here's a screenshot of facades of vanilla bricks:
![2018-01-09_23 04 07](https://user-images.githubusercontent.com/392047/34759727-ba03c106-f591-11e7-96b1-6739897191ac.png)

[2018-01-10 07:13] rubensworks commented on #356
@Suterusu1337 Thanks for testing!

@cowardlyDog Any details you can give me about your setup? Is it not working in some cases? Or all cases? What happens if you just power redstone dust?

[2018-01-10 09:27] rubensworks commented on #485
Good suggestion. Will require some work, but definitely possible.

[2018-01-11 00:30] mrlamb opened #486 "Setting to disable network ticking and value sending/displaying"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request
- :snail: Performance issue
- :question: Question

So I done messed up. I was attempting to set up a type of tunnels/logic system to automatically analyze forestry trees and I overloaded a display panel.

Step 1: put way too many forestry saplings with all their juicy nbt data into an actually a

[2018-01-11 04:51] mrlamb opened #487 "Working with operators earned me a crash (Crash log included)"
#### Issue type:

- :bug: Bug
____
#### Short description:
While playing around with custom operators, piping and a slew of things I'm barely understanding I triggered a crash. Crashes immediately on world load as well.

#### Expected behaviour:
Honestly, I kinda expected this. I'm terrible at this mod and it seems like all I can do is break things lately.

#### Actual behaviour:
Single player wor

[2018-01-11 07:25] rubensworks commented on #486
Something like that might indeed be useful for debugging things. (Safe-mode)

In the meantime, you might be able to recover your world with the latest dev build (link in readme), which should solve the packet overflows.

[2018-01-11 07:27] rubensworks commented on #487
Note to self: also check how this is related to #468

[2018-01-11 07:31] mrlamb commented on #486
Excellent! I went ahead and did the MCEdit thing for the server, but I'll be pushing for us to update forthwith!

[2018-01-11 16:33] #356 closed, assigned to nobody

[2018-01-11 16:34] rubensworks commented on #356
@cowardlyDog Feel free to comment if there's anything else you could tell me. If not, I'm considering this (finally) fixed.

[2018-01-11 17:08] #455 closed, assigned to nobody

[2018-01-11 17:08] #487 closed, assigned to nobody

[2018-01-11 17:25] rubensworks commented on #482
Can't reproduce this in a clean environment.

Did you by any chance create custom mech drying basin recipes? If so, you have to make sure that `<condition type="config">mechanical_drying_basin</condition>` is present in the recipe, otherwise this crash can occur if the mech drying basin has been disabled, this is intentional.

[2018-01-11 18:47] #486 closed, assigned to nobody

[2018-01-11 21:47] TheLimePixel opened #488 "[Suggestion] Menril Wood Slab"

[2018-01-12 00:28] josephcsible commented on #488
#272

[2018-01-12 00:28] #488 closed, assigned to nobody

[2018-01-12 21:00] ShadowDrakken commented on #356
Confirmed I'm having this same issue with 0.10 in the FTB Horizons 3 pack. Simple setup: writer, single cable, reader. Writer pointed at cobblestone with strong signal (or Cyclic fan with any signal, since it's the block I'm attempting to affect), lever on reader, and a variable card set to the reader and dropped into writer.

Once the signal is turned on, there's no way to turn it back off. The w

[2018-01-12 21:07] ShadowDrakken commented on #356
Ok, I found out what's going on. Even though it's updating the redstone signal, it's not actually sending a block update for whatever reason. If I update the block next to either the strong powered block, or next to something weakly powered by the strong powered block then the signal updates as well. It's behaving like an old school BUD.

[2018-01-12 21:12] rubensworks commented on #356
@ShadowDrakken You can try the latest dev build, that should have fixed it.

[2018-01-12 21:15] ShadowDrakken commented on #356
I'll have to wait till it's pushed to Twitch, it impacts everyone on my server.

Also, above someone said it didn't fix it for them.

[2018-01-13 00:48] MissPotato commented on #305
This bug is happening again.

[2018-01-13 00:54] MissPotato opened #489 "Mechanical machines don't work anymore after chunk reload"
#### Issue type: :bug:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
Batteries do not yield power on chunk reload.

#### Expected behaviour:
On chunk reload batteries should power machines.

#### Actual behaviour:
Doesn't.

#### Steps to reproduce the problem:

1. Place battery with power next to the machine in multiplayer. (Haven't tested singleplaye

[2018-01-13 00:56] josephcsible commented on #305
I can't reproduce it on 0.10.0. Can you post your versions and mod list?

[2018-01-13 01:35] MissPotato commented on #305
https://pastebin.com/xNydf5AL

This includes the mod list and versions, but:
This mod: 0.10.0
CyclopsCore: 0.11.0
Minecraft: 1.12.2
Forge: 2587

<blockquote><img src="https://pastebin.com/i/facebook.png" width="48" align="right"><div>Pastebin</div><div><strong><a href="https://pastebin.com/xNydf5AL">AppleCore-mc1.12.2-3.1.0.jar  Aroma1997Core-1.12.2-2.0.0.0.b135.jar  Aroma1997s- - Pastebin.com</a>

[2018-01-13 01:52] josephcsible commented on #305
Are you playing single-player or on a server? Also, can you reproduce the problem with just ID and its dependencies installed?

[2018-01-13 09:47] rubensworks commented on #489
Can't reproduce. Are you sure you are powering the battery with a redstone signal?

[2018-01-13 10:01] rubensworks commented on #480
Assuming fixed.

[2018-01-13 10:01] #480 closed, assigned to nobody

[2018-01-13 12:36] #457 closed, assigned to nobody

[2018-01-13 12:36] #468 closed, assigned to nobody

[2018-01-13 12:36] #472 closed, assigned to nobody

[2018-01-13 12:36] #475 closed, assigned to nobody

[2018-01-13 12:36] #484 closed, assigned to nobody

[2018-01-13 19:43] uecasm commented on #422
FYI in 0.10.1 things are improved (if the lamps update at all, then they both update, not just one of them).  But the issue with the lamp at Y 57 remains -- it just doesn't get a block update at all.  (Or at least if it does, it happens when the writer isn't on yet.)

[2018-01-13 22:55] MissPotato commented on #305
I can not reproduce with just those two mods, and it happens in multiplayer.

[2018-01-13 22:57] MissPotato commented on #489
No, I'm not. If they require redstone power to provide power, then the bug is behaving incorrectly.

It seems that when the battery receives a block update in multiplayer they provide energy to machines regardless of redstone.

[2018-01-13 23:00] josephcsible commented on #305
That's quite a long mod list then. Can you try to narrow down which other mod makes it happen? Also, can you reproduce it at all in single player?

[2018-01-13 23:02] MissPotato commented on #305
I'll try single player, I'm currently streaming tho, so the search will have to wait. Sorry.

[2018-01-14 00:53] ConnorMiner opened #490 "Dandelions"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
In JEI,

#### Expected behaviour:

#### Actual behaviour:

#### Steps to reproduce the problem:

1. ...

____
#### Versions:

_Exact versions of the following mods, not just *latest*._

- This mod:
- CyclopsCore:
- Minecraft:
- Forge:

#### Log file:

_Don't paste contents here directly, b

[2018-01-14 00:54] #490 closed, assigned to nobody

[2018-01-14 01:03] ConnorMiner opened #491 "Dandelions Squeezable into Bone Meal"
#### Issue type:

- :bug: Bug

____
#### Short description:
In JEI, Dandelions are shown as giving Bone Meal in both squeezers, and when squeezing one, Bone Meal is given.

#### Expected behaviour:
Dandelions give Dandelion Yellow when squeezed in a Squeezer.

#### Actual behaviour:
Dandelions give Bone Meal when squeezed in a Squeezer.

#### Steps to reproduce the problem:

1. Check JEI uses for

[2018-01-14 01:11] josephcsible commented on #491
#492

[2018-01-14 02:54] DasBrain commented on #381
K = apply if true

Could help, maybe you need some casts...

[2018-01-14 02:59] josephcsible commented on #381
The second and third arguments to "if" have to be the same type, though. (Although this is something I've wanted to change.)

[2018-01-14 03:01] DasBrain commented on #381
Yeah, add some casts or "useless" calculations to get the desired type.

[2018-01-14 03:52] DasBrain opened #493 "Don't keep NBT when block is broken with a pickaxe"
#### Issue type:

- :heavy_plus_sign: Feature request

When a block is broken with a pickaxe, it should not keep it's id. This could help do dismantle networks and not fill up your inventory.

[2018-01-14 04:03] uecasm commented on #422
Given that the two working ones are facing the opposite Z direction from the one that doesn't work, I wonder if maybe it's something about the order that things are processed?  (eg. maybe in the working ones, it block updates the reader first and the writer second, so the writer sees the reader being true and it behaves -- while in the other case, the writer updates first and then the reader, and

[2018-01-14 07:43] #491 closed, assigned to nobody

[2018-01-14 08:06] rubensworks commented on #493
This actually used to be like this, but I intentionally made the behaviour consistent with wrenching.

I'll think about it, not sure if I want to change it again. Maybe I'll add a config option.

[2018-01-14 08:09] rubensworks commented on #422
@uecasm Can you share a screenshot of your setup?

[2018-01-14 09:25] uecasm commented on #422
![2018-01-14_22 11 34](https://user-images.githubusercontent.com/539951/34914466-1f4f656c-f978-11e7-8879-9a8426c29d50.png)

At the back is an elevator block with a reader and writer attached to it.  The reader on the back has Redstone High linked to the writer under the lamps.  The reader in the foreground (which normally has a pressure plate on it, which I've removed for this image) is linked to

[2018-01-14 09:42] uecasm commented on #422
Another weird behaviour that might be new is that not all sides seem to be equal for block updates.  If the lamps are on and should be off, then placing a block on any side successfully turns either lamp off.  But if the lamps are off and should be on, placing or breaking a block on the +X or +Z sides does nothing, while placing or breaking a block on the -X or -Z sides updates the lamp state.  (+

[2018-01-14 10:32] rubensworks commented on #422
It's really tricky to debug these things as I'm not able to reproduce them myself...

@uecasm Is it ok if I send you a custom ID build that prints some debug output? That should help me track down the issue. (Will only have time at the end of next week for that though)

[2018-01-14 11:27] uecasm commented on #422
Sure.

[2018-01-14 16:20] rubensworks commented on #489
That sounds very unlikely...

Can you share a screenshot of your setup. I think the machine you are providing energy may just be emitting a redstone signal itself at some point.

[2018-01-14 16:40] noelmage commented on #422
Updating with more information from the report started on the Discord channel. Bug report from replica of Direwolf20's Astral Sorcery Crystal Growth setup. Won't be able to update with confirmation from episode 60 world download (est. Mon/Tues) that it isn't just my build or updates that are causing weirdness. Confirmed 0.10.1 fixed the updating issue with Actually Aditions (r126) Auto-Placer on p

[2018-01-15 05:13] MissPotato commented on #489
https://giphy.com/gifs/3o751XMdP3lSoCTbxK

Here is a gif detailing everything. The only mods interacting in this setup are tinkers and IntergratedDynamics.

<blockquote><img src="https://media.giphy.com/media/3o751XMdP3lSoCTbxK/giphy.gif" width="48" align="right"><div><img src="https://giphy.com/static/img/favicon.png" height="14"> GIPHY</div><div><strong><a href="https://media.giphy.com/media/3o7

[2018-01-15 06:42] nhinds opened #494 "Displaying a large list of items from Refined storage disconnects the client"
#### Issue type:

- :bug: Bug

____
#### Short description:

Displaying a large list (such as all items in a large Refined Storage network) in an Integrated Dynamics Display disconnects the client and causes the server to log "Failed to save chunk"

#### Expected behaviour:

If a list is too large to safely display, an error is displayed instead

#### Actual behaviour:

If a list is too large to s

[2018-01-15 07:49] rubensworks commented on #489
Ah, ok, so those are ID machines that you are trying to power, that is an important fact to know.

They accept energy from the network, so that part already works as intended. The part that doesn't seem to work properly is that they should indeed keep taking network energy even after a chunk reload.

[2018-01-15 12:10] ouroborus opened #495 "Locator for omni-directional connectors?"
#### Issue type:

- :heavy_plus_sign: Feature request

Any chance we could get some way to locate omni-directional connectors belonging to a certain group?

(I have some of these and I've managed to lose track of where the other end is.)

[2018-01-15 14:12] rubensworks commented on #495
That's pretty difficult to do, unless ID would keep track of all the linked positions explicitly.

Alternatively, a connector could show all its _loaded_ link positions, this would be a bit more feasible.

Will think about it a bit.

[2018-01-15 14:17] ouroborus commented on #495
I'm thinking maybe interact with one of them somehow and get a list of of others in the same group. It seems like, in order for these to work at all, they have to have some way to reference each other and the local networks they're on.

[2018-01-15 17:33] MissPotato commented on #489
Oh sorry, I thought I had specified the setup in the first post.

[2018-01-15 19:06] MissPotato commented on #305
I can't seem to produce this on it's own, and I'm having a hard time narrowing it down.

[2018-01-16 07:30] rubensworks commented on #305
@MissPotato The best test would be to check if it occurs in Vanilla Furnaces is well. My assumption is that that will be the case for you.

[2018-01-16 15:10] KAfable opened #496 "Disabling Mechanical Squeezer in configs also disables Squeezer's JEI compat"
#### Issue type:

- :bug: Bug
____
#### Short description:
Disabling the mechanical squeezer in the configs seems to turn off the JEI compatability for BOTH the mechanical squeezer and the  regular squeezer.

Same applies to the drying basin and its mechanical counterpart.

#### Expected behaviour:
Leaves JEI recipes and descriptions for the regular squeezer intact.

#### Actual behaviour:
Disable

[2018-01-16 17:39] ouroborus commented on #357
Would really like to see this. Lists are particularly problematic when it comes to needing to edit a system.

[2018-01-17 01:29] nhinds commented on #494
My workaround was:
1. Get an op on the server to teleport me to them as I logged in - the login still failed, but the next time I logged in I was away from the display panel and didn't get disconnected
2. Cut power to my Refined Storage system / wait for it to drain its power
3. Teleport back and remove the display panel before turning the power back on

[2018-01-18 16:58] KAfable opened #497 "[Question - 1.12.2] Squeezer Minetweaker and JEI Compat"
#### Issue type:
- :question: Question
____

Sorry for making so many issue related to the Squeezer, but I really liked the mechanics of how it requires a semi Rube Goldberg style of automation with bouncing entities. I'm trying to remove the Squeezer's ore doubling functionality and been mostly unsuccessful with zenscript.

So going off of here: https://github.com/CyclopsMC/IntegratedDynamics-Com

[2018-01-18 17:20] josephcsible commented on #497
The incorrect JEI chance was a bug that's already fixed in git, and will be fixed in the next release.

[2018-01-19 05:47] haddow777 commented on #422
I am using Direwolf20's 1.7.1 build for MC 1.12.2. This release included the latest release of Integrated Dynamics and related libraries. I have been trying to build his rock crystal machine that uses redstone writers to signal to servos.
Recently I completely tore out the whole system, trashed it, and rebuilt it with all new hardware. I also added blocks with redstone on them between the writers

[2018-01-19 07:11] rubensworks commented on #497
@Vyraal1 If you want to disable all recipes, you may want to look into doing this via our recipe XML system. It allows you to override complete recipes sets easily, instead of having to disable each recipe separately. https://github.com/CyclopsMC/IntegratedDynamics/wiki/Recipe-XML

As mentioned by @josephcsible, this bug in the JEI compat will be fixed in next update.

<blockquote><img src="https:

[2018-01-19 07:11] #497 closed, assigned to nobody

[2018-01-19 22:31] drcrazy commented on #356
I have integrated dynamics 1.12.2-0.10.1 within DW20 1.12 1.7.1 pack.

Redstone writer fails to update output (provide signal or stop provide signal).

Setup: writer -> redstone -> Thermal rs relay
![image](https://user-images.githubusercontent.com/1382352/35174637-1ae7a2c0-fd81-11e7-92cb-bde98596af21.png)

writer has a variable which is currently 'true' but still no rs output.
![image](https://us

[2018-01-19 23:34] haddow777 commented on #422
I've been thinking about my setups failing the last while. It seems to me that things worked initially each time. Setting it up never brought on the issue. I'm pretty sure in each setup, I've tried moving something. That might be something that gets it to start being buggy. For instance, in the pic I posted, the failing redstone writer worked fine initially. Then I tried to make it look at least a

[2018-01-20 07:31] rubensworks commented on #356
@drcrazy No thanks, that won't be necessary.

[2018-01-20 09:38] rubensworks commented on #482
I just managed to reproduce this in ID Compat, will be fixed in the next version!

[2018-01-20 09:40] #482 closed, assigned to nobody

[2018-01-20 09:41] rubensworks commented on #496
Fixed in https://github.com/CyclopsMC/IntegratedDynamics-Compat/commit/e57063268374ccc49a0b211b1579c79096b84b69

[2018-01-20 09:41] #496 closed, assigned to nobody

[2018-01-20 11:02] rubensworks commented on #494
Just checked, this is not a problem in 1.12 anymore because of 0618a2e45f6409fbe4ef8491d526432b08edb073.

However, 1.10 is not maintained anymore, so I won't backport this fix, sorry.

[2018-01-20 11:02] #494 closed, assigned to nobody

[2018-01-20 12:20] #489 closed, assigned to nobody

[2018-01-20 12:20] #493 closed, assigned to nobody

[2018-01-20 12:27] rubensworks commented on #422
@uecasm Here's a dev build that adds some debug output. Would you be willing to run this and make sure that the broken writer (Y 57) changes values a few times? (make a backup of your world!)
Be sure to send me the log files after that.

https://www.dropbox.com/s/ucdjognixa1z05s/IntegratedDynamics-1.12.2-0.10.1-DEV.jar?dl=0

<blockquote><img src="https://cfl.dropboxstatic.com/static/images/icons12

[2018-01-20 12:29] #425 closed, assigned to nobody

[2018-01-20 22:40] uecasm commented on #422
Ok.  I tried calling the elevator to the problematic floor (which should have turned on the lamps but didn't -- note though that the OneProbe tooltip **did** update to show redstone 15 on the lamp when it should have turned on, so I think the redstone APIs are doing the right thing, just not giving the lamp a block update or doing it in the wrong order or something).  Then sent the elevator away a

[2018-01-21 00:43] haddow777 commented on #422
I thought I might do the same. Ignore the resource pack change in the beginning. I basically went up to my machine and threw in a number of gems the system would kick out, as the faulty writer only comes on when a gem is kicked from the system. A couple of writers are supposed to fire at the same time. In reality, one works and the other doesn't. I ran it a number of times the way it's supposed to

[2018-01-21 08:19] rubensworks commented on #422
@uecasm Alright, thanks, that's what I needed! Could you do the same with this dev build? It contains some more debug output: https://www.dropbox.com/s/lnn8rvdh0mm3eci/IntegratedDynamics-1.12.2-0.10.2-DEV.jar?dl=0
(Note to self: check the sided output on this one, also opposite sides)

@haddow777 Thanks! The debug output has however been tailored to @uecasm's setup, so the output will probably not

[2018-01-21 10:24] uecasm commented on #422
Ok.  New build, same test sequence:
https://www.dropbox.com/s/sldseixds5ifkys/IntegratedDynamicsLog2.txt?dl=1

[2018-01-21 10:35] rubensworks commented on #422
Alright, we're getting there. It looks like the redstone value that is read from the world is not the same as the one that is being stored in the tile entity. I think this may have something to do with a capability not being attached...

@uecasm Can you send the log again with this build?: https://www.dropbox.com/s/4av2uz3qu9d6y6z/IntegratedDynamics-1.12.2-0.10.2-DEV.jar?dl=0

[2018-01-21 11:38] uecasm commented on #422
https://www.dropbox.com/s/h3ut3ylu9ffu29e/IntegratedDynamicsLog3.txt?dl=1

Also, I don't know if this is significant, but I'm a little puzzled by the "side: south" that keeps popping up in the logs.  As you can see in the screenshot above, the writer that's toggling is facing upwards.  There is one on the side of a block at that level (I'm not sure which side) but it shouldn't be doing anything si

[2018-01-21 11:52] rubensworks commented on #422
It looks like the capability that holds the redstone level has the incorrect side...
I made a small change that might fix the problem.

@uecasm Could you try your setup with this new build? If it still doesn't work, please send me the logs again. https://www.dropbox.com/s/vgwyeaalbw1gt53/IntegratedDynamics-1.12.2-0.10.2-DEV.jar?dl=0

<blockquote><img src="https://cfl.dropboxstatic.com/static/image

[2018-01-21 14:05] rubensworks commented on #420
@thraaawn I just did some changes to make all ID network handling sided. Do you have deobfuscated (dev) builds available for Compact Machines that would allow me to test this a bit in a dev environment?